Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

feat: add wasm utilities to lockfile
  .vscode/extensions.json
  dev/lock.yml
  dev/mod.ts
  rust-toolchain.toml
  typegate/deno.json
  typegate/deno.lock
  whiz.yaml
Due: deno-fmt, deno-lint

feat: oauth2 can be optional
  dev/lock.yml
  meta-cli/Cargo.toml
  typegate/src/auth/auth.ts
  typegate/src/auth/protocols/oauth2.ts
  typegate/tests/auth/auth_test.ts
  typegraph/python/pyproject.toml
  website/docusaurus.config.js
Due: deno-fmt, deno-lint

feat: add blog content
  .vscode/settings.json
  poetry.lock
  website/blog/2023-05-31-programmable-glue/index.mdx
  website/blog/2023-06-18-programmable-glue/index.mdx
  website/docs/concepts/comparisons/index.mdx
  website/docs/concepts/overview/index.mdx
  website/shared/metatype-intro.mdx
  website/src/css/custom.scss
  website/src/pages/index.tsx
Due: es-lint

fix(typegate): use argumentTypes instead of inpType
  typegate/src/runtimes/grpc.ts
Due: deno-fmt, deno-lint

chore: update Cargo.lock
  Cargo.lock
Due: none

feat(policies): Implement policies in the TypeScript SDK
  Cargo.lock
  libs/common/src/typegraph/types.rs
  typegraph/core/Cargo.toml
  typegraph/core/src/conversion/mod.rs
  typegraph/core/src/conversion/policies.rs
  typegraph/core/src/conversion/types.rs
  typegraph/core/src/errors.rs
  typegraph/core/src/global_store.rs
  typegraph/core/src/lib.rs
  typegraph/core/src/typegraph.rs
  typegraph/core/src/types.rs
  typegraph/core/tests/deno.json
  typegraph/core/tests/typegraphs/types.ts
  typegraph/core/wit/typegraph.wit
  typegraph/deno/deno.lock
  typegraph/deno/src/mod.ts
  typegraph/deno/src/policies.ts
  typegraph/deno/src/runtimes/deno.ts
  typegraph/deno/src/typegraph.ts
  typegraph/deno/src/types.ts
Due: none

test: init import test
  typegate/tests/runtimes/deno/deno_dep.py
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/deno/ts/dep/main.ts
  typegate/tests/runtimes/deno/ts/dep/nested/dep.ts
Due: deno-fmt, deno-lint

feat(policy): Implement policy for python SDK (vnext)
  typegraph/core/tests/pyproject.toml
  typegraph/core/tests/snapshots/test_sdks__typegraphs__types.snap
  typegraph/core/tests/typegraphs/types.py
  typegraph/deno/src/mod.ts
  typegraph/deno/src/policy.ts
  typegraph/deno/src/runtimes/deno.ts
  typegraph/deno/src/types.ts
  typegraph/python_next/typegraph/g.py
  typegraph/python_next/typegraph/graph/typegraph.py
  typegraph/python_next/typegraph/policy.py
  typegraph/python_next/typegraph/runtimes/deno.py
  typegraph/python_next/typegraph/t.py
Due: none

Fix test
  meta-cli/src/codegen/deno.rs
Due: none

Fix github actions
  .github/workflows/tests.yml
  typegate/deno.lock
Due: none

Update workflows
  .github/workflows/tests.yml
  dev/lock.yml
Due: none

Fix workflow
  .github/workflows/tests.yml
  meta-cli/src/cli/serialize.rs
  typegate/deno.lock
  typegraph/core/tests/test_sdks.rs
Due: none

test(typegraph): ename typegraph file
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
  typegraph/core/tests/typegraphs/simple.py
  typegraph/core/tests/typegraphs/simple.ts
Due: none

Python3.8 compatibility
  typegraph/core/tests/poetry.lock
  typegraph/python_next/poetry.lock
  typegraph/python_next/pyproject.toml
  typegraph/python_next/typegraph/t.py
Due: none

Update deno.lock
  typegate/deno.lock
Due: none

feat: compress and encode folder
  meta-cli/src/typegraph/postprocess.rs
  typegate/tests/runtimes/deno/deno_dep.py
  typegate/tests/runtimes/deno/deno_test.ts
  typegraph/python/typegraph/runtimes/deno.py
Due: deno-fmt, deno-lint

fix: add deno module preprocessor
  meta-cli/src/cli/serialize.rs
Due: none

Fix test
  typegate/tests/injection/injection.py
Due: none

feat: untar utils
  typegate/src/runtimes/deno/deno.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

chore: update mod path
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
Due: deno-fmt, deno-lint

feat: enable import from tmp
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/deno.json
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
  typegate/src/runtimes/deno/worker.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

feat: consider gitignore
  Cargo.lock
  libs/common/Cargo.toml
  libs/common/src/archive.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

fix: inherit permissions
  typegate/src/runtimes/deno/deno_messenger.ts
Due: deno-fmt, deno-lint

feat: clean on reset
  typegate/src/runtimes/deno/worker.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

test: deno
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

fix: consider scripts/deno only
  libs/common/src/archive.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

chore: rollback deno.json
  typegate/deno.json
Due: none

chore: change script location
  typegate/tests/runtimes/deno/scripts/deno/ts/deno.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/dep/main.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/dep/nested/dep.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/math-npm.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/math.ts
Due: deno-fmt, deno-lint

fix: paths
  libs/common/src/archive.rs
  typegate/src/runtimes/deno/worker.ts
  typegate/src/utils.ts
  typegraph/python/typegraph/runtimes/deno.py
Due: deno-fmt, deno-lint

test: remove dyn reload
  typegate/tests/runtimes/deno/deno_reload.py
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

feat(typegate): add error messages
  typegate/native/src/runtimes/grpc.rs
Due: none

test(typegate): add tests for arrays and objects
  typegate/native/src/runtimes/grpc.rs
  typegate/tests/runtimes/grpc/grpc.py
  typegate/tests/runtimes/grpc/grpc_server/proto/geography.proto
  typegate/tests/runtimes/grpc/grpc_server/stub/geography.json
  typegate/tests/runtimes/grpc/grpc_test.ts
Due: deno-fmt, deno-lint

feat(typegate): improve test descriptions
  typegate/tests/runtimes/grpc/grpc_test.ts
Due: deno-fmt, deno-lint

chore(typegate): format code
  typegate/tests/runtimes/grpc/grpc_test.ts
Due: deno-fmt, deno-lint

chore(typegate): format code
  typegate/tests/runtimes/grpc/grpc_server/proto/geography.proto
Due: none

chore: overlap paths if absolute
  meta-cli/src/typegraph/postprocess.rs
Due: none

test: update dynamic reload
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
