Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

Update deno.lock
  typegate/deno.lock
Due: none

refactor: Move hooks
  typegate/src/hooks/mod.ts
  typegate/src/hooks/prisma/migrations.ts
  typegate/src/main.ts
  typegate/src/register.ts
  typegate/src/runtimes/prisma.ts
  typegate/tests/utils/memory_register.ts
Due: deno-fmt, deno-lint

refactor: Typegate class
  typegate/src/engine.ts
  typegate/src/engine/computation_engine.ts
  typegate/src/hooks/mod.ts
  typegate/src/main.ts
  typegate/src/runtimes/prisma_migration.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/system_typegraphs.ts
  typegate/src/typegate/mod.ts
  typegate/src/typegate/rate_limiter.ts
  typegate/src/typegate/register.ts
  typegate/tests/utils.ts
  typegate/tests/utils/memory_register.ts
  typegate/tests/utils/metatest.ts
  typegate/tests/utils/no_limiter.ts
  typegate/tests/utils/single_register.ts
Due: deno-fmt, deno-lint

Fix rebase
  typegate/src/engine.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegate/register.ts
  typegate/tests/utils/memory_register.ts
  typegate/tests/utils/single_register.ts
Due: deno-fmt, deno-lint

refactor: hooks and register in Typegate
  typegate/src/engine.ts
  typegate/src/hooks/mod.ts
  typegate/src/main.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/system_typegraphs.ts
  typegate/src/typegate/mod.ts
  typegate/src/typegate/register.ts
  typegate/tests/utils.ts
  typegate/tests/utils/metatest.ts
Due: deno-fmt, deno-lint

Custom runtimes in ReplicatedRegister
  typegate/src/register.ts
Due: deno-fmt, deno-lint

fix: Address comments
  typegate/src/engine.ts
  typegate/src/register.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraph.ts
  typegate/tests/e2e/cli_deploy_test.ts
Due: deno-fmt, deno-lint

Fix rate limiter test
  typegate/tests/rate_limiter/rate_limiter_test.ts
Due: deno-fmt, deno-lint

refactoring
  typegate/src/typegate/mod.ts
  typegate/src/typegate/register.ts
  typegate/src/typegraph.ts
  typegate/tests/e2e/cli_deploy_test.ts
Due: deno-fmt, deno-lint

test: use file list in snapshot, refactor deno import
  libs/common/src/archive.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/deno.json
  typegate/src/utils.ts
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
  typegraph/core/tests/test_sdks.rs
Due: deno-fmt, deno-lint

fix: duplicate entries, coerce with Typegraph type when deserialize
  libs/common/src/archive.rs
  meta-cli/src/typegraph/postprocess.rs
  typegraph/core/tests/test_sdks.rs
Due: none

feat(Deno): support deno function defined in multiple files (#345)
  Cargo.lock
  libs/common/Cargo.toml
  libs/common/src/archive.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/deno.json
  typegate/src/config.ts
  typegate/src/log.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
  typegate/src/runtimes/deno/shared_types.ts
  typegate/src/runtimes/deno/worker.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
  typegate/src/utils.ts
  typegate/tests/internal/scripts/deno/ts/logic.ts
  typegate/tests/runtimes/deno/deno_dep.py
  typegate/tests/runtimes/deno/deno_reload.py
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/deno.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/dep/main.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/dep/nested/dep.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/math-npm.ts
  typegate/tests/runtimes/deno/scripts/deno/ts/math.ts
  typegate/tests/schema_validation/scripts/deno/ts/circular.ts
  typegate/tests/type_nodes/scripts/deno/ts/either/user_register.ts
  typegate/tests/type_nodes/scripts/deno/ts/union/color_converter.ts
  typegate/tests/type_nodes/scripts/deno/ts/union/phone_register.ts
  typegate/tests/type_nodes/scripts/deno/ts/union/vec_normalizer.ts
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
  typegraph/core/tests/test_sdks.rs
  typegraph/core/tests/typegraphs/scripts/deno/three.ts
  typegraph/core/tests/typegraphs/simple.py
  typegraph/core/tests/typegraphs/simple.ts
  typegraph/python/typegraph/runtimes/deno.py
Due: deno-fmt, deno-lint

refactor: Stricter type system in the typegate runtimes
  libs/common/src/typegraph/runtimes.rs
  libs/xtask/src/codegen/jsonschema.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/engine.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/http.ts
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/src/runtimes/prisma/migration.ts
  typegate/src/runtimes/prisma/mod.ts
  typegate/src/runtimes/prisma/prisma.ts
  typegate/src/runtimes/prisma/types.ts
  typegate/src/runtimes/random.ts
  typegate/src/runtimes/temporal.ts
  typegate/src/system_typegraphs.ts
  typegate/src/type_node.ts
  typegate/src/typegate/hooks.ts
  typegate/src/typegate/mod.ts
  typegate/src/typegraph.ts
  typegate/src/typegraph/parser.ts
  typegate/src/types.ts
  typegate/src/types/typegraph.ts
  typegate/src/utils.ts
  typegate/tests/utils.ts
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

feat: improve landing page
  website/src/pages/index.py
  website/src/pages/index.tsx
Due: es-lint

chore: attempt to fix merge
  .pre-commit-config.yaml
  libs/common/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-cli/src/typegraph/postprocess.rs
  typegate/deno.lock
  typegate/native/Cargo.toml
  typegate/tests/e2e/typegraph/typegraphs/deno/three.ts
  typegate/tests/e2e/typegraph/typegraphs/python/simple.py
  typegate/tests/e2e/typegraph/typegraphs/python/three.ts
  typegraph/core/Cargo.toml
Due: deno-fmt, deno-lint

fix: meta-cli
  typegate/tests/utils.ts
  typegate/tests/utils/metatest.ts
Due: deno-fmt, deno-lint

fix: generate tar at root
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/runtimes/deno/deno.ts
  typegate/src/utils.ts
  typegate/tests/runtimes/deno/deno_dep.py
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/deno/ts/deno.ts
  typegate/tests/runtimes/deno/ts/dep/main.ts
  typegate/tests/runtimes/deno/ts/dep/nested/dep.ts
  typegate/tests/runtimes/deno/ts/math-npm.ts
  typegate/tests/runtimes/deno/ts/math.ts
  typegate/tests/type_nodes/ts/either/user_register.ts
  typegate/tests/type_nodes/ts/union/color_converter.ts
  typegate/tests/type_nodes/ts/union/phone_register.ts
  typegate/tests/type_nodes/ts/union/vec_normalizer.ts
  typegraph/python/typegraph/runtimes/deno.py
Due: deno-fmt, deno-lint

test: update typegraph-next snapshot
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
Due: none

test: fix remaining test, and example math_.py
  examples/typegraphs/math/math_.py
  meta-cli/src/typegraph/postprocess.rs
  typegate/tests/internal/ts/logic.ts
  typegate/tests/runtimes/deno/deno_dep.py
  typegate/tests/schema_validation/ts/circular.ts
Due: deno-fmt, deno-lint

fix: make sure tg_path is absolute
  meta-cli/src/typegraph/postprocess.rs
Due: none

Implement basic schema generation on the typegatej
  libs/common/src/typegraph/runtimes.rs
  typegate/native/src/typegraph.rs
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/src/runtimes/prisma/hooks/mod.ts
  typegate/src/runtimes/prisma/types.ts
  typegate/src/type_node.ts
  typegate/src/typegate/mod.ts
  typegate/src/types/typegraph.ts
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/runtimes/prisma/schema_generation_test.ts
  typegate/tests/utils.ts
  typegraph/python/typegraph/providers/prisma/relations.py
  typegraph/python/typegraph/providers/prisma/runtimes/prisma.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

fix: attempt fixing paths
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/runtimes/deno.py
Due: none

fix: attempt to keep to relative and let meta-cli infer the path
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/runtimes/deno.py
Due: none

test: fix order, remove scripts/deno
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

test: use absolute path for tmp dir
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

test: add more tests
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/runtimes/prisma/schema_generation_test.ts
  typegraph/python/tests/runtimes/prisma/test_schema.py
  typegraph/python/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

feat: add gif scroll saver
  .github/dependabot.yml
  website/src/components/animations/animated_canvas.tsx
  website/src/components/animations/hooks.tsx
Due: es-lint

feat: rework readme
  .pre-commit-config.yaml
  README.md
  dev/lock.ts
  dev/lock.yml
  dev/utils.ts
  website/blog/2023-06-18-programmable-glue/index.mdx
  website/docs/concepts/overview/image.drawio.svg
  website/shared/metatype-intro.mdx
  website/src/components/animations/animated_canvas.tsx
  website/src/pages/index.py
  website/src/pages/index.tsx
  website/static/images/castles/building.png
  website/static/images/castles/modulable.png
  website/static/images/castles/reusable.png
  website/static/images/castles/stable.png
  website/static/images/logo-bg.svg
  website/static/images/logo.svg
Due: deno-fmt, deno-lint, es-lint

feat: rework readme
  README.md
Due: none

feat: improve code quality
  dev/deps.ts
  dev/tree-view.ts
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/engine.ts
  typegate/src/typecheck/code_generator.ts
  typegate/src/typecheck/input.ts
  typegate/src/typecheck/result.ts
  typegate/src/typegraph/utils.ts
  typegate/src/typegraph/visitor.ts
  typegate/tests/runtimes/deno/ts/deno.ts
  typegraph/python/typegraph/graph/models.py
  website/docs/reference/typegraph/python/typegraph/graph/models.md
  website/docs/reference/typegraph/python/typegraph/graph/typegraph.md
Due: deno-fmt, deno-lint

fix: tests
  .github/workflows/release.yml
  .github/workflows/tests.yml
  dev/Dockerfile
  dev/deps.ts
  dev/lock.yml
  dev/test.ts
  meta-cli/Cargo.toml
  meta-cli/src/typegraph/loader/discovery.rs
  meta-cli/src/typegraph/loader/mod.rs
  typegate/deno.json
  typegate/src/runtimes/deno/deno.ts
  typegate/src/utils.ts
  typegate/tests/e2e/cli_deploy_test.ts
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/e2e/typegraph/typegraph_test.ts
  typegate/tests/e2e/typegraph/typegraphs/deno/scripts/three.ts
  typegate/tests/e2e/typegraph/typegraphs/deno/simple.ts
  typegate/tests/e2e/typegraph/typegraphs/python/scripts/three.ts
  typegate/tests/e2e/typegraph/typegraphs/python/simple.py
  typegate/tests/graphql/request_parser_test.ts
  typegate/tests/http/http_content_type_test.ts
  typegate/tests/importers/gql_original.py
  typegate/tests/importers/importers_test.ts
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/deno/dynamic/1.ts
  typegate/tests/runtimes/deno/dynamic/2.ts
  typegate/tests/runtimes/http/http.py
  typegate/tests/type_nodes/union_node_quantifier.py
  typegate/tests/typecheck/input_validator_test.ts
  typegate/tests/typecheck/typecheck_test.ts
  typegate/tests/utils.ts
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/importers/base/importer.py
  typegraph/python/typegraph/utils/loaders.py
Due: deno-fmt, deno-lint

fix: tests
  .github/workflows/tests.yml
  meta-cli/tests/e2e/snapshots/e2e__e2e__validator__invalid_injections.snap
  meta-cli/tests/e2e/validator.rs
  typegraph/core/src/snapshots/typegraph_core__tests__successful_serialization.snap
  typegraph/python/pyproject.toml
Due: none

Move common::typegraph::runtimes submodules into standalone files
  libs/common/src/typegraph/mod.rs
  libs/common/src/typegraph/runtimes.rs
  libs/common/src/typegraph/runtimes/deno.rs
  libs/common/src/typegraph/runtimes/graphql.rs
  libs/common/src/typegraph/runtimes/http.rs
  libs/common/src/typegraph/runtimes/mod.rs
  libs/common/src/typegraph/runtimes/prisma.rs
  libs/common/src/typegraph/runtimes/random.rs
  libs/common/src/typegraph/runtimes/s3.rs
  libs/common/src/typegraph/runtimes/temporal.rs
  libs/xtask/src/codegen/jsonschema.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/typegraph/postprocess.rs
  meta-cli/src/typegraph/utils.rs
  typegate/src/types/typegraph.ts
  typegraph/core/src/conversion/runtimes.rs
  typegraph/core/src/snapshots/typegraph_core__tests__successful_serialization.snap
  typegraph/core/src/typegraph.rs
  typegraph/core/tests/deno.lock
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

Remove old schema generator; inline snapshots
  libs/common/src/typegraph/runtimes/prisma.rs
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/runtimes/prisma/schema_generation_test.ts
  typegate/tests/utils.ts
  typegraph/python/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/python/typegraph/providers/prisma/schema.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

feat: add python wasi reactor deno bindings
  Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/src/runtimes/python/mod.rs
  typegate/native/src/runtimes/python/python_bindings.rs
  typegate/native/src/runtimes/python/wasi_vm.rs
  typegate/native/src/runtimes/python/wasmedge_sdk_bindgen.rs
Due: none

feat: add typegraph queries parsing
  .github/workflows/tests.yml
  Cargo.lock
  libs/common/src/typegraph/mod.rs
  meta-cli/src/typegraph/loader/mod.rs
  typegate/deno.lock
  typegate/tests/rest/custom.py
  typegate/tests/rest/rest.ts
  typegate/tests/rest/rest_test.ts
  typegraph/core/Cargo.toml
  typegraph/core/src/lib.rs
  typegraph/core/src/typegraph.rs
  typegraph/core/wit/host.wit
  typegraph/core/wit/typegraph.wit
  typegraph/deno/src/deps.ts
  typegraph/deno/src/imports.ts
  typegraph/deno/src/typegraph.ts
  typegraph/python/tests/test_dependency.py
  typegraph/python/tests/test_typegraph.py
  typegraph/python_next/typegraph_next/graph/typegraph.py
  typegraph/python_next/typegraph_next/imports.py
  typegraph/python_next/typegraph_next/wit.py
  typegraph/rust/src/main.rs
Due: deno-fmt, deno-lint

refactor: Create schema generator class
  .pre-commit-config.yaml
  typegate/deno.lock
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
Due: deno-fmt, deno-lint

feat: add python vm, init typegate integration
  typegate/src/runtimes/python_wasi/memory.ts
  typegate/src/runtimes/python_wasi/python_vm.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

feat(prisma): Customized string type
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/tests/runtimes/prisma/schema_generation_test.ts
Due: deno-fmt, deno-lint

Dynamic runtime registration
  typegate/src/runtimes/deno.ts
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/http.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/python_wasi.ts
  typegate/src/runtimes/random.ts
  typegate/src/runtimes/s3.ts
  typegate/src/runtimes/temporal.ts
  typegate/src/runtimes/wasmedge.ts
  typegate/src/typegate/mod.ts
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
