Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

docs: improves `/guides/files-upload` (#678)
  website/docs/guides/files-upload/index.mdx
  website/shared/s3/files.graphql
  website/shared/s3/index.mdx
Due: none

chore(docs): improve metatype basics tutorial
  .ghjk/lock.json
  website/docs/guides/import-external-modules/func.graphql
  website/docs/guides/import-external-modules/index.mdx
  website/docs/reference/meta-cli/configuration-file.mdx
  website/docs/tutorials/metatype-basics/index.mdx
Due: none

chore(docs): add playground.
  website/docs/tutorials/quick-start/index.mdx
  website/shared/install/meta-cli.mdx
  website/shared/projects/first-project.graphql
  website/shared/projects/first-project.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
Due: none

chore: resolve merge conflicts
  libs/common/src/typegraph/runtimes/wasm.rs
  typegate/src/runtimes/wasm.ts
  typegate/tests/runtimes/wasm/wasm_test.ts
  typegraph/core/src/utils/postprocess/wasm_rt.rs
Due: deno-fmt, deno-lint

chore(test): move ts tg_deploy out of meta test
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegate/tests/runtimes/wasm/wasm_test.ts
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

docs: add `reference/programmatic-deployment/` (#686)
  website/docs/reference/programmatic-deployment/index.mdx
Due: none

fix(test): fix wrong module references in test
  typegate/tests/runtimes/wasm/wasm.ts
  typegate/tests/runtimes/wasm/wasm_sync_test.ts
Due: deno-fmt, deno-lint

docs: add examples for each command (#684)
  examples/typegraphs/http-runtime.py
  examples/typegraphs/random-field.py
  examples/typegraphs/roadmap-random.py
  examples/typegraphs/roadmap-random.ts
  website/docs/concepts/features-overview/index.mdx
  website/docs/reference/meta-cli/available-commands.mdx
  website/docs/reference/meta-cli/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/reference/runtimes/http/http.graphql
  website/docs/reference/runtimes/http/index.mdx
  website/docs/reference/runtimes/index.mdx
  website/docs/reference/runtimes/prisma/index.mdx
  website/docs/reference/runtimes/python/index.mdx
  website/docs/reference/runtimes/random/index.mdx
  website/docs/reference/runtimes/random/random-field.graphql
  website/docs/reference/runtimes/random/random.graphql
  website/docs/reference/runtimes/s3/index.mdx
  website/docs/reference/runtimes/temporal/index.mdx
  website/docs/reference/runtimes/wasm/index.mdx
  website/docs/reference/runtimes/wasmedge/index.mdx
  website/docs/reference/typegate/index.mdx
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/MiniQL/index.tsx
Due: es-lint

fix(test): resolve validation failure.
  typegate/src/runtimes/wasm.ts
Due: deno-fmt, deno-lint

address comments
  examples/typegraphs/temporal.py
  examples/typegraphs/temporal.ts
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/reference/runtimes/temporal/index.mdx
  website/src/components/MiniQL/index.tsx
Due: es-lint

fix: disable playground
  website/docs/reference/runtimes/temporal/index.mdx
Due: none

docs: add dynamic injection
  website/docs/reference/types/injections.mdx
Due: none

fix: injection loc
  website/docs/reference/types/injections.mdx
Due: none

fix: limit contraction usage
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/shared/install/typegate.mdx
Due: none

fix injection typegraph and add to test
  examples/typegraphs/injections.py
  examples/typegraphs/injections.ts
  website/docs/reference/types/injections.mdx
Due: none

rename types
  examples/typegraphs/injections.py
  examples/typegraphs/injections.ts
Due: none

feat: better error messages
  libs/common/src/graphql.rs
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/python/typegraph/graph/tg_deploy.py
Due: none

chore(sdk, test): python sdk wasm refactor, fix python wasm and python_wasi tests
  typegate/tests/e2e/cli/deploy_test.ts.disable
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/wasm/wasm.py
  typegate/tests/runtimes/wasm/wasm_test.ts
  typegraph/python/typegraph/runtimes/wasm.py
Due: deno-fmt, deno-lint

chore(docs): address comments.
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
Due: none

chore(docs): address comments
  website/docs/reference/meta-cli/configuration-file.mdx
  website/docs/tutorials/metatype-basics/index.mdx
Due: none

fix: broken tests
  .ghjk/lock.json
  examples/typegraphs/authentication.ts
  examples/typegraphs/files-upload.py
  examples/typegraphs/func-ctx.py
  examples/typegraphs/func-gql.py
  examples/typegraphs/math.py
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/securing-requests/index.mdx
Due: none

docs: improve `/tutorials/quick-start` section. (#681)
  examples/typegraphs/package.json
  examples/typegraphs/pnpm-lock.yaml
  examples/typegraphs/quick-start-project.py
  examples/typegraphs/quick-start-project.ts
  website/docs/reference/types/index.mdx
  website/docs/tutorials/quick-start/index.mdx
  website/shared/install/meta-cli.mdx
  website/shared/install/typegate.mdx
  website/shared/projects/first-project.graphql
  website/shared/projects/first-project.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
  website/static/images/tutorial/query-result.png
  website/static/images/tutorial/running-typegate.png
  website/static/images/tutorial/tg-on-typegate.png
Due: none

docs: improve `/docs/tutorials/metatype-basics` (#688)
  website/docs/guides/import-external-modules/func.graphql
  website/docs/guides/import-external-modules/index.mdx
  website/docs/reference/meta-cli/configuration-file.mdx
  website/docs/tutorials/metatype-basics/index.mdx
Due: none

docs: improve `/reference/runtimes/` (#676)
  examples/typegraphs/temporal.py
  examples/typegraphs/temporal.ts
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/reference/runtimes/temporal/index.mdx
  website/src/components/MiniQL/index.tsx
Due: es-lint

chore(sdk): add typegraph path in tg_manage
  typegate/src/typegate/mod.ts
  typegate/tests/runtimes/python_wasi/python_wasi.ts
  typegraph/python/typegraph/graph/tg_artifact_upload.py
  typegraph/python/typegraph/graph/tg_deploy.py
  typegraph/python/typegraph/graph/tg_manage.py
Due: deno-fmt, deno-lint

fix: broken links
  .ghjk/lock.json
  website/docs/concepts/features-overview/index.mdx
  website/docs/reference/types/injections.mdx
  website/static/specs/0.0.3.json
Due: none

chore(ci): update test trigger for test-full and install packages inside examples/typegraphs
  .github/workflows/tests.yml
  website/shared/install/typegate.mdx
Due: none

fix(ci): fix python_wasi converage issue in CI
  .github/workflows/tests.yml
Due: none

fix(python): typegate error propagation
  .ghjk/lock.json
  typegraph/python/typegraph/graph/tg_deploy.py
Due: none

fix(cli): error format
  libs/common/src/graphql.rs
  typegraph/python/typegraph/graph/tg_deploy.py
Due: none

chore(docs): update artifact upload protocol diagram
  docs/workflows/artifact_upload_protocol.drawio.svg
Due: none

fix: missed changes on python sdk
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  examples/deploy/wasm/rust.wasm
  typegraph/python/typegraph/graph/tg_deploy.py
  typegraph/python/typegraph/runtimes/wasm.py
Due: none

feat: upload `PythonRuntime` artifacts and deps (#672)
  .github/workflows/tests.yml
  docs/workflows/artifact_upload_protocol.drawio.svg
  docs/workflows/upload_protocol.svg
  libs/common/src/typegraph/runtimes/python.rs
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/typegate/artifacts/mod.ts
  typegate/src/typegate/mod.ts
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/python_wasi/python_wasi.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegate/tests/runtimes/wasm/wasm.py
  typegate/tests/runtimes/wasm/wasm_test.ts
  typegate/tests/utils/test.ts
  typegraph/core/src/conversion/runtimes.rs
  typegraph/core/src/utils/postprocess/python_rt.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/sdk/src/runtimes/python.ts
  typegraph/node/sdk/src/tg_artifact_upload.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/python/typegraph/graph/shared_types.py
  typegraph/python/typegraph/graph/tg_artifact_upload.py
  typegraph/python/typegraph/graph/tg_deploy.py
  typegraph/python/typegraph/graph/tg_manage.py
  typegraph/python/typegraph/runtimes/python.py
  typegraph/python/typegraph/runtimes/wasm.py
  website/shared/install/typegate.mdx
Due: deno-fmt, deno-lint

fix(examples): align with s3 changes
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  typegraph/python/typegraph/graph/tg_deploy.py
Due: none

fix(examples): update sample wasm
  examples/deploy/wasm/rust.wasm
Due: none

fix(wasm): null or undefined should behave similarly
  typegate/engine/src/runtimes/wasm/conversion.rs
Due: none

fix: website
  .ghjk/deno.lock
  .github/pull_request_template.md
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/css/custom.scss
  website/tailwind.config.js
  website/tsconfig.json
Due: none

feat: update headline
  dev/lock.yml
  meta-cli/Cargo.toml
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
Due: none

fix: eslint
  website/package.json
  website/pnpm-lock.yaml
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
