Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
        exclude: .vscode/.*\.json
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: typegate/deno.lock
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.254"
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
        args: ["--locked"]
      - id: clippy
        args: ["--locked", "--", "--deny", "warnings"]
  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/
      - id: version
        name: "Lock versions"
        always_run: true
        language: system
        entry: bash -c 'deno run -A dev/lock.ts'
        pass_filenames: false
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
      - id: insert-license
        name: "License header python"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=#"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - python
        files: ^typegraph/
      - id: insert-license
        name: "License header rust"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - rust
        files: ^(typegate|libs|meta-cli)/
      - id: insert-license
        name: "License header deno"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
        files: ^(typegate|dev)/
      - id: insert-license
        name: "License header typescript"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
          - tsx
        files: ^website/

Update class syntax (#301)
  typegate/tests/simple/__snapshots__/class_syntax_test.ts.snap
  typegate/tests/simple/class_syntax_test.ts
  typegraph/python/typegraph/types.py
Due: deno-fmt, deno-lint

update geneated importers
  examples/typegraphs/mybusiness/mybusiness.py
  examples/typegraphs/mybusiness/mybusiness.pyi
  examples/typegraphs/petstore_v3/petstore_v3.py
  examples/typegraphs/petstore_v3/petstore_v3.pyi
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/google.py
  website/docs/tutorials/import-your-api-blocks/google.pyi
Due: none

fix doc
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

fix tests
  typegraph/python/tests/__snapshots__/importers/google_importer_codegen.txt
  typegraph/python/tests/__snapshots__/importers/google_importer_type_hint_codegen.txt
  typegraph/python/tests/__snapshots__/importers/graphql_importer_codegen.txt
  typegraph/python/tests/__snapshots__/importers/graphql_importer_type_hint_codegen.txt
  typegraph/python/tests/__snapshots__/importers/openapi_importer_codegen.txt
  typegraph/python/tests/__snapshots__/importers/openapi_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/test_google_importer.py
  typegraph/python/tests/importers/test_graphql_impoter.py
  typegraph/python/tests/importers/test_openapi_importer.py
Due: none

fix attribute getter
  examples/typegraphs/hivdb/hivdb.py
  examples/typegraphs/hivdb/hivdb.pyi
  typegraph/python/tests/importers/tests/__snapshots__/importers/google_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/google_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/graphql_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/graphql_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/openapi_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/openapi_importer_type_hint_codegen.txt
  typegraph/python/typegraph/importers/base/importer.py
Due: none

feat: website animation engine
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .vscode/extensions.json
  Cargo.lock
  README.md
  dev/Dockerfile
  dev/lock.yml
  dev/mod.ts
  dev/tree-view.ts
  meta-cli/Cargo.toml
  typegate/src/config.ts
  typegate/src/types/typegraph.ts
  typegate/tests/utils.ts
  website/docs.py
  website/docs/guides/self-hosting.md
  website/docs/reference/changelog.mdx
  website/docs/tutorials/getting-started.mdx
  website/docusaurus.config.js
  website/package.json
  website/packages/changelog.js
  website/packages/code-loader-transform.js
  website/packages/code-loader.js
  website/packages/tailwindcss.js
  website/pnpm-lock.yaml
  website/src/components/MiniQL/index.tsx
  website/src/components/animations/a.tsx
  website/src/components/animations/block.tsx
  website/src/components/animations/canvas.tsx
  website/src/components/animations/hooks.tsx
  website/src/components/animations/textarrow.tsx
  website/src/css/custom.scss
  website/src/pages/castles.tsx
  website/src/pages/index.module.scss
  website/src/pages/index.tsx
  website/static/specs/0.0.1.json
  website/tailwind.config.js
Due: deno-fmt, deno-lint, es-lint

Add type hint for importers (#302)
  examples/typegraphs/hivdb/hivdb.py
  examples/typegraphs/hivdb/hivdb.pyi
  examples/typegraphs/mybusiness/mybusiness.py
  examples/typegraphs/mybusiness/mybusiness.pyi
  examples/typegraphs/petstore_v3/petstore_v3.py
  examples/typegraphs/petstore_v3/petstore_v3.pyi
  typegraph/python/tests/__snapshots__/importers/google_importer_codegen.txt
  typegraph/python/tests/__snapshots__/importers/google_importer_type_hint_codegen.txt
  typegraph/python/tests/__snapshots__/importers/graphql_importer_codegen.txt
  typegraph/python/tests/__snapshots__/importers/graphql_importer_type_hint_codegen.txt
  typegraph/python/tests/__snapshots__/importers/openapi_importer_codegen.txt
  typegraph/python/tests/__snapshots__/importers/openapi_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/test_google_importer.py
  typegraph/python/tests/importers/test_graphql_impoter.py
  typegraph/python/tests/importers/test_openapi_importer.py
  typegraph/python/tests/importers/tests/__snapshots__/importers/google_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/google_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/graphql_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/graphql_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/openapi_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/openapi_importer_type_hint_codegen.txt
  typegraph/python/typegraph/importers/base/importer.py
  typegraph/python/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/google.py
  website/docs/tutorials/import-your-api-blocks/google.pyi
Due: none

feat: add more castles
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/animations/block.tsx
  website/src/components/animations/doublearrow.tsx
  website/src/components/animations/hooks.tsx
  website/src/components/animations/textarrow.tsx
  website/src/css/custom.scss
  website/src/pages/castles.tsx
  website/src/pages/index.tsx
Due: es-lint

feat: make animation relative
  website/src/components/animations/animated.tsx
  website/src/components/animations/canvas.tsx
  website/src/components/animations/hooks.tsx
  website/src/pages/castles.tsx
  website/src/pages/index.tsx
Due: es-lint

feat: redesign
  typegate/src/web/playground.ts
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/ChoicePicker/index.tsx
  website/src/components/MiniQL/GraphiQLInterface.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/MiniQL/styles.module.scss
  website/src/components/animations/hooks.tsx
  website/src/css/custom.scss
  website/src/pages/castles.tsx
  website/src/pages/index.graphql
  website/src/pages/index.py
  website/src/pages/index.tsx
  website/tailwind.config.js
  website/use-cases/automatic-crud-validation/index.mdx
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/microservice-orchestration/index.mdx
Due: deno-fmt, deno-lint, es-lint

feat: fix deno deprecation
  .pre-commit-config.yaml
  dev/mod.ts
  dev/tree-view.ts
  typegate/src/config.ts
  typegate/src/typegate.ts
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

feat: wording
  README.md
  dev/lock.yml
  meta-cli/Cargo.toml
  typegraph/python/pyproject.toml
  website/docusaurus.config.js
Due: none

feat: fix docusaurus
  website/package.json
  website/packages/code-loader.js
  website/pnpm-lock.yaml
  website/src/components/ChoicePicker/index.tsx
  website/src/components/MiniQL/graphiql.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/MiniQL/memory_store.ts
  website/src/components/animations/animated_canvas.tsx
  website/src/components/castles.tsx
  website/src/pages/index.tsx
Due: es-lint

feat: fix pipe
  dev/mod.ts
  typegate/deno.lock
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

fix field name
  typegraph/python/typegraph/importers/base/importer.py
Due: none

fix: deno upgrade
  .github/workflows/release.yml
  .github/workflows/tests.yml
  dev/Dockerfile
  dev/lock.yml
  typegate/native/src/runtimes/prisma/migration.rs
  typegate/tests/introspection/__snapshots__/introspection_test.ts.snap
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
  typegate/tests/query_parsers/__snapshots__/query_parsers_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/array_of_optional_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/either_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/typecheck/__snapshots__/input_validator_test.ts.snap
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

fix: css on mobile
  website/src/components/MiniQL/index.tsx
  website/src/css/custom.scss
Due: es-lint

feat: review homepage
  website/src/components/ChoicePicker/index.tsx
  website/src/components/MiniQL/graphiql.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/animations/animated_canvas.tsx
  website/src/components/animations/hooks.tsx
  website/src/components/castles.tsx
  website/src/css/custom.scss
  website/src/pages/index.py
  website/src/pages/index.tsx
Due: es-lint

fix: links
  website/use-cases/automatic-crud-validation/index.mdx
  website/use-cases/orm-for-the-edge/index.mdx
Due: none

Fix unions
  typegate/deno.lock
  typegate/src/engine.ts
  typegate/src/planner/args.ts
  typegate/src/planner/mod.ts
  typegate/src/typecheck/matching_variant.ts
  typegate/src/typecheck/result.ts
  typegate/src/typegraph/visitor.ts
  typegate/src/types.ts
  typegate/tests/simple/class_syntax_test.ts
Due: deno-fmt, deno-lint

Move code_generator out in a dedicated file
  typegate/src/typecheck/code_generator.ts
  typegate/src/typecheck/input.ts
Due: deno-fmt, deno-lint

Draft result validator
  typegate/src/typecheck/code_generator.ts
  typegate/src/typecheck/common.ts
  typegate/src/typecheck/input.ts
  typegate/src/typecheck/result.ts
Due: deno-fmt, deno-lint

Update deno.lock
  typegate/deno.lock
Due: none

Fix typecheck test
  typegate/src/engine.ts
  typegate/src/planner/args.ts
  typegate/src/typecheck.ts
  typegate/src/typecheck/code_generator.ts
  typegate/src/typecheck/common.ts
  typegate/src/typecheck/input.ts
  typegate/src/typecheck/result.ts
  typegate/tests/typecheck/__snapshots__/typecheck_test.ts.snap
  typegate/tests/typecheck/typecheck_test.ts
  typegate/tests/utils/metatest.ts
Due: deno-fmt, deno-lint

Remove unwanted fields
  typegate/src/engine.ts
  typegate/src/typecheck/result.ts
Due: deno-fmt, deno-lint

Refactoring validator
  typegate/src/typecheck/input.ts
Due: deno-fmt, deno-lint

Fix test
  libs/common/src/typegraph/types.rs
  libs/common/src/typegraph/validator.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/tests/typegraphs/union_node.py
  meta-cli/tests/e2e/snapshots/e2e__e2e__validator__invalid_injections.snap
Due: none

Move the computation into into its own module
  typegate/src/engine.ts
  typegate/src/engine/computation_engine.ts
Due: deno-fmt, deno-lint

Field inclusion, fix unions
  libs/common/src/typegraph/types.rs
  libs/common/src/typegraph/validator.rs
  libs/common/src/typegraph/visitor.rs
  meta-cli/tests/e2e/validator.rs
  typegate/src/engine.ts
  typegate/src/planner/mod.ts
  typegate/src/typecheck/input.ts
  typegate/src/typecheck/result.ts
  typegate/src/typegraph.ts
  typegate/tests/introspection/__snapshots__/union_either_test.ts.snap
  typegate/tests/introspection/union_either.py
  typegate/tests/schema_validation/circular.py
  typegate/tests/schema_validation/circular_test.ts
  typegate/tests/type_nodes/__snapshots__/either_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/either_node.py
  typegate/tests/type_nodes/either_test.ts
  typegate/tests/type_nodes/ts/union/color_converter.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_node_attr.py
  typegate/tests/type_nodes/union_node_attr_test.ts
  typegate/tests/type_nodes/union_node_quantifier.py
  typegate/tests/type_nodes/union_node_quantifier_test.ts
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

Apply suggestions
  typegate/src/typecheck/common.ts
  typegate/src/typecheck/result.ts
Due: deno-fmt, deno-lint

Add some documentation comments
  typegate/src/engine/computation_engine.ts
Due: deno-fmt, deno-lint

Integer validation
  typegate/src/typecheck/code_generator.ts
Due: deno-fmt, deno-lint

Test boolean validator
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

Rename interface
  typegate/src/engine.ts
Due: deno-fmt, deno-lint

Test multilevel unions
  typegate/src/engine.ts
  typegate/src/typecheck/matching_variant.ts
  typegate/src/typecheck/result.ts
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

Test selection sets
  typegate/src/planner/mod.ts
  typegate/tests/planner/planner_test.ts
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

Fix tests
  typegate/src/planner/mod.ts
  typegate/tests/simple/__snapshots__/class_syntax_test.ts.snap
  typegate/tests/simple/class_syntax.py
Due: deno-fmt, deno-lint
