Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

fix: Only require venv for python modules
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/loader/mod.rs
Due: none

fix: ci issues
  Cargo.lock
  website/docs/tutorials/building-feature-roadmap-api/func.py
  website/package.json
  website/pnpm-lock.yaml
Due: none

fix: ci issues encore
  .github/workflows/tests.yml
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/reference/typegate/cors/index.mdx
  website/docs/reference/typegate/rate-limiting/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/func.py
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/md2html.ts.src
  website/package.json
  website/pnpm-lock.yaml
Due: none

fix: ci issues RE
  .github/workflows/tests.yml
Due: none

fix: website linking issues
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Cargo.lock
  website/blog/2023-06-18-programmable-glue/index.mdx
  website/docs/concepts/comparisons/index.mdx
  website/docs/concepts/mental-model/index.mdx
  website/docs/guides/securing-requests/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/src/pages/index.tsx
Due: es-lint

fix: website linking issues 2
  website/docusaurus.config.js
Due: none

fix: tagline \n issue
  website/docusaurus.config.js
Due: none

test: Move cli e2e tests to typegate/test
  meta-cli/tests/e2e.rs
  meta-cli/tests/e2e/snapshots/e2e__e2e__validator__invalid_injections.snap
  meta-cli/tests/e2e/validator.rs
  typegate/tests/e2e/typegraph/typegraphs/python/validator.py
  typegate/tests/e2e/typegraph/validator_test.ts
Due: deno-fmt, deno-lint

fix merge confusions
  website/docs/tutorials/building-feature-roadmap-api/md2html.ts
  website/pnpm-lock.yaml
Due: es-lint

fix(xtask): add support for end of flags and typechecking
  Cargo.lock
  libs/deno/src/lib.rs
  libs/xtask/src/deno.rs
Due: none

remove debug logging
  Cargo.lock
  meta-cli/Cargo.toml
  meta-cli/src/codegen/deno.rs
  website/docs/tutorials/building-feature-roadmap-api/md2html.ts
Due: es-lint

fix(xtask): add support for end of flags and typechecking (#493)
  Cargo.lock
  libs/deno/src/lib.rs
  libs/xtask/src/deno.rs
Due: none

Remove debug logging
  meta-cli/src/codegen/deno.rs
Due: none

fix: Injection
  Cargo.lock
  libs/common/src/typegraph/types.rs
  typegate/src/engine/planner/args.ts
  typegraph/core/src/conversion/types.rs
  typegraph/core/src/typedef/boolean.rs
  typegraph/core/src/typedef/either.rs
  typegraph/core/src/typedef/file.rs
  typegraph/core/src/typedef/float.rs
  typegraph/core/src/typedef/func.rs
  typegraph/core/src/typedef/integer.rs
  typegraph/core/src/typedef/list.rs
  typegraph/core/src/typedef/optional.rs
  typegraph/core/src/typedef/string.rs
  typegraph/core/src/typedef/struct_.rs
  typegraph/core/src/typedef/union.rs
  typegraph/core/src/typegraph.rs
Due: deno-fmt, deno-lint

Remove unnecessary comments
  typegraph/core/src/conversion/types.rs
Due: none

fix(meta-cli-compat): Use RecommendedWatcher
  meta-cli/src/deploy/actors/watcher.rs
Due: none

fix(tests): Fix broken tests
  Cargo.lock
  typegate/engine/bindings.ts
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/src/runtimes/prisma/migration.ts
Due: deno-fmt, deno-lint

fix(tests): tests broken from type issues
  Cargo.lock
  typegate/deno.jsonc
  typegate/deno.lock
  typegate/tests/typecheck/input_validator_test.ts
  typegate/tests/typecheck/typecheck_test.ts
  typegate/tests/utils/bindings_test.ts
Due: deno-fmt, deno-lint

test: Move cli e2e test to typegate/tests/e2e (#492)
  meta-cli/tests/e2e.rs
  meta-cli/tests/e2e/snapshots/e2e__e2e__validator__invalid_injections.snap
  meta-cli/tests/e2e/validator.rs
  typegate/tests/e2e/typegraph/typegraphs/python/validator.py
  typegate/tests/e2e/typegraph/validator_test.ts
Due: deno-fmt, deno-lint

fix(cli): Only require venv when loading python typegraph modules (#491)
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/loader/mod.rs
Due: none

fix: small fixes (#486)
  typegate/tests/runtimes/prisma/full_prisma_mapping_test.ts
  typegraph/core/src/runtimes/prisma/type_generation/additional_filters.rs
  typegraph/core/src/runtimes/prisma/type_generation/query_input_type.rs
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Post out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Record out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many User out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Post out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Record out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by User out.snap
Due: deno-fmt, deno-lint

fix: tests
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  dev/Dockerfile
  dev/lock.yml
  typegate/src/typegraphs/introspection.json
Due: none

update cargo.lcok
  Cargo.lock
Due: none

Fix pre-commit
  typegraph/core/src/runtimes/prisma/type_generation/additional_filters.rs
Due: none

Update snapshot
  Cargo.lock
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
Due: none

feat: dumb apply error
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  Cargo.lock
  dev-tools/package.json
  dev-tools/pnpm-lock.yaml
  dev-tools/ts-language-server/package.json
  dev-tools/ts-language-server/pnpm-lock.yaml
  dev-tools/ts-language-server/src/server.ts
  dev-tools/ts-language-server/tsconfig.json
  dev-tools/tsconfig.json
  dev-tools/vscode-metatype-support/package.json
  dev-tools/vscode-metatype-support/pnpm-lock.yaml
  dev-tools/vscode-metatype-support/src/extension.ts
  dev-tools/vscode-metatype-support/tsconfig.json
Due: none

feat: typescript server: node to deno
  Cargo.lock
  dev-tools/ts-language-server/deno.json
  dev-tools/ts-language-server/deno.lock
  dev-tools/ts-language-server/import_map.jsonc
  dev-tools/ts-language-server/package.json
  dev-tools/ts-language-server/pnpm-lock.yaml
  dev-tools/ts-language-server/src/server.ts
  dev-tools/ts-language-server/tsconfig.json
  dev-tools/tsconfig.json
  dev-tools/vscode-metatype-support/src/extension.ts
Due: none

refactor(ci): use `ghjk` for deps
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  ghjk.ts
  whiz.yaml
Due: none

fix: ghjk non-interactive use
  .github/workflows/tests.yml
Due: none

fix: `init_ghjk` after sync as well
  .github/workflows/tests.yml
Due: none

fix(ci): remove custom bash invoc
  .github/workflows/tests.yml
Due: none

feat: Setup tree-sitter wasm
  .gitignore
  Cargo.lock
  dev-tools/ts-language-server/deno.json
  dev-tools/ts-language-server/deno.jsonc
  dev-tools/ts-language-server/deno.lock
  dev-tools/ts-language-server/dev/generate-grammar-wasm.ts
  dev-tools/ts-language-server/import_map.jsonc
  dev-tools/ts-language-server/tests/apply_test.ts
  dev-tools/ts-language-server/tests/typegraphs/apply_deno.ts
  dev-tools/ts-language-server/tests/utils.ts
  dev/lock.ts
Due: deno-fmt, deno-lint

Finding typegraph definitions
  dev-tools/ts-language-server/deno.jsonc
  dev-tools/ts-language-server/src/apply.ts
  dev-tools/ts-language-server/src/parser.ts
  dev-tools/ts-language-server/src/types.ts
  dev-tools/ts-language-server/tests/apply_test.ts
Due: none

Use query for typegraph definition
  dev-tools/ts-language-server/src/parser.ts
  dev-tools/ts-language-server/tests/apply_test.ts
Due: none

typegraph definition query
  dev-tools/ts-language-server/dev/generate-grammar-wasm.ts
  dev-tools/ts-language-server/src/parser.ts
  dev-tools/ts-language-server/tests/apply_test.ts
Due: none

fix: renamed type_name
  Cargo.lock
  typegate/src/typegraphs/introspection.json
  typegraph/core/src/runtimes/prisma/type_generation/additional_filters.rs
Due: none

wip(ci): earthly based test-website
  .earthlyignore
  Cargo.lock
  Earthfile
  ghjk.ts
Due: none

wip: earthly ci
  .github/workflows/tests.yml
  Earthfile
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
