Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

feat: better doc intro
  .vscode/settings.json
  README.md
  examples/templates/python/compose.yml
  meta-cli/src/cli/doctor.rs
  meta-cli/src/cli/ui/mod.rs
  website/docs/concepts/features-overview/index.mdx
  website/docs/index.mdx
  website/docs/reference/meta-cli/configuration-file.mdx
  website/docs/reference/meta-cli/index.mdx
  website/docs/reference/typegate/index.mdx
  website/docs/reference/typegraph/index.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/docs/tutorials/quick-start/index.mdx
  website/docs/tutorials/your-first-api/index.mdx
  website/package.json
  website/pnpm-lock.yaml
  website/shared/install/meta-cli.mdx
  website/shared/install/typegate.mdx
  website/shared/install/typegraph.mdx
  website/shared/metatype-intro.mdx
  website/src/theme/Root.tsx
Due: es-lint

Remove ruff exclusion
  .pre-commit-config.yaml
Due: none

Fix pre-commit
  website/docs/concepts/typegraph/policies.py
Due: none

Remove obsolete test
  typegraph/core/src/lib.rs
Due: none

fix: reduce union/either if required by given path
  typegraph/core/src/errors.rs
  typegraph/core/src/global_store.rs
  typegraph/core/src/utils/apply.rs
  typegraph/core/src/utils/mod.rs
Due: none

test injection inside union/either behavior
  typegate/tests/typecheck/apply.py
  typegate/tests/typecheck/apply_syntax_test.ts
  typegraph/core/src/global_store.rs
Due: deno-fmt, deno-lint

fix: abort other expansion if branching
  typegraph/core/src/global_store.rs
Due: none

add injection debug in tree-view
  dev/tree-view.ts
Due: deno-fmt, deno-lint

wip: integrate `deno` into `meta-cli`
  .cargo/config.toml
  Cargo.lock
  deno/Cargo.toml
  deno/lib.rs
  meta-cli/Cargo.toml
  meta-cli/src/cli/deno.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/main.rs
  whiz.yaml
Due: none

refactor: manual testing
  deno/README.md
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/typegate.rs
  meta-cli/src/main.rs
  whiz.yaml
Due: none

docs: add license notice
  LICENSE.md
  dev/LICENSE-MIT-Deno.md
Due: none

fix: follow spec
  typegate/tests/typecheck/apply.py
  typegate/tests/typecheck/apply_syntax_test.ts
  typegraph/core/src/global_store.rs
Due: deno-fmt, deno-lint

fix phrasing
  typegraph/core/src/global_store.rs
Due: none

minor changes
  typegraph/core/src/global_store.rs
  typegraph/core/src/utils/mod.rs
Due: none

fix(doc): Comment out disabled typegraphs
  website/docs/guides/importing-graphql-definitions/index.mdx
  website/docs/guides/importing-openapi-definitions/index.mdx
  website/docs/tutorials/import-your-existing-apis/index.mdx
Due: none

fix: Fix doc typegraphs deployment (#462)
  typegraph/core/src/errors.rs
  typegraph/core/src/lib.rs
  website/docs.py
  website/docs/concepts/typegraph/functions.py
  website/docs/concepts/typegraph/policies.py
  website/docs/concepts/typegraph/runtimes.py
  website/docs/concepts/typegraph/triggers.py
  website/docs/concepts/typegraph/types.py
  website/docs/guides/importing-graphql-definitions/hivdb.py_
  website/docs/guides/importing-graphql-definitions/index.mdx
  website/docs/guides/importing-openapi-definitions/devto.py_
  website/docs/guides/importing-openapi-definitions/index.mdx
  website/docs/tutorials/import-your-existing-apis/google.py_
  website/docs/tutorials/import-your-existing-apis/importer.py_
  website/docs/tutorials/import-your-existing-apis/index.mdx
  website/docs/tutorials/import-your-existing-apis/typegraph_std.py_
  website/use-cases/graphql-server/t.py
  website/use-cases/iam-provider/t.py
  website/use-cases/microservice-orchestration/t.py
  website/use-cases/programmable-api-gateway/t.py
  whiz.yaml
Due: none

refactor(test/shell): Read stdout and stderr in parallel
  typegate/tests/utils/shell.ts
Due: deno-fmt, deno-lint

test: Migration failure on new non-nullable field
  typegate/deno.lock
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/tests/e2e/deploy/migration_failure_test.ts
  typegate/tests/utils/meta.ts
  typegate/tests/utils/shell.ts
  typegate/tests/utils/test.ts
  typegate/tests/utils/test_module.ts
Due: deno-fmt, deno-lint

test: Expected failed test
  typegate/tests/e2e/deploy/migration_failure_test.ts
Due: deno-fmt, deno-lint

test: e2e test template
  typegate/deno.lock
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/tests/e2e/deploy/.gitignore
  typegate/tests/e2e/deploy/migration_failure.py
  typegate/tests/e2e/deploy/migration_failure_test.ts
  typegate/tests/e2e/deploy/templates/migration_failure.py
  typegate/tests/metatype.yml
  typegate/tests/utils/migrations.ts
  typegate/tests/utils/shell.ts
Due: deno-fmt, deno-lint

wit
  typegate/deno.json
  typegate/tests/e2e/deploy/.gitignore
  typegate/tests/e2e/deploy/migration_failure.py
  typegate/tests/e2e/deploy/migration_failure_test.ts
  typegate/tests/e2e/deploy/select.sh
  typegate/tests/e2e/deploy/templates/migration_failure.py
  typegate/tests/utils/shell.ts
  typegate/tests/utils/test_module.ts
Due: deno-fmt, deno-lint

feat: `meta_deno`
  Cargo.lock
  Cargo.toml
  deno/Cargo.toml
  deno/lib.rs
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/typegate.rs
  meta-cli/src/main.rs
  whiz.yaml
Due: none

feat: extensions
  deno/lib.rs
  deno/runtime.js
  meta-cli/src/cli/typegate.rs
Due: none

feat: Prisma default value
  libs/common/src/typegraph/runtimes/prisma.rs
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/src/typegraph/types.ts
  typegate/tests/e2e/deploy/migration_failure_test.ts
  typegate/tests/e2e/deploy/templates/migration_failure.py
  typegate/tests/utils/meta.ts
  typegraph/core/src/errors.rs
  typegraph/core/src/runtimes/prisma/context.rs
  typegraph/core/src/runtimes/prisma/model.rs
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

test: Rename @test-utils to test-utils
  typegate/deno.json
  typegate/tests/e2e/deploy/migration_failure_test.ts
  typegate/tests/utils/meta.ts
  typegate/tests/utils/shell.ts
Due: deno-fmt, deno-lint

feat: Better error message
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/tests/e2e/deploy/migration_failure_test.ts
Due: deno-fmt, deno-lint

disable test, add FIXME
  typegate/tests/typecheck/apply_syntax_test.ts
Due: deno-fmt, deno-lint

test: Fix temporal_test
  typegate/tests/runtimes/temporal/temporal_test.ts
Due: deno-fmt, deno-lint

test: Fix typegraph test
  typegate/tests/e2e/typegraph/typegraph_test.ts
Due: deno-fmt, deno-lint

chore: prepare release 0.2.5-0+dev
  Cargo.lock
  dev/lock.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

wip: `xtask deno test`
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  deno/Cargo.toml
  deno/lib.rs
  libs/xtask/Cargo.toml
  libs/xtask/src/deno.rs
  libs/xtask/src/main.rs
  meta-cli/Cargo.toml
  meta-cli/src/cli/typegate.rs
  meta-cli/src/main.rs
  typegate/native/Cargo.toml
  typegraph/core/Cargo.toml
  whiz.yaml
Due: none

refactor: Merge cli/deploy tests into a single file
  typegate/tests/e2e/cli/.gitignore
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/e2e/cli/select.sh
  typegate/tests/e2e/cli/templates/migration.py
  typegate/tests/e2e/deploy/.gitignore
  typegate/tests/e2e/deploy/migration_failure_test.ts
Due: deno-fmt, deno-lint

feat: Default value validation
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/core/src/validation/types.rs
Due: none

Revert "chore: prepare release 0.2.5-0+dev"
  Cargo.lock
  dev/lock.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

chore: run with --bump patch after revert
  Cargo.lock
  dev/lock.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

chore: manually set to 0.2.5
  Cargo.lock
  dev/lock.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

wip: twiddle with config
  .github/workflows/tests.yml
  deno/lib.rs
  libs/xtask/src/deno.rs
  typegate/deno.jsonc
  whiz.yaml
Due: none

fix(sdk): reduce union/either variant if required in apply syntax (#463)
  Cargo.lock
  dev/lock.yml
  dev/tree-view.ts
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegate/tests/typecheck/apply.py
  typegate/tests/typecheck/apply_syntax_test.ts
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/core/src/utils/mod.rs
  typegraph/core/wit/typegraph.wit
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
