Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

test: move ts to scripts/deno
  typegate/tests/type_nodes/scripts/deno/ts/either/user_register.ts
  typegate/tests/type_nodes/scripts/deno/ts/union/color_converter.ts
  typegate/tests/type_nodes/scripts/deno/ts/union/phone_register.ts
  typegate/tests/type_nodes/scripts/deno/ts/union/vec_normalizer.ts
Due: deno-fmt, deno-lint

test: move ts to scripts/deno
  typegate/tests/schema_validation/scripts/deno/ts/circular.ts
Due: deno-fmt, deno-lint

test(internal): move ts to scripts/deno
  typegate/tests/internal/scripts/deno/ts/logic.ts
Due: deno-fmt, deno-lint

fix: unpack to tmp/hash directly
  typegate/src/runtimes/deno/worker.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

test: add deno_reload
  typegate/tests/runtimes/deno/deno_reload.py
Due: none

fix: deno permission
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
  typegate/src/runtimes/deno/shared_types.ts
  typegate/src/runtimes/deno/worker.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

fix: Fix migrations for target with prefix
  libs/common/src/typegraph/mod.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/config.rs
  meta-cli/src/typegraph/postprocess.rs
  meta-cli/src/typegraph/push.rs
  meta-cli/src/utils/mod.rs
  meta-cli/tests/metatype.yml
  typegate/native/src/tests.rs
  typegate/src/engine.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/temporal.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraph.ts
  typegate/src/typegraph/versions.ts
  typegate/src/types/typegraph.ts
  typegate/tests/e2e/cli_deploy_test.ts
  typegate/tests/metatype.yml
  typegate/tests/utils.ts
  typegate/tests/utils/metatest.ts
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

Fix pre-commit hooks
  typegraph/core/src/typegraph.rs
Due: none

Make target required, unless for meta-dev
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/config.rs
Due: none

Fix tests
  typegate/deno.lock
  typegate/tests/e2e/cli_deploy_test.ts
Due: deno-fmt, deno-lint

Fix tests
  typegraph/core/src/snapshots/typegraph_core__tests__successful_serialization.snap
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
Due: none

fix: Fix migrations for target with prefix (#344)
  libs/common/src/typegraph/mod.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/config.rs
  meta-cli/src/typegraph/postprocess.rs
  meta-cli/src/typegraph/push.rs
  meta-cli/src/utils/mod.rs
  meta-cli/tests/metatype.yml
  typegate/deno.lock
  typegate/native/src/tests.rs
  typegate/src/engine.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/temporal.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraph.ts
  typegate/src/typegraph/versions.ts
  typegate/src/types/typegraph.ts
  typegate/tests/e2e/cli_deploy_test.ts
  typegate/tests/metatype.yml
  typegate/tests/utils.ts
  typegate/tests/utils/metatest.ts
  typegraph/core/src/snapshots/typegraph_core__tests__successful_serialization.snap
  typegraph/core/src/typegraph.rs
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

chore: cleanup, add comments
  typegate/deno.json
  typegate/src/runtimes/deno/deno_messenger.ts
  typegate/src/utils.ts
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
  typegraph/core/tests/typegraphs/scripts/deno/three.ts
  typegraph/core/tests/typegraphs/simple.py
  typegraph/core/tests/typegraphs/simple.ts
Due: deno-fmt, deno-lint

chore: change to typegraph/deno
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
Due: deno-fmt, deno-lint

fix: move path processing to meta-cli
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/runtimes/deno/deno_messenger.ts
  typegate/src/utils.ts
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
Due: deno-fmt, deno-lint

test: local imports
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

chore: release 0.1.10
  .github/workflows/tests.yml
  Cargo.lock
  dev/Dockerfile
  dev/lock.yml
  dev/mod.ts
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  poetry.lock
  pyproject.toml
  typegate/deno.json
  typegate/deno.lock
  typegate/native/Cargo.toml
  typegate/src/engine.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraph/versions.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/runtimes/prisma/mixed_runtime.py
  typegate/tests/runtimes/prisma/mixed_runtime_test.ts
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/tests/pyproject.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/python_next/pyproject.toml
  typegraph/rust/Cargo.toml
  website/docs/guides/self-hosting.md
  whiz.yaml
Due: deno-fmt, deno-lint

chore: release 0.1.10 (#347)
  .github/workflows/tests.yml
  Cargo.lock
  dev/Dockerfile
  dev/lock.yml
  dev/mod.ts
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  poetry.lock
  pyproject.toml
  typegate/deno.json
  typegate/deno.lock
  typegate/native/Cargo.toml
  typegate/src/engine.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraph/versions.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/runtimes/prisma/mixed_runtime.py
  typegate/tests/runtimes/prisma/mixed_runtime_test.ts
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/tests/pyproject.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/python_next/pyproject.toml
  typegraph/rust/Cargo.toml
  website/docs/guides/self-hosting.md
  whiz.yaml
Due: deno-fmt, deno-lint

chore: use sha1 in crypto, fix zBooleanString import resolution
  typegate/src/config.ts
  typegate/src/log.ts
  typegate/src/utils.ts
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

feat: enable explicit permission per typegraph
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
Due: deno-fmt, deno-lint

fix: skip fs metadata when archiving
  libs/common/src/archive.rs
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap
Due: none

fix: let tar handle file reading
  libs/common/src/archive.rs
Due: none

wip
  .pre-commit-config.yaml
  typegate/deno.lock
  typegate/src/typegraphs/prisma_migration.json
  typegraph/python/typegraph/types.py
  website/docs/reference/changelog.mdx
  website/docs/reference/typegate/internal-api/prisma-migration/mutations.md
  website/docs/reference/typegate/internal-api/prisma-migration/objects.md
  website/docs/reference/typegate/internal-api/prisma-migration/queries.md
  website/docs/reference/typegate/internal-api/prisma-migration/scalars.md
  website/docs/reference/typegate/internal-api/typegate/mutations.md
  website/docs/reference/typegate/internal-api/typegate/objects.md
  website/docs/reference/typegate/internal-api/typegate/queries.md
  website/docs/reference/typegate/internal-api/typegate/scalars.md
  website/docs/reference/typegraph/python/pydoc.json
  website/docs/reference/typegraph/python/typegraph/graph/models.md
  website/docs/reference/typegraph/python/typegraph/graph/typegraph.md
  website/docs/reference/typegraph/python/typegraph/importers/base/importer.md
  website/docs/reference/typegraph/python/typegraph/importers/openapi.md
  website/docs/reference/typegraph/python/typegraph/injection.md
  website/docs/reference/typegraph/python/typegraph/providers/aws/runtimes/s3.md
  website/docs/reference/typegraph/python/typegraph/providers/prisma/relations.md
  website/docs/reference/typegraph/python/typegraph/providers/prisma/runtimes/prisma.md
  website/docs/reference/typegraph/python/typegraph/providers/prisma/schema.md
  website/docs/reference/typegraph/python/typegraph/providers/temporal/runtimes/temporal.md
  website/docs/reference/typegraph/python/typegraph/runtimes/deno.md
  website/docs/reference/typegraph/python/typegraph/runtimes/graphql.md
  website/docs/reference/typegraph/python/typegraph/runtimes/http.md
  website/docs/reference/typegraph/python/typegraph/runtimes/python.md
  website/docs/reference/typegraph/python/typegraph/runtimes/random.md
  website/docs/reference/typegraph/python/typegraph/runtimes/wasmedge.md
  website/docs/reference/typegraph/python/typegraph/types.md
  website/docs/reference/typegraph/python/typegraph/utils/sanitizers.md
Due: none

docs: Add documentation for non-scalar types
  website/docs/reference/type-system.mdx
  website/docs/reference/type-system/boolean.mdx
  website/docs/reference/type-system/file.mdx
  website/docs/reference/type-system/integer.mdx
  website/docs/reference/type-system/number.mdx
  website/docs/reference/type-system/string.mdx
  website/docs/reference/type-system/struct.mdx
  website/docs/sidebars.js
Due: none

Update changelog.mdx
  website/docs/reference/changelog.mdx
Due: none

Scalar types
  typegraph/python/typegraph/types.py
  website/docs/reference/type-system.mdx
  website/docs/reference/type-system/boolean.mdx
  website/docs/reference/type-system/file.mdx
  website/docs/reference/type-system/integer.mdx
  website/docs/reference/type-system/number.mdx
  website/docs/reference/type-system/string.mdx
  website/docs/reference/type-system/struct.mdx
  website/docs/reference/typegraph/python/typegraph/types.md
  website/docs/sidebars.js
Due: none

Doc: How to upload file to S3
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegraph/python/typegraph/providers/aws/runtimes/s3.py
  typegraph/python/typegraph/runtimes/base.py
  typegraph/python/typegraph/types.py
  website/docs/guides/files-upload/index.mdx
  website/docs/guides/files-upload/typegraph.py
  website/docs/reference/typegraph/python/typegraph/types.md
  website/docs/sidebars.js
  whiz.yaml
Due: none

fix: sort paths, remove unused code, add comments
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/utils.ts
  typegraph/python/typegraph/runtimes/deno.py
Due: deno-fmt, deno-lint

chore: set default permission to false
  typegate/deno.json
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
Due: deno-fmt, deno-lint

fix: set import to archive/untar.ts
  typegate/deno.json
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

feat: prepare code for endpoints
  codecov.yml
  libs/common/src/typegraph/mod.rs
  meta-cli/src/cli/serialize.rs
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegate/src/types/typegraph.ts
  typegate/tests/rest/custom.ts
  typegate/tests/rest/custom_dir/test.gql
  typegate/tests/rest/rest.ts
  typegate/tests/rest/rest/m.gql
  typegate/tests/rest/rest/q.graphql
  typegate/tests/rest/rest_test.ts
  typegate/tests/runtimes/http/http.py
  typegate/tests/runtimes/http/http_test.ts
  typegraph/core/src/typegraph.rs
  typegraph/deno/src/typegraph.ts
  typegraph/deno/src/types.ts
  typegraph/python/typegraph/graph/typegraph.py
  website/blog/2023-06-18-programmable-glue/index.mdx
  website/src/components/MiniQL/index.tsx
  website/static/specs/0.0.1.json
  whiz.yaml
Due: deno-fmt, deno-lint, es-lint

feat: upgrade and stablize SDKs structure
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  libs/common/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  poetry.lock
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/e2e/typegraph/typegraph_test.ts
  typegate/tests/e2e/typegraph/typegraphs/deno/simple.ts
  typegate/tests/e2e/typegraph/typegraphs/python/simple.py
  typegate/tests/e2e/typegraph/typegraphs/scripts/three.ts
  typegate/tests/rest/custom.py
  typegate/tests/rest/custom.ts
  typegate/tests/utils.ts
  typegraph/core/Cargo.toml
  typegraph/core/src/lib.rs
  typegraph/core/src/snapshots/typegraph_core__tests__successful_serialization.snap
  typegraph/core/tests/snapshots/test_sdks__typegraphs__deno__simple.snap
  typegraph/core/tests/snapshots/test_sdks__typegraphs__python__simple.snap
  typegraph/core/tests/test_sdks.rs
  typegraph/core/tests/typegraphs/scripts/three.ts
  typegraph/core/wit/host.wit
  typegraph/core/wit/typegraph.wit
  typegraph/deno/dev/fix-declarations.sh
  typegraph/deno/dev/fix-declarations.ts
  typegraph/deno/src/imports.ts
  typegraph/deno/src/policy.ts
  typegraph/deno/src/runtimes/deno.ts
  typegraph/deno/src/types.ts
  typegraph/deno/src/wit.ts
  typegraph/python_next/typegraph_next/imports.py
  typegraph/python_next/typegraph_next/wit.py
  whiz.yaml
Due: deno-fmt, deno-lint

feat: migration check
  dev/lock.ts
  dev/lock.yml
  typegate/deno.json
  typegate/deno.lock
  typegate/src/typegraph.ts
  typegate/src/typegraph/versions.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/e2e/typegraph/typegraph_test.ts
  typegate/tests/typegraph/version_test.ts
  typegraph/core/src/typegraph.rs
  typegraph/python/typegraph/graph/typegraph.py
  website/static/specs/0.0.2.json
  whiz.yaml
Due: deno-fmt, deno-lint

test: Fix injection test
  typegate/src/runtimes/typegate.ts
  typegate/src/system_typegraphs.ts
  typegate/src/typegraph.ts
  typegate/tests/utils.ts
  typegate/tests/utils/metatest.ts
Due: deno-fmt, deno-lint

test(e2e): Fix e2e test
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraph.ts
  typegate/tests/e2e/cli_deploy_test.ts
Due: deno-fmt, deno-lint

refactor(typegate): Create a standalone function for pushing typegraph
  typegate/src/engine.ts
  typegate/src/hooks.ts
  typegate/src/register.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/system_typegraphs.ts
  typegate/src/typegraph.ts
  typegate/tests/utils.ts
  typegate/tests/utils/memory_register.ts
  typegate/tests/utils/metatest.ts
  typegate/tests/utils/single_register.ts
Due: deno-fmt, deno-lint

Validate name for system typegraphs
  typegate/src/runtimes/typegate.ts
  typegate/src/system_typegraphs.ts
Due: deno-fmt, deno-lint

Fix register
  typegate/src/register.ts
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
