Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

feat: upgrade docusaurus
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  dev/lock.yml
  pyproject.toml
  typegraph/python/typegraph/runtimes/graphql.py
  website/docs/reference/typegate/rate-limiting/rate.py
  website/docs/reference/types/importers/index.mdx
  website/package.json
  website/packages/code-loader-transform.js
  website/pnpm-lock.yaml
  website/src/css/custom.scss
Due: none

feat: add test for template
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .vscode/settings.json
  CONTRIBUTING.md
  Cargo.lock
  dev/lock.yml
  examples/templates/deno/.graphqlrc.yaml
  examples/templates/deno/api/example.ts
  examples/templates/deno/compose.yml
  examples/templates/deno/metatype.yaml
  examples/templates/node/.graphqlrc.yaml
  examples/templates/node/api/example.ts
  examples/templates/node/compose.yml
  examples/templates/node/metatype.yaml
  examples/templates/node/package.json
  examples/templates/node/pnpm-lock.yaml
  examples/templates/node/tsconfig.json
  examples/templates/python/README.md
  libs/common/src/lib.rs
  libs/deno/src/lib.rs
  poetry.lock
  pyproject.toml
  typegate/deno.jsonc
  typegate/deno.lock
  typegate/tests/e2e/templates/templates_test.ts
  typegate/tests/runtimes/wasmedge/rust/build.sh
  typegate/tests/utils/dir.ts
  typegate/tests/utils/meta.ts
  typegate/tests/utils/mod.ts
  typegate/tests/utils/shell.ts
  typegate/tests/utils/test.ts
  typegate/tests/utils/test_module.ts
  website/docs/tutorials/metatype-basics/index.mdx
  website/shared/install/typegraph.mdx
  website/shared/metatype-intro.mdx
  whiz.yaml
Due: deno-fmt, deno-lint

fix: use inclusive min
  typegraph/core/src/runtimes/prisma/type_generation/additional_filters.rs
Due: none

working PushManager actor
  meta-cli/src/cli/deploy.rs
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/deploy/utils/push_lifecycle.rs
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

refactor: move State in a standalone module
  Cargo.lock
  meta-cli/Cargo.toml
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/push_manager/state.rs
Due: none

fix : broken test
  Cargo.lock
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/node/package.json
  typegate/tests/e2e/templates/templates_test.ts
Due: deno-fmt, deno-lint

push manager state
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/push_manager/state.rs
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/deploy/mod.rs
  meta-cli/src/deploy/utils/mod.rs
  meta-cli/src/deploy/utils/push_lifecycle.rs
Due: none

actix System
  meta-cli/src/main.rs
Due: none

fix hook errors
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/pusher.rs
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/src/typegate/hooks.ts
  typegate/src/typegate/mod.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
Due: deno-fmt, deno-lint

update typegate.json
  typegate/src/typegraphs/typegate.json
Due: none

fix: node modifier
  Cargo.lock
  libs/xtask/src/deno.rs
  typegate/deno.jsonc
  typegate/tests/e2e/templates/templates_test.ts
Due: deno-fmt, deno-lint

refactor: run migrations hook
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
Due: deno-fmt, deno-lint

fix migrations hook
  Cargo.lock
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/standalone/src/logger.rs
  whiz.yaml
Due: deno-fmt, deno-lint

basic interaction: database reset
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/pusher.rs
Due: none

pre-commit
  Cargo.lock
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/push_manager/state.rs
  meta-cli/src/deploy/actors/pusher.rs
  typegate/standalone/src/logger.rs
Due: none

remove commented code
  Cargo.lock
  dev/test.ts
  meta-cli/src/cli/codegen.rs
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/push_manager/state.rs
Due: deno-fmt, deno-lint

small fixes
  dev/test.ts
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader/discovery.rs
Due: deno-fmt, deno-lint

remove push.rs
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/typegraph/mod.rs
  meta-cli/src/typegraph/push.rs
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
Due: deno-fmt, deno-lint

small fix
  typegate/standalone/src/logger.rs
Due: none

Fix cli test
  meta-cli/src/codegen/deno.rs
  meta-cli/tests/e2e/snapshots/e2e__e2e__validator__invalid_injections.snap
Due: none

wip: save progress
  Cargo.lock
  website/docs/tutorials/building-feature-roadmap-api/apply.graphql
  website/docs/tutorials/building-feature-roadmap-api/apply.py
  website/docs/tutorials/building-feature-roadmap-api/execute.graphql
  website/docs/tutorials/building-feature-roadmap-api/execute.py
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/policies.graphql
  website/docs/tutorials/building-feature-roadmap-api/policies.py
  website/docs/tutorials/building-feature-roadmap-api/prisma.graphql
  website/docs/tutorials/building-feature-roadmap-api/prisma.py
  website/docs/tutorials/building-feature-roadmap-api/random.graphql
  website/docs/tutorials/building-feature-roadmap-api/random.py
  website/docs/tutorials/metatype-basics/index.mdx
  website/metatype.yaml
Due: none

feat: type cloning with patched base
  Cargo.lock
  typegraph/core/src/lib.rs
  typegraph/core/src/types.rs
Due: none

refactor: change tutorial to 0.2.5-dev api
  website/docs/tutorials/building-feature-roadmap-api/execute.py
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/policies.py
  website/docs/tutorials/building-feature-roadmap-api/prisma.py
  website/docs/tutorials/building-feature-roadmap-api/random.py
  website/docs/tutorials/building-feature-roadmap-api/reduce.graphql
  website/docs/tutorials/building-feature-roadmap-api/reduce.py
  website/metatype.yaml
  website/migrations/roadmap-execute/db/20231115102057_generated/migration.sql
  website/migrations/roadmap-execute/db/migration_lock.toml
  website/migrations/roadmap-policies/db/20231115102130_generated/migration.sql
  website/migrations/roadmap-policies/db/migration_lock.toml
  website/migrations/roadmap-prisma/db/20231115102159_generated/migration.sql
  website/migrations/roadmap-prisma/db/migration_lock.toml
  website/migrations/roadmap-reduce/db/20231115102319_generated/migration.sql
  website/migrations/roadmap-reduce/db/migration_lock.toml
Due: none

feat(docs): roadmap tutorail `rest` section
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/rest.py
  website/metatype.yaml
  website/migrations/roadmap-rest/db/20231115110552_generated/migration.sql
  website/migrations/roadmap-rest/db/migration_lock.toml
Due: none

fix: fix mdx issues
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
Due: none

fix: spell check
  website/docs/guides/securing-requests/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/pnpm-lock.yaml
Due: none

wip: deno funcs tutorial
  website/docs/tutorials/building-feature-roadmap-api/func.graphql
  website/docs/tutorials/building-feature-roadmap-api/func.py
  website/docs/tutorials/building-feature-roadmap-api/md2html.ts
  website/metatype.yaml
  website/migrations/roadmap-func/db/20231115133338_generated/migration.sql
  website/migrations/roadmap-func/db/migration_lock.toml
Due: es-lint

docs: `import` tutorial section
  website/docs/tutorials/building-feature-roadmap-api/execute.py
  website/docs/tutorials/building-feature-roadmap-api/func.py
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/policies.py
  website/docs/tutorials/building-feature-roadmap-api/prisma.py
  website/docs/tutorials/building-feature-roadmap-api/random.py
  website/docs/tutorials/building-feature-roadmap-api/reduce.py
  website/docs/tutorials/building-feature-roadmap-api/rest.py
  website/metatype.yaml
Due: none

docs: roadmap tutorial (#488)
  Cargo.lock
  website/docs/guides/securing-requests/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/execute.graphql
  website/docs/tutorials/building-feature-roadmap-api/execute.py
  website/docs/tutorials/building-feature-roadmap-api/func.graphql
  website/docs/tutorials/building-feature-roadmap-api/func.py
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/md2html.ts
  website/docs/tutorials/building-feature-roadmap-api/policies.graphql
  website/docs/tutorials/building-feature-roadmap-api/policies.py
  website/docs/tutorials/building-feature-roadmap-api/prisma.graphql
  website/docs/tutorials/building-feature-roadmap-api/prisma.py
  website/docs/tutorials/building-feature-roadmap-api/random.graphql
  website/docs/tutorials/building-feature-roadmap-api/random.py
  website/docs/tutorials/building-feature-roadmap-api/reduce.graphql
  website/docs/tutorials/building-feature-roadmap-api/reduce.py
  website/docs/tutorials/building-feature-roadmap-api/rest.py
  website/docs/tutorials/metatype-basics/index.mdx
  website/metatype.yaml
  website/migrations/roadmap-execute/db/20231115102057_generated/migration.sql
  website/migrations/roadmap-execute/db/migration_lock.toml
  website/migrations/roadmap-func/db/20231115133338_generated/migration.sql
  website/migrations/roadmap-func/db/migration_lock.toml
  website/migrations/roadmap-policies/db/20231115102130_generated/migration.sql
  website/migrations/roadmap-policies/db/migration_lock.toml
  website/migrations/roadmap-prisma/db/20231115102159_generated/migration.sql
  website/migrations/roadmap-prisma/db/migration_lock.toml
  website/migrations/roadmap-reduce/db/20231115102319_generated/migration.sql
  website/migrations/roadmap-reduce/db/migration_lock.toml
  website/migrations/roadmap-rest/db/20231115110552_generated/migration.sql
  website/migrations/roadmap-rest/db/migration_lock.toml
  website/pnpm-lock.yaml
Due: es-lint

fix(ci): codegen test
  Cargo.lock
  meta-cli/src/codegen/deno.rs
Due: none

Remove WithInjection type
  dev/lock.ts
  typegraph/core/src/global_store.rs
  typegraph/core/src/lib.rs
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/core/src/typedef/mod.rs
  typegraph/core/src/typedef/with_injection.rs
  typegraph/core/src/types.rs
  typegraph/core/src/utils/mod.rs
  typegraph/core/wit/typegraph.wit
Due: deno-fmt, deno-lint

refactor: type with injection and python/deno SDK
  typegraph/core/src/conversion/types.rs
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/core/src/t.rs
  typegraph/core/src/test_utils.rs
  typegraph/core/src/typedef/boolean.rs
  typegraph/core/src/typedef/either.rs
  typegraph/core/src/typedef/file.rs
  typegraph/core/src/typedef/float.rs
  typegraph/core/src/typedef/func.rs
  typegraph/core/src/typedef/integer.rs
  typegraph/core/src/typedef/list.rs
  typegraph/core/src/typedef/optional.rs
  typegraph/core/src/typedef/string.rs
  typegraph/core/src/typedef/struct_.rs
  typegraph/core/src/typedef/union.rs
  typegraph/core/src/types.rs
  typegraph/deno/src/types.ts
  typegraph/python/typegraph/t.py
Due: none

fix(ci): Update pnpm lock
  website/pnpm-lock.yaml
Due: none

fix(ci): pre-commit hooks: ruff
  website/docs/tutorials/building-feature-roadmap-api/func.py
Due: none

Remove WithPolicy type
  typegraph/core/src/conversion/types.rs
  typegraph/core/src/global_store.rs
  typegraph/core/src/lib.rs
  typegraph/core/src/t.rs
  typegraph/core/src/typedef/boolean.rs
  typegraph/core/src/typedef/either.rs
  typegraph/core/src/typedef/file.rs
  typegraph/core/src/typedef/float.rs
  typegraph/core/src/typedef/func.rs
  typegraph/core/src/typedef/integer.rs
  typegraph/core/src/typedef/list.rs
  typegraph/core/src/typedef/mod.rs
  typegraph/core/src/typedef/optional.rs
  typegraph/core/src/typedef/string.rs
  typegraph/core/src/typedef/struct_.rs
  typegraph/core/src/typedef/union.rs
  typegraph/core/src/typedef/with_config.rs
  typegraph/core/src/typedef/with_policy.rs
  typegraph/core/src/typegraph.rs
  typegraph/core/src/types.rs
  typegraph/core/wit/typegraph.wit
  typegraph/deno/src/types.ts
  typegraph/python/typegraph/t.py
Due: none

feat(prisma): add cursor
  typegate/tests/runtimes/prisma/full_prisma_mapping_test.ts
  typegraph/core/src/runtimes/prisma/type_generation/additional_filters.rs
  typegraph/core/src/runtimes/prisma/type_generation/query_input_type.rs
Due: deno-fmt, deno-lint

test(prisma,sdk): update snapshots
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Post out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Record out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many User out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Post out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Record out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by User out.snap
Due: none

Remove unnecessary comments
  typegraph/core/src/typedef/boolean.rs
  typegraph/core/src/typedef/file.rs
  typegraph/core/src/typedef/float.rs
  typegraph/core/src/typedef/integer.rs
Due: none

Remove `meta prisma` subcommand
  Cargo.lock
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/utils/graphql.rs
  meta-cli/src/utils/mod.rs
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
