Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

test: Fix deno tests
  typegate/src/typegate/register.ts
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

Fix tests
  website/docs/tutorials/your-chat-app/scripts/deno/business-logic.ts
Due: es-lint

fix: python messenger
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

fix: move vm setup to runtime
  typegate/src/runtimes/python_wasi/python_vm.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

feat: add rest to gate
  typegate/src/engine.ts
  typegate/src/graphql/graphql.ts
  typegate/src/planner/mod.ts
  typegate/src/typegate.ts
  typegate/tests/importers/importers_test.ts
  typegate/tests/rest/rest_test.ts
  typegate/tests/utils.ts
  typegate/tests/utils/q.ts
  typegraph/core/src/typegraph.rs
  website/docs/reference/runtimes.mdx
Due: deno-fmt, deno-lint

Remove unnecessary file
  typegraph/core/tests/deno.lock
Due: none

refactor: util import
  typegate/src/runtimes/python_wasi/python_vm.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

feat: promisify at deno level, test parallel execution
  typegate/native/src/runtimes/python/python_bindings.rs
  typegate/native/src/runtimes/python/wasmedge_sdk_bindgen.rs
  typegate/src/runtimes/python_wasi/python_vm.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

feat: enable from_def
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegraph/python/typegraph/runtimes/python.py
Due: deno-fmt, deno-lint

fix: tests
  .github/workflows/tests.yml
  meta-cli/tests/e2e/snapshots/e2e__e2e__validator__invalid_injections.snap
  typegate/src/engine.ts
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegraph/core/src/lib.rs
  typegraph/core/src/snapshots/typegraph_core__tests__successful_serialization.snap
  whiz.yaml
Due: deno-fmt, deno-lint

feat: add get var support
  Cargo.lock
  typegate/src/engine.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/tests/rest/rest.ts
  typegate/tests/rest/rest/m.gql
  typegate/tests/rest/rest/q.graphql
  typegate/tests/rest/rest_test.ts
  typegate/tests/utils/query/rest_query.ts
  typegraph/core/src/typegraph.rs
  typegraph/deno/src/policy.ts
  typegraph/deno/src/runtimes/deno.ts
  typegraph/deno/src/types.ts
  typegraph/python_next/pyproject.toml
Due: deno-fmt, deno-lint

feat: add more tests
  typegate/src/engine.ts
  typegate/src/typegate.ts
  typegate/tests/rest/rest.ts
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

fix: respect the rust-toolchain
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix: remove rust SDK
  Cargo.lock
  Cargo.toml
  typegraph/rust/Cargo.toml
  typegraph/rust/src/lib.rs
  typegraph/rust/src/main.rs
Due: none

feat: init module mat
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/tests/runtimes/python_wasi/py/hello.py
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegraph/python/typegraph/runtimes/python.py
Due: deno-fmt, deno-lint

fix: tests structure
  .github/workflows/tests.yml
  typegate/native/src/tests.rs
Due: none

feat: upgrade rust
  dev/Dockerfile
  dev/lock.yml
  rust-toolchain.toml
  typegraph/core/src/lib.rs
  typegraph/python_next/typegraph_next/imports.py
Due: none

fix: tests
  .github/workflows/tests.yml
  dev/Dockerfile
  dev/lock.yml
  rust-toolchain.toml
Due: none

fix: use one vm per pymod
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
Due: deno-fmt, deno-lint

refactor: mat filtering
  typegate/src/runtimes/python_wasi/python_wasi.ts
Due: deno-fmt, deno-lint

fix: merge
  typegate/native/Cargo.toml
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

feat: add python postprocess
  dev/test.ts
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

feat: enable python module
  dev/test.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/tests/runtimes/python_wasi/py/hello.py
  typegate/tests/runtimes/python_wasi/py/nested/dep.py
Due: deno-fmt, deno-lint

feat: support nested struct
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

refactor: libpython, reactor downloads
  typegate/src/runtimes/python_wasi/python_vm.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
Due: deno-fmt, deno-lint

feat: upgrade website
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/MiniQL/graphiql.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/Newsletter/index.tsx
  website/src/css/custom.scss
Due: es-lint

feat: fix merge
  typegate/tests/e2e/cli_deploy_test.ts
Due: deno-fmt, deno-lint

fix: Ensure hooks logging (#357)
  typegate/src/engine.ts
  typegate/src/hooks.ts
  typegate/src/register.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/system_typegraphs.ts
  typegate/src/typegraph.ts
  typegate/tests/e2e/cli_deploy_test.ts
  typegate/tests/utils/memory_register.ts
  typegate/tests/utils/single_register.ts
  typegate/tests/utils/test.ts
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/MiniQL/graphiql.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/Newsletter/index.tsx
  website/src/css/custom.scss
Due: deno-fmt, deno-lint, es-lint

chore: address comments
  typegate/native/src/runtimes/python/wasi_vm.rs
  typegate/src/runtimes/python_wasi/python_vm.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
Due: deno-fmt, deno-lint

feat: add spec generator
  typegate/src/engine.ts
  typegate/src/services/rest_service.ts
Due: deno-fmt, deno-lint

fix: small fix, add test
  typegate/src/services/rest_service.ts
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

test: cleanup, add snapshot
  typegate/src/services/rest_service.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

feat: upgrade deps
  .github/dependabot.yml
  Cargo.lock
  libs/common/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegraph/core/Cargo.toml
Due: none

feat: component model 3
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  poetry.lock
  pyproject.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/lib.rs
  typegraph/core/src/typegraph.rs
  typegraph/core/wit/host.wit
  typegraph/core/wit/typegraph.wit
  typegraph/python_next/poetry.lock
  typegraph/python_next/pyproject.toml
  whiz.yaml
Due: none

chore: address comments
  typegate/src/engine.ts
  typegate/src/services/rest_service.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

feat: add redoc playground
  typegate/src/services/playground_service.ts
  typegate/src/services/rest_service.ts
  typegate/src/typegate.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

refactor: small fixes, refactor logic
  typegate/src/services/playground_service.ts
  typegate/src/services/rest_service.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
