Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/sqlalchemyorg/zimports/
    rev: v0.6.0
    hooks:
      - id: zimports
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.27.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust format
        language: system
        entry: bash -c 'cd typegate/native && cargo fmt --all && cd ../.. && cd typegraph/native && cargo fmt'
        pass_filenames: false
        types:
          - rust
        files: ^(typegate|typegraph)/native/
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,workers,src/typegraphs'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any,no-unused-vars --ignore=native'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/

add worker folder
  typegate/Dockerfile
Due: none

remove written all
  typegate/Dockerfile
Due: none

successful build
  typegate/Dockerfile
Due: none

fix(tests): Only use the 'test' schema
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/prisma_test.ts
  typegate/tests/typegraphs/prisma_1_1.py
  typegate/tests/typegraphs/prisma_multi.py
  typegraph/typegraph/cli/cmds.py
  typegraph/typegraph/cli/prisma.py
  typegraph/typegraph/utils/loaders.py
Due: deno-fmt, deno-lint

fix(typegate/native/tests): Remove symbolic link
  typegate/native/src/tests.rs
  typegate/native/typegraphs/prisma.py
Due: rust-fmt

Only return structs on the viz graph
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGateRuntime.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/dist/typegate.py
Due: deno-fmt, deno-lint

add packaging script
  typegraph/native/Cargo.toml
  typegraph/native/src/lib.rs
  typegraph/package.sh
  typegraph/typegraph/cli/cmds.py
  typegraph/typegraph/cli/native.py
  typegraph/typegraph/cli/test.py
Due: rust-fmt

add packaging script
  typegraph/native/Cargo.toml
  typegraph/native/src/lib.rs
  typegraph/package.sh
  typegraph/poetry.lock
  typegraph/pyproject.toml
  typegraph/typegraph/cli/cmds.py
  typegraph/typegraph/cli/native.py
  typegraph/typegraph/cli/test.py
Due: rust-fmt

fix: use string type for fields
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/dist/typegate.py
Due: deno-fmt, deno-lint

feat(cli): Add command 'deploy'
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/cli/cmds.py
  typegraph/typegraph/cli/prod.py
Due: deno-fmt, deno-lint

add packaging script and upgrade to deno 1.24.1 with deno_bindgen 0.6.0
  .gitlab-ci.yml
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGraphRuntime.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
Due: deno-fmt, deno-lint

fix(prisma-runtime): Do not skip list in inputs
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/materializers/prisma/__init__.py
Due: deno-fmt, deno-lint

fix maturin upgrade
  typegraph/package.sh
Due: none

fix deno version
  .gitlab-ci.yml
Due: none

Use deterministic type identifiers
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGraphRuntime.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/tests/materializers/prisma/test_schema.py
  typegraph/tests/test_dependency.py
  typegraph/tests/test_typegraph.py
  typegraph/tests/test_typegraphs.py
  typegraph/typegraph/graphs/builders.py
  typegraph/typegraph/graphs/typegraph.py
  typegraph/typegraph/types/typedefs.py
Due: deno-fmt, deno-lint
