Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
        exclude: .vscode/.*\.json
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: typegate/deno.lock
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.254"
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
        args: ["--locked"]
      - id: clippy
        args: ["--locked", "--", "--deny", "warnings"]
  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/
      - id: version
        name: "Lock versions"
        always_run: true
        language: system
        entry: bash -c 'deno run -A dev/lock.ts'
        pass_filenames: false
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
      - id: insert-license
        name: "License header python"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=#"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - python
        files: ^typegraph/
      - id: insert-license
        name: "License header rust"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - rust
        files: ^(typegate|libs|meta-cli)/
      - id: insert-license
        name: "License header deno"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
        files: ^(typegate|dev)/
      - id: insert-license
        name: "License header typescript"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
          - tsx
        files: ^website/

init changes
  typegraph/typegraph/importers/google_discovery.py
  website/.env.sample
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

init google-api
  typegraph/typegraph/importers/ts-templates/google-api.ts
Due: none

add fetch generator
  typegraph/typegraph/importers/google_discovery.py
  typegraph/typegraph/importers/ts-templates/google_request.ts
  website/docs/tutorials/import-your-api-blocks/generated_google_request.ts
Due: es-lint

minor fixes + regenerate
  typegraph/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

dyn generation ts
  typegraph/typegraph/importers/google_discovery.py
  typegraph/typegraph/importers/ts-templates/google_request.ts
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

use default module
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/generated_google_post.ts
Due: es-lint

skip t.func in the model generation
  typegraph/typegraph/providers/prisma/schema.py
Due: none

use cleaner error message
  typegate/src/planner/args.ts
Due: deno-fmt, deno-lint

doc: Fix various grammar and semantical issues.
  meta-cli/src/typegraph/mod.rs
  website/docs/concepts/typegate/index.mdx
  website/docs/concepts/typegraph/index.mdx
  website/docs/tutorials/adding-more-runtimes/index.mdx
  website/docs/tutorials/getting-started.mdx
  website/docs/tutorials/your-first-typegraph/index.mdx
  website/docs/tutorials/your-first-typegraph/typegraph.py
  website/shared/metatype-intro.mdx
Due: none

add test
  typegate/tests/prisma/mixed_runtime.py
  typegate/tests/prisma/mixed_runtime_test.ts
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: deno-fmt, deno-lint

MET-129: prisma runtime object should only consider same runtime field (#228)
  typegate/src/planner/args.ts
  typegate/tests/prisma/mixed_runtime.py
  typegate/tests/prisma/mixed_runtime_test.ts
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: deno-fmt, deno-lint

Get changes from the old branch
  examples/typegraphs/prisma_blog/prisma_blog.py
  typegate/tests/prisma/full_prisma_mapping.py
  typegraph/tests/__snapshots__/prisma-schema/implicit-one-to-many-r.prisma
  typegraph/tests/__snapshots__/prisma-schema/implicit-one-to-one-r.prisma
  typegraph/tests/__snapshots__/prisma-schema/multi-2-r.prisma
  typegraph/tests/__snapshots__/prisma-schema/multi-2.prisma
  typegraph/tests/__snapshots__/prisma-schema/multi-r.prisma
  typegraph/tests/__snapshots__/prisma-schema/multi.prisma
  typegraph/tests/__snapshots__/prisma-schema/one-to-many-r.prisma
  typegraph/tests/__snapshots__/prisma-schema/one-to-one-r.prisma
  typegraph/tests/__snapshots__/prisma-schema/optional-one-to-many-r.prisma
  typegraph/tests/__snapshots__/prisma-schema/optional-one-to-many.prisma
  typegraph/tests/__snapshots__/prisma-schema/optional-one-to-one-r.prisma
  typegraph/tests/__snapshots__/prisma-schema/optional-one-to-one.prisma
  typegraph/tests/__snapshots__/prisma-schema/self-multi.prisma
  typegraph/tests/__snapshots__/prisma-schema/self-one-to-many-1.prisma
  typegraph/tests/__snapshots__/prisma-schema/self-one-to-many.prisma
  typegraph/tests/__snapshots__/prisma-schema/self-one-to-one-alt.prisma
  typegraph/tests/__snapshots__/prisma-schema/self-one-to-one.prisma
  typegraph/tests/__snapshots__/type_generator/nested_count.json
  typegraph/tests/__snapshots__/type_generator/order_by.json
  typegraph/tests/__snapshots__/type_generator/order_by_2.json
  typegraph/tests/__snapshots__/type_generator/relations_input_1.json
  typegraph/tests/__snapshots__/type_generator/relations_input_2.json
  typegraph/tests/__snapshots__/type_generator/relations_where_1.json
  typegraph/tests/__snapshots__/type_generator/relations_where_2.json
  typegraph/tests/__snapshots__/type_generator/self_relation_input.json
  typegraph/tests/__snapshots__/type_generator/self_relation_where.json
  typegraph/tests/__snapshots__/type_generator/simple_input.json
  typegraph/tests/__snapshots__/type_generator/simple_where.json
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/tests/runtimes/prisma/test_type_generator.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/type_generator.py
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegraph/typegraph/providers/prisma/runtimes/prisma.md
Due: none

Fix mixed runtime test
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none

reuse HTTPRuntime
  typegraph/typegraph/importers/google_discovery.py
  typegraph/typegraph/importers/ts-templates/google-api.ts
  typegraph/typegraph/importers/ts-templates/google_request.ts
  website/docs/tutorials/import-your-api-blocks/generated_google_post.ts
  website/docs/tutorials/import-your-api-blocks/generated_google_request.ts
Due: es-lint

update generated code
  typegraph/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

try header prefix
  typegraph/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

Use implicit relationships in full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none

(test) Add test for optional 1-n rel
  typegate/tests/prisma/one_to_many_test.ts
  typegate/tests/prisma/optional_1_n.py
Due: deno-fmt, deno-lint

(test) Add test for optional 1-1 rel
  typegate/tests/prisma/one_to_one_test.ts
  typegate/tests/prisma/optional_1_1.py
Due: deno-fmt, deno-lint

(test/typegraph) Add more tests for type_generator
  typegraph/tests/__snapshots__/type_generator/order_by_2_extended_profile.json
  typegraph/tests/__snapshots__/type_generator/order_by_2_post.json
  typegraph/tests/__snapshots__/type_generator/order_by_2_user.json
  typegraph/tests/runtimes/prisma/test_type_generator.py
Due: none

Use one TypeGenerator per PrismaRuntime
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: none

Use Fn for PostProcessor (instead of `fn`)
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/mod.rs
  meta-cli/src/typegraph/postprocess.rs
Due: none

Use PostProcessor struct for existing postprocessors
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/mod.rs
  meta-cli/src/typegraph/postprocess.rs
Due: none

feat: pattern async messenger
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .vscode/launch.json
  README.md
  dev/Dockerfile
  dev/env.ts
  dev/lock.ts
  dev/lock.yml
  dev/serialize.ts
  dev/test.ts
  dev/update.ts
  meta-cli/src/typegraph/mod.rs
  typegate/deno.json
  typegate/deno.lock
  typegate/src/planner/mod.ts
  typegate/src/planner/policies.ts
  typegate/src/runtimes/deno.ts
  typegate/src/runtimes/deno/async_messenger.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_worker.ts
  typegate/src/runtimes/deno/lazy_async_messenger.ts
  typegate/src/runtimes/deno/shared_types.ts
  typegate/src/runtimes/deno/worker.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/runtimes/python_wasi/python_wasm_worker.ts
  typegate/src/runtimes/utils/codes.ts
  typegate/src/typegraph.ts
  typegate/tests/deno/deno_test.ts
  typegate/tests/runtimes/deno/deno.py
  typegate/tests/runtimes/deno/deno_reload.py
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/deno/ts/deno.ts
  typegate/tests/runtimes/deno/ts/math-npm.ts
  typegate/tests/runtimes/deno/ts/math.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  website/docs/concepts/typegraph/index.mdx
Due: deno-fmt, deno-lint

feat: refactor messenger
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_worker.ts
  typegate/src/runtimes/deno/shared_types.ts
  typegate/src/runtimes/deno/worker.ts
  typegate/src/runtimes/patterns/messenger/async_messenger.ts
  typegate/src/runtimes/patterns/messenger/lazy_async_messenger.ts
  typegate/src/runtimes/patterns/messenger/types.ts
Due: deno-fmt, deno-lint

feat: upgrade deno libs and enhace oauth2 flow with PKCE
  dev/lock.ts
  dev/mod.ts
  dev/update.ts
  typegate/deno.json
  typegate/deno.lock
  typegate/src/auth/protocols/oauth2.ts
  typegate/src/crypto.ts
  typegate/src/runtimes/deno/deno_worker.ts
  typegate/src/web/auth_debug.ts
  typegate/tests/auth/auth_test.ts
  whiz.yaml
Due: deno-fmt, deno-lint

feat: refacto cli and prepare release 0.1.0
  Cargo.lock
  dev/lock.yml
  examples/docker-compose.yml
  examples/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/main.rs
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

feat: refactor tests
  typegate/tests/crypto/crypto_test.ts
  typegate/tests/env.ts
  typegate/tests/utils.ts
  typegate/tests/utils/memory_register.ts
  typegate/tests/utils/no_limiter.ts
  typegate/tests/utils/q.ts
  typegate/tests/utils/single_register.ts
Due: deno-fmt, deno-lint

feat: missing filesW
  Cargo.lock
  libs/common/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-cli/src/cli/completion.rs
  meta-cli/src/cli/upgrade.rs
  typegate/native/Cargo.toml
Due: none

feat: lazyness only in prod
  typegate/src/runtimes/deno/deno.ts
  typegate/tests/utils.ts
  typegate/tests/utils/metatest.ts
  typegate/tests/utils/q.ts
Due: deno-fmt, deno-lint

feat: messenger for python
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
  typegate/src/runtimes/patterns/messenger/async_messenger.ts
  typegate/src/runtimes/patterns/messenger/lazy_async_messenger.ts
  typegate/src/runtimes/patterns/messenger/types.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
  typegate/src/runtimes/python_wasi/python_wasm_worker.ts
Due: deno-fmt, deno-lint

fix: tests
  typegate/tests/importers/importers_test.ts
  typegate/tests/prisma/prisma_seed.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegraph/tests/test_typegraph.py
Due: deno-fmt, deno-lint

feat: upgrade deno
  .github/workflows/release.yml
  .github/workflows/tests.yml
  dev/Dockerfile
  dev/lock.yml
  typegate/src/runtimes/deno/deno.ts
  typegate/src/typegraph.ts
Due: deno-fmt, deno-lint

feat: speed up public policy
  dev/mod.ts
  dev/update.ts
  typegate/src/runtimes/deno/deno.ts
  typegraph/typegraph/policies.py
Due: deno-fmt, deno-lint

feat: missing files
  .github/dependabot.yml
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegraph/pydoc.json
Due: none

Restore removed `PrismaResetMat`
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: none

Fix import in one_to_one_test.ts
  typegate/tests/prisma/one_to_one_test.ts
Due: deno-fmt, deno-lint

finalize working example
  typegraph/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none
