Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

chore(release): prepare 0.4.1
  Cargo.lock
  Cargo.toml
  dev/envs/compose.base.yml
  dev/lock.ts
  dev/lock.yml
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-cli/src/main.rs
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

fix(tests): fix failing tests
  typegate/tests/artifacts/artifacts_test.ts
  typegate/tests/runtimes/prisma/one_to_one_test.ts
Due: deno-fmt, deno-lint

wip
  .ghjk/lock.json
  .vscode/settings.json
  typegate/deno.lock
  typegate/src/config.ts
  typegate/src/config/loader.ts
  typegate/src/config/shared.ts
  typegate/src/config/types.ts
  typegate/src/engine/planner/mod.ts
  typegate/src/engine/planner/policies.ts
  typegate/src/log.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
  typegate/src/runtimes/patterns/messenger/async_messenger.ts
  typegate/src/runtimes/patterns/messenger/lazy_async_messenger.ts
  typegate/src/typegate/mod.ts
  typegate/src/typegraph/mod.ts
Due: deno-fmt, deno-lint

fix fat-cli compilation, add pre-commit check
  .pre-commit-config.yaml
  Cargo.lock
  meta-cli/src/cli/typegate.rs
Due: none

compile the fat cli in tests instead of pre-commit
  .github/workflows/tests.yml
  .pre-commit-config.yaml
Due: none

chore(SDK): move expand_glob to the core SDK
  Cargo.lock
  typegate/tests/runtimes/deno/deno_globs.py
  typegraph/core/Cargo.toml
  typegraph/core/src/utils/fs_host.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/pnpm-lock.yaml
  typegraph/node/sdk/package.json
  typegraph/node/sdk/src/host/host.ts
  typegraph/python/typegraph/host/host.py
Due: none

chore: upgrade wamstime crate version to 20.0.2
  .ghjk/lock.json
  Cargo.lock
Due: none

fix: add cross to ghjk
  .ghjk/lock.json
  ghjk.ts
Due: none

fix: only build xtask once for the tests
  dev/test.ts
  typegate/deno.jsonc
Due: deno-fmt, deno-lint

remove deno task test
  dev/test.ts
  typegate/deno.jsonc
Due: deno-fmt, deno-lint

test: build meta-cli only once
  Cargo.lock
  dev/test.ts
  typegate/tests/utils/meta.ts
Due: deno-fmt, deno-lint

wip: wip
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  typegate/engine/build.rs
Due: none

wip: wip
  .ghjk/lock.json
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  ghjk.ts
  poetry.lock
  typegate/engine/src/runtimes/wit_wire.rs
  typegraph/python/poetry.lock
  typegraph/python/pyproject.toml
Due: none

fix duplicate key
  Cargo.lock
  dev/Dockerfile
  dev/lock.yml
  dev/test.ts
  rust-toolchain.toml
Due: deno-fmt, deno-lint

feat: add multi-typegraph in a single file support in metaTest
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/multi_typegraph/multi_typegraph.py
  typegate/tests/multi_typegraph/multi_typegraph.ts
  typegate/tests/multi_typegraph/multi_typegraph_test.ts
  typegate/tests/utils/test.ts
  typegate/tests/utils/tg_deploy_script.py
  typegate/tests/utils/tg_deploy_script.ts
Due: deno-fmt, deno-lint

chore: address comments
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

wip: wip
  Cargo.lock
  Cargo.toml
  dev/Dockerfile
  dev/lock.yml
  dev/verdaccio/config.yaml
  ghjk.ts
  rust-toolchain.toml
  typegraph/python/pyproject.toml
  whiz.yaml
Due: none

fix: bugs
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.lock
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
  whiz.yaml
Due: none

fix(ci): fromJson for runs-on
  .github/workflows/tests.yml
Due: none

wip: huh??
  .github/workflows/tests.yml
Due: none

wip: try builder matrix
  .github/workflows/tests.yml
Due: none

wip: try new builder config
  .github/workflows/tests.yml
Due: none

wip: final compat matrix config
  .github/workflows/tests.yml
Due: none

fix: don't use clippy on compat jobs
  .github/workflows/tests.yml
Due: none

fix: disable linux/arm64
  .github/workflows/tests.yml
  typegate/engine/build.rs
Due: none

fix: use macos-13
  .github/workflows/tests.yml
Due: none

test: add built meta-cli to path
  dev/test.ts
  libs/xtask/src/deno.rs
  typegate/tests/utils/meta.ts
Due: deno-fmt, deno-lint

wip
  typegate/src/config.ts
  typegate/src/config/types.ts
  typegate/src/runtimes/patterns/messenger/async_messenger.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/services/middlewares.ts
  typegate/src/services/playground_service.ts
  typegate/src/services/rest_service.ts
  typegate/src/sync/config.ts
  typegate/src/sync/typegraph.ts
  typegate/src/typegate/artifacts/shared.ts
  typegate/src/typegate/mod.ts
  typegate/src/typegraph/versions.ts
  typegate/tests/artifacts/artifacts_test.ts
  typegate/tests/utils/dir.ts
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

fix: more usage of custom-ubuntu-large
  .github/workflows/tests.yml
Due: none

fix(ci): poetry lockfile
  .github/workflows/release.yml
  .pre-commit-config.yaml
  poetry.lock
  typegraph/python/poetry.lock
Due: none

fix: try 2
  .pre-commit-config.yaml
Due: none

fix(ci): poetry lockfile (#732)
  .github/workflows/release.yml
  .pre-commit-config.yaml
  poetry.lock
  typegraph/python/poetry.lock
Due: none

wip: wip
  website/docs/concepts/features-overview/index.mdx
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/rest/index.mdx
  website/docs/guides/securing-requests/index.mdx
  website/shared/s3/index.mdx
  website/src/components/MiniQL/index.tsx
  website/src/pages/features/index.tsx
Due: es-lint

fix: address feedback
  website/docs/concepts/features-overview/index.mdx
  website/docs/guides/rest/index.mdx
  website/docs/guides/securing-requests/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
Due: none

docs: `/docs/concepts/features-overview/`
  website/docs/concepts/features-overview/index.mdx
Due: none

wip: wip
  website/docs/concepts/features-overview/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
  website/src/components/TGExample/index.tsx
  website/src/pages/features/index.tsx
Due: es-lint

Apply suggestions from code review
  website/docs/concepts/features-overview/index.mdx
  website/docs/guides/rest/index.mdx
  website/docs/guides/securing-requests/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
