Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$

Resolution options for failure caused by new columns
  Cargo.lock
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/deploy/push/migration_resolution.rs
  meta-cli/src/deploy/push/mod.rs
  meta-cli/src/input.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/postprocess.rs
  meta-cli/src/utils/from_shared.rs
  meta-cli/src/utils/mod.rs
  typegate/engine/Cargo.toml
  typegate/engine/runtime.d.ts
  typegate/engine/src/runtimes/prisma.rs
  typegate/engine/src/runtimes/prisma/migration.rs
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  whiz.yaml
Due: deno-fmt, deno-lint

select options
  Cargo.lock
  Cargo.toml
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/deploy/push/migration_resolution.rs
  meta-cli/src/input.rs
  meta-cli/src/utils/from_shared.rs
  meta-cli/src/utils/mod.rs
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
Due: deno-fmt, deno-lint

fix: Dockerfile feedback
  dev/Dockerfile
Due: none

refactor(ci): use `ghjk` for deps (#495)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  dev/Dockerfile
  dev/lock.yml
  ghjk.ts
  whiz.yaml
Due: none

website: fix link
  website/docs/reference/typegate/authentication/oauth2.tsx
Due: es-lint

fix link
  website/src/components/MiniQL/index.tsx
Due: es-lint

try triggering warnings
  website/src/pages/index.tsx
Due: es-lint

revert empty span
  website/src/pages/index.tsx
Due: es-lint

custom console input
  Cargo.lock
  libs/common/src/typegraph/mod.rs
  meta-cli/Cargo.toml
  meta-cli/src/deploy/actors/console.rs
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/deploy/push/migration_resolution.rs
  meta-cli/src/input.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/engine/src/runtimes/prisma/migration.rs
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
Due: deno-fmt, deno-lint

move input.rs file
  meta-cli/src/deploy/actors/console.rs
  meta-cli/src/deploy/actors/console/input.rs
  meta-cli/src/deploy/actors/push_manager.rs
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/deploy/push/migration_resolution.rs
  meta-cli/src/main.rs
Due: none

using the context for diagnostics instead of throwing
  dev-tools/ts-language-server/src/analysis/diagnostics/context.ts
  dev-tools/ts-language-server/src/analysis/exposed_function.ts
  dev-tools/ts-language-server/src/analysis/runtimes/mod.ts
  dev-tools/ts-language-server/src/analysis/typescript-semantic/semantic-node.ts
  dev-tools/ts-language-server/src/parser.ts
Due: none

update trace logs
  meta-cli/src/deploy/actors/console.rs
  meta-cli/src/deploy/actors/push_manager.rs
Due: none

feat(gate): use MemoryRegister + try NoLimiter
  typegate/src/main.ts
Due: deno-fmt, deno-lint

separate messsage for each failure reason
  meta-cli/src/deploy/actors/pusher.rs
Due: none

feat(gate): emulate redis in memory
  typegate/src/main.ts
  typegate/src/typegate/memory_rate_limiter.ts
Due: deno-fmt, deno-lint

revert memory_rate_limiter, put back NoLimiter
  typegate/src/main.ts
  typegate/src/typegate/memory_rate_limiter.ts
Due: deno-fmt, deno-lint

try initial repo state
  website/docs/reference/typegate/authentication/oauth2.tsx
Due: es-lint

try initial repo state
  website/src/components/MiniQL/index.tsx
Due: es-lint

try old test-website
  .github/workflows/tests.yml
Due: none

Revert "revert empty span"
  website/src/pages/index.tsx
Due: es-lint

Revert "try old test-website"
  .github/workflows/tests.yml
Due: none

revert 'try sequences'
  website/docs/reference/typegate/authentication/oauth2.tsx
  website/src/components/MiniQL/index.tsx
Due: es-lint

remove missed empty span
  website/src/pages/index.tsx
Due: es-lint

Fix deploy test
  meta-cli/src/deploy/actors/console.rs
  typegate/engine/bindings.ts
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

fix(website): fix docusaurus warnings (#526)
  website/docs/reference/typegate/authentication/oauth2.tsx
  website/src/components/MiniQL/index.tsx
Due: es-lint

feat(gate): add allow redisless flag
  typegate/src/config.ts
  typegate/src/main.ts
Due: deno-fmt, deno-lint

fix(gate): set allow redisless flag to false by default
  typegate/src/config.ts
  typegate/src/main.ts
Due: deno-fmt, deno-lint

wip
  typegate/tests/runtimes/s3/s3_test.ts
Due: deno-fmt, deno-lint

fix(gate): enable iff redis_url is none
  typegate/src/config.ts
  typegate/src/main.ts
Due: deno-fmt, deno-lint

wip
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/utils/metadev.ts
Due: deno-fmt, deno-lint

fix hook
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
Due: deno-fmt, deno-lint

feat(gate): set REDIS_URL to none if not present
  typegate/engine/src/lib.rs
Due: none

feat(gate): redis-less mode (#528)
  typegate/engine/src/lib.rs
  typegate/src/config.ts
  typegate/src/main.ts
Due: deno-fmt, deno-lint

metadev test utils
  meta-cli/src/deploy/actors/console.rs
  meta-cli/src/typegraph/loader/mod.rs
  typegate/deno.lock
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/e2e/cli/dev_test.ts
  typegate/tests/e2e/cli/templates/migration.py
  typegate/tests/utils/meta.ts
  typegate/tests/utils/metadev.ts
Due: deno-fmt, deno-lint

test(s3): GraphQL multipart request
  typegate/tests/runtimes/s3/s3_test.ts
Due: deno-fmt, deno-lint

test(e2e): wip
  .pre-commit-config.yaml
  typegate/tests/e2e/nextjs/apollo/.eslintrc.json
  typegate/tests/e2e/nextjs/apollo/.gitignore
  typegate/tests/e2e/nextjs/apollo/app/apollo/page.tsx
  typegate/tests/e2e/nextjs/apollo/app/favicon.ico
  typegate/tests/e2e/nextjs/apollo/app/layout.tsx
  typegate/tests/e2e/nextjs/apollo/app/page.tsx
  typegate/tests/e2e/nextjs/apollo/components/apollo_upload.tsx
  typegate/tests/e2e/nextjs/apollo/next.config.js
  typegate/tests/e2e/nextjs/apollo/package.json
  typegate/tests/e2e/nextjs/apollo/pnpm-lock.yaml
  typegate/tests/e2e/nextjs/apollo/postcss.config.js
  typegate/tests/e2e/nextjs/apollo/public/next.svg
  typegate/tests/e2e/nextjs/apollo/public/vercel.svg
  typegate/tests/e2e/nextjs/apollo/tailwind.config.ts
  typegate/tests/e2e/nextjs/apollo/tsconfig.json
Due: deno-fmt, deno-lint

test(e2e): wip
  typegate/tests/e2e/nextjs/apollo/app/apollo/page.tsx
  typegate/tests/e2e/nextjs/apollo/components/apollo_upload.tsx
  typegate/tests/e2e/nextjs/apollo/package.json
  typegate/tests/e2e/nextjs/apollo/pnpm-lock.yaml
  typegate/tests/e2e/nextjs/apollo_test.ts
  typegate/tests/e2e/nextjs/server.sh
  typegate/tests/e2e/nextjs/typegraph/apollo.py
Due: deno-fmt, deno-lint

test(s3): (wip) use pure api, remove astral requirement
  typegate/tests/e2e/nextjs/apollo/app/apollo/page.tsx
  typegate/tests/e2e/nextjs/apollo/pages/api/apollo.ts
  typegate/tests/e2e/nextjs/apollo/public/.keep
  typegate/tests/e2e/nextjs/apollo/public/next.svg
  typegate/tests/e2e/nextjs/apollo/public/vercel.svg
  typegate/tests/e2e/nextjs/apollo_test.ts
Due: deno-fmt, deno-lint

test(e2e): fix leaking ops
  typegate/tests/e2e/nextjs/apollo/pages/api/apollo.ts
  typegate/tests/e2e/nextjs/apollo_test.ts
Due: deno-fmt, deno-lint

test: CI
  .github/workflows/tests.yml
  Cargo.lock
  dev-tools/README.md
  ghjk.ts
Due: none
