Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint, devtools-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp,tests/e2e/nextjs && cd ../dev && deno fmt && cd ../typegraph/node && deno fmt --ignore=node_modules,dist'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp,tests/e2e/nextjs && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint website
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

devtools-lint:
  name: ESLint meta-lsp
  language: system
  entry: bash -c 'cd meta-lsp && pnpm lint --fix'
  pass_filenames: false

refactor!: working draft
  typegraph/deno/dev/fix-declarations.ts
  typegraph/deno/sdk/LICENSE.md
  typegraph/deno/sdk/eslint.config.js
  typegraph/deno/sdk/package-lock.json
  typegraph/deno/sdk/package.json
  typegraph/deno/sdk/src/deps/mod.ts
  typegraph/deno/sdk/src/effects.ts
  typegraph/deno/sdk/src/envs/cli.ts
  typegraph/deno/sdk/src/host/host.mjs
  typegraph/deno/sdk/src/index.ts
  typegraph/deno/sdk/src/io.ts
  typegraph/deno/sdk/src/metagen.ts
  typegraph/deno/sdk/src/params.ts
  typegraph/deno/sdk/src/policy.ts
  typegraph/deno/sdk/src/providers/aws.ts
  typegraph/deno/sdk/src/providers/prisma.ts
  typegraph/deno/sdk/src/providers/temporal.ts
  typegraph/deno/sdk/src/runtimes/deno.ts
  typegraph/deno/sdk/src/runtimes/graphql.ts
  typegraph/deno/sdk/src/runtimes/http.ts
  typegraph/deno/sdk/src/runtimes/python.ts
  typegraph/deno/sdk/src/runtimes/random.ts
  typegraph/deno/sdk/src/runtimes/wasm.ts
  typegraph/deno/sdk/src/tg_artifact_upload.ts
  typegraph/deno/sdk/src/tg_deploy.ts
  typegraph/deno/sdk/src/tg_manage.ts
  typegraph/deno/sdk/src/typegraph.ts
  typegraph/deno/sdk/src/types.ts
  typegraph/deno/sdk/src/utils/func_utils.ts
  typegraph/deno/sdk/src/utils/injection_utils.ts
  typegraph/deno/sdk/src/utils/type_utils.ts
  typegraph/deno/sdk/src/wit.ts
  typegraph/deno/sdk/tsconfig.json
  whiz.yaml
Due: none

warning on cancelled retry
  meta-cli/src/deploy/actors/task_manager.rs
Due: none

fix casing typo in typescript sdk
  typegraph/node/sdk/src/io.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/node/sdk/src/tg_manage.ts
Due: deno-fmt, es-lint

fix: disable test
  meta-cli/src/main.rs
Due: none

display retry number
  examples/metatype.yaml
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task_manager.rs
Due: none

fix error reporting on the typescript sdk
  typegraph/node/sdk/src/tg_manage.ts
Due: deno-fmt, es-lint

add verbosity level to meta-cli task in whiz
  whiz.yaml
Due: none

fix: disable mold in CI
  .ghjk/lock.json
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  ghjk.ts
Due: none

fix some tests
  libs/xtask/src/deno.rs
  typegate/tests/graphql/graphql_test.ts
  typegate/tests/graphql/request_parser_test.ts
  typegate/tests/injection/injection_test.ts
Due: deno-fmt, deno-lint

fix: failed typegraph deployment (#758)
  examples/metatype.yaml
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task_manager.rs
  typegraph/node/sdk/src/io.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/node/sdk/src/tg_manage.ts
  whiz.yaml
Due: deno-fmt, es-lint

fix tmp_dir config on test
  typegate/src/typegate/mod.ts
  typegate/tests/utils/dir.ts
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

restore remove lines from artifacts/local.ts
  typegate/src/typegate/artifacts/local.ts
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

chore: add graphql tests
  .ghjk/lock.json
  typegate/src/runtimes/prisma/prisma.ts
  typegate/tests/runtimes/graphql/__snapshots__/graphql_test.ts.snap
  typegate/tests/runtimes/graphql/graphql_test.ts
  typegate/tests/runtimes/graphql/typegraphs/deno/graphql.ts
  typegate/tests/runtimes/graphql/typegraphs/python/graphql.py
  website/docs/tutorials/metatype-basics/index.mdx
Due: deno-fmt, deno-lint

fix(test): fix ts graphql test
  typegate/tests/runtimes/graphql/graphql_test.ts
  typegate/tests/runtimes/graphql/typegraphs/deno/graphql.ts
Due: deno-fmt, deno-lint

update typegate/src/main.ts
  typegate/src/main.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.lock
  typegate/tests/runtimes/wasm_wire/rust/Cargo.lock
  website/pnpm-lock.yaml
  whiz.yaml
Due: deno-fmt, deno-lint

remove restriction from the validator
  libs/common/src/typegraph/validator/common.rs
  libs/common/src/typegraph/validator/mod.rs
Due: none

feat: add MCLI_DENO_IMPORT_MAP
  examples/typegraphs/pnpm-lock.yaml
  meta-cli/src/deploy/actors/task/command/typescript.rs
  typegate/tests/e2e/website/website_test.ts
  typegraph/deno/sdk/src/typegraph.ts
Due: deno-fmt, deno-lint

fix: metagen test
  .github/workflows/tests.yml
  libs/metagen/src/tests/fixtures.rs
  libs/metagen/tests/package.json
  libs/metagen/tests/pnpm-lock.yaml
  libs/metagen/tests/tg.ts
Due: none

fix: bad import
  typegraph/deno/dev/fix-declarations.ts
  typegraph/deno/sdk/src/runtimes/python.ts
Due: none

wip: try MCLI_LOADER_PY hack
  .github/workflows/tests.yml
Due: none

fix: fix graphql demo typegraph
  examples/typegraphs/graphql.py
  examples/typegraphs/graphql.ts
Due: none

chore: update graphql test
  typegate/tests/runtimes/graphql/__snapshots__/graphql_test.ts.snap
  typegate/tests/runtimes/graphql/graphql_test.ts
  typegate/tests/runtimes/graphql/typegraphs/deno/graphql.ts
  typegate/tests/runtimes/graphql/typegraphs/python/graphql.py
Due: deno-fmt, deno-lint

chore: update graphql tg snapshot
  typegate/tests/runtimes/graphql/__snapshots__/graphql_test.ts.snap
  typegate/tests/runtimes/graphql/graphql_test.ts
  typegate/tests/runtimes/graphql/typegraphs/deno/graphql.ts
Due: deno-fmt, deno-lint

wip: add tmate hook
  .github/workflows/tests.yml
Due: none

fix: `install-ts` bug
  dev/tasks-install.ts
Due: deno-fmt, deno-lint

fix policies test and sync test
  typegate/src/config.ts
  typegate/src/config/loader.ts
  typegate/src/config/types.ts
  typegate/src/sync/config.ts
  typegate/tests/injection/injection_test.ts
  typegate/tests/policies/policies_test.ts
  typegate/tests/sync/sync_config_test.ts
  typegraph/node/pnpm-lock.yaml
Due: deno-fmt, deno-lint

fix loader
  typegate/src/config/loader.ts
Due: deno-fmt, deno-lint

(docs) add example for each env var
  website/docs/reference/typegate/index.mdx
Due: none

add deno_v8_flags do the global config schema
  typegate/src/config/types.ts
Due: deno-fmt, deno-lint

chore: update the snapshots
  typegate/tests/runtimes/graphql/__snapshots__/graphql_test.ts.snap
  typegate/tests/runtimes/graphql/graphql_test.ts
Due: deno-fmt, deno-lint

fix: fix mutation qraphql materializers on tests
  typegate/tests/runtimes/graphql/__snapshots__/graphql_test.ts.snap
  typegate/tests/runtimes/graphql/graphql_test.ts
  typegate/tests/runtimes/graphql/typegraphs/deno/graphql.ts
  typegate/tests/runtimes/graphql/typegraphs/python/graphql.py
  website/docs/reference/runtimes/graphql/index.mdx
Due: deno-fmt, deno-lint

fix: fix authentication tg graphql request
  website/docs/guides/securing-requests/authentication.graphql
Due: none

poc, union_test 1
  typegate/src/engine/planner/mod.ts
  typegate/src/engine/typecheck/code_generator.ts
  typegate/src/engine/typecheck/matching_variant.ts
  typegate/src/engine/typecheck/result.ts
  typegate/src/typegraph/mod.ts
  typegate/src/typegraph/type_node.ts
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/ts/union/color_converter.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

fix: conflicts
  .ghjk/lock.json
  .pre-commit-config.yaml
  dev/lock.yml
  typegate/tests/runtimes/wasm_wire/rust/Cargo.lock
  typegraph/deno/sdk/src/io.ts
  typegraph/deno/sdk/src/tg_deploy.ts
  typegraph/deno/sdk/src/tg_manage.ts
Due: none

fix: workflow
  .github/workflows/tests.yml
Due: none

fix: fix migration issues for graphql test
  typegate/tests/runtimes/graphql/__snapshots__/graphql_test.ts.snap
  typegate/tests/runtimes/graphql/graphql_test.ts
Due: deno-fmt, deno-lint

refactor: fix typo
  .ghjk/lock.json
  website/docs/guides/programmatic-deployment/index.mdx
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev|typegraph/node)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: (any of: ^typegraph/node/sdk and \.(ts|mts|cts)$, \.tsx$ and not (node_modules)) or (any of: ^website/ and \.(ts|mts|cts)$, \.tsx$ and not (^website/typegraphs/))
  devtools-lint: any of: ^meta-lsp/ and \.(ts|mts|cts)$
