Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$

feat(gate): resolve deno runtime artifacts
  typegate/src/runtimes/deno/deno.ts
  typegate/tests/runtimes/deno/deno_dep.ts
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

docs: refactor and set missing descriptions
  website/docs/reference/runtimes/index.mdx
  website/docs/reference/runtimes/wasm/index.mdx
  website/docs/reference/runtimes/wasmedge/index.mdx
  website/docs/reference/typegate/index.mdx
  website/package.json
  website/pnpm-lock.yaml
Due: none

docs: wasm, random (wip)
  examples/typegraphs/roadmap-random.py
  examples/typegraphs/roadmap-random.ts
  website/docs/reference/runtimes/random/index.mdx
  website/docs/reference/runtimes/random/random.graphql
  website/docs/reference/runtimes/wasm/index.mdx
Due: none

fix: consistent style
  website/docs/reference/runtimes/http/index.mdx
  website/docs/reference/runtimes/prisma/index.mdx
  website/docs/reference/runtimes/python/index.mdx
  website/docs/reference/runtimes/random/index.mdx
  website/docs/reference/runtimes/s3/index.mdx
  website/docs/reference/runtimes/temporal/index.mdx
  website/docs/reference/runtimes/wasm/index.mdx
Due: none

chore(test): renable python wasi tests
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegate/tests/runtimes/wasmedge/wasmedge.py
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

feat: add queryPrismaModel in the typegate runtime (#635)
  typegate/src/runtimes/prisma/prisma.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
  typegate/tests/runtimes/typegate/typegate_prisma_test.ts
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/runtimes/typegate.rs
  typegraph/core/wit/typegraph.wit
Due: deno-fmt, deno-lint

fix(ci,cli): bump `setup-ghjk` version
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  meta-cli/src/typegraph/loader/mod.rs
Due: none

docs: finalize
  examples/typegraphs/http-runtime.py
  examples/typegraphs/random-field.py
  examples/typegraphs/roadmap-random.py
  examples/typegraphs/roadmap-random.ts
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/reference/runtimes/http/http.graphql
  website/docs/reference/runtimes/http/index.mdx
  website/docs/reference/runtimes/python/index.mdx
  website/docs/reference/runtimes/random/index.mdx
  website/docs/reference/runtimes/random/random-field.graphql
  website/docs/reference/runtimes/temporal/index.mdx
  website/docs/reference/runtimes/wasm/index.mdx
Due: none

fix: diasable backtrace for deno test
  typegate/deno.jsonc
Due: none

feat: improve sdk switcher
  .vscode/settings.json
  poetry.lock
  website/docs/concepts/features-overview/index.mdx
  website/docs/index.mdx
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/ChoicePicker/index.tsx
  website/src/components/CompareLandscape.tsx
  website/src/components/MiniQL/graphiql.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/SDKTabs/index.tsx
  website/src/pages/index.tsx
  website/src/states/sdk.ts
Due: es-lint

docs: refresh
  meta-lsp/.eslintrc.yml
  meta-lsp/.vscodeignore
  meta-lsp/LICENSE.md
  meta-lsp/README.md
  meta-lsp/logo.png
  meta-lsp/package.json
  meta-lsp/pnpm-lock.yaml
  meta-lsp/ts-language-server/package.json
  meta-lsp/ts-language-server/pnpm-lock.yaml
  meta-lsp/ts-language-server/src/analysis/diagnostics/context.ts
  meta-lsp/ts-language-server/src/analysis/exposed_function.ts
  meta-lsp/ts-language-server/src/analysis/runtimes/mod.ts
  meta-lsp/ts-language-server/src/analysis/typescript-semantic/scope.ts
  meta-lsp/ts-language-server/src/analysis/typescript-semantic/semantic-node.ts
  meta-lsp/ts-language-server/src/analysis/typescript-semantic/symbols.ts
  meta-lsp/ts-language-server/src/analysis/typescript-semantic/utils/mod.ts
  meta-lsp/ts-language-server/src/lsp_client.ts
  meta-lsp/ts-language-server/src/parser.ts
  meta-lsp/ts-language-server/src/server.ts
  meta-lsp/ts-language-server/src/server/documents.ts
  meta-lsp/ts-language-server/src/server/index.ts
  meta-lsp/ts-language-server/src/types.ts
  meta-lsp/ts-language-server/tests/__snapshots__/expose_analysis_test.ts.snap
  meta-lsp/ts-language-server/tests/expose_analysis.test.ts
  meta-lsp/ts-language-server/tests/typegraphs/deno_types.ts
  meta-lsp/ts-language-server/tests/utils.ts
  meta-lsp/tsconfig.json
  meta-lsp/vscode-metatype-support/package.json
  meta-lsp/vscode-metatype-support/pnpm-lock.yaml
  meta-lsp/vscode-metatype-support/src/extension.ts
  meta-lsp/vscode-metatype-support/tsconfig.json
  website/blog/2023-11-27-node-compatibility/index.mdx
  website/docs/reference/meta-lsp/index.mdx
  website/shared/image.drawio.svg
Due: none

refactor: apply feedback
  dev/envs/compose.base.yml
  dev/envs/compose.s3.yml
Due: none

wip(docs): restructure quick start and add simple project lesson(wip)
  .ghjk/lock.json
  website/docs/reference/types/index.mdx
  website/docs/tutorials/quick-start/index.mdx
  website/shared/install/meta-cli.mdx
  website/shared/install/typegate.mdx
  website/shared/projects/first-project.mdx
Due: none

fix: remove obsolete env
  .github/workflows/tests.yml
Due: none

fix: pin python version for tooling
  .ghjk/deno.lock
  .ghjk/lock.json
  ghjk.ts
Due: none

add ghjk dev task
  .ghjk/lock.json
  ghjk.ts
Due: none

feat: prisma batch query
  typegate/src/runtimes/prisma/prisma.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
  typegate/tests/runtimes/typegate/typegate_prisma_test.ts
Due: deno-fmt, deno-lint

feat: transaction isolation level
  typegate/src/runtimes/prisma/prisma.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
  typegate/tests/runtimes/typegate/typegate_prisma_test.ts
Due: deno-fmt, deno-lint

small fixes
  ghjk.ts
  typegate/src/runtimes/typegate.ts
Due: deno-fmt, deno-lint

fix: `pre-commit` issue
  .github/workflows/tests.yml
  ghjk.ts
Due: none

fix: `pre-commit` issue 2
  .github/workflows/tests.yml
Due: none

update synchronization page
  typegate/src/typegraph/types.ts
  website/docs/reference/typegate/synchronization/index.mdx
Due: deno-fmt, deno-lint

fix: use correct version for each runtime
  website/docs/reference/runtimes/index.mdx
Due: none

fix(ci): bump `setup-ghjk` version (#680)
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  meta-cli/src/typegraph/loader/mod.rs
  typegate/deno.jsonc
Due: none

wip
  website/docs/reference/types/index.mdx
Due: none

chore(docs): add first project(ts)
  examples/typegraphs/package.json
  examples/typegraphs/pnpm-lock.yaml
  examples/typegraphs/quick-start-project.ts
  website/docs/tutorials/quick-start/index.mdx
  website/shared/install/meta-cli.mdx
  website/shared/install/typegate.mdx
  website/shared/projects/first-project.mdx
Due: none

chore(docs): add first project(python)
  examples/typegraphs/quick-start-project.py
  website/shared/projects/first-project-python-tab.mdx
  website/shared/projects/first-project-ts.mdx
  website/shared/projects/first-project.mdx
Due: none

fix: address comments, fix broken broken link
  website/docs/concepts/features-overview/index.mdx
  website/docs/reference/runtimes/http/index.mdx
  website/docs/reference/runtimes/random/index.mdx
  website/docs/reference/runtimes/temporal/index.mdx
  website/docs/reference/runtimes/wasm/index.mdx
Due: none

fix: typo
  examples/typegraphs/roadmap-random.py
  examples/typegraphs/roadmap-random.ts
Due: none

docs: add command reference table with examples
  website/docs/reference/meta-cli/available-commands.mdx
  website/docs/reference/meta-cli/index.mdx
Due: none

fix pthon version in ghjk
  .ghjk/deno.lock
  .ghjk/lock.json
  ghjk.ts
Due: none

docs: define 'tiers'
  website/docs/reference/runtimes/index.mdx
Due: none

fix: typo and phrasing
  website/docs/reference/runtimes/index.mdx
Due: none

chore(docs): add command results and screenshots.
  examples/typegraphs/quick-start-project.py
  examples/typegraphs/quick-start-project.ts
  website/docs/tutorials/quick-start/index.mdx
  website/shared/projects/first-project-python-tab.mdx
  website/shared/projects/first-project-ts.mdx
  website/static/images/tutorial/query-result.png
  website/static/images/tutorial/running-typegate.png
  website/static/images/tutorial/tg-on-typegate.png
Due: none

wip: try fix
  libs/xtask/src/deno.rs
Due: none

fix ghjk config
  .ghjk/deno.lock
  .ghjk/lock.json
Due: none

docs: improve how to guides
  .git-branches.toml
  .gitignore
  examples/metatype.yaml
  examples/typegraphs/func-ctx.py
  examples/typegraphs/func-ctx.ts
  examples/typegraphs/func-gql.py
  examples/typegraphs/func-gql.ts
  examples/typegraphs/math.py
  examples/typegraphs/math.ts
  examples/typegraphs/package.json
  examples/typegraphs/pnpm-lock.yaml
  examples/typegraphs/scripts/createVote.ts
  examples/typegraphs/scripts/fib.ts
  ghjk.ts
  libs/metagen/src/mdk_rust/mod.rs
  meta-cli/src/cli/gen.rs
  typegraph/node/sdk/src/types.ts
  website/docs/guides/external-functions/ctx.graphql
  website/docs/guides/external-functions/gql.graphql
  website/docs/guides/external-functions/index.mdx
  whiz.yaml
Due: none

fix: address feedback
  .git-branches.toml
  examples/typegraphs/func-ctx.py
  examples/typegraphs/func-ctx.ts
Due: none
