Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
        exclude: .vscode/.*\.json
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: typegate/deno.lock
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.254"
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
        args: ["--locked"]
      - id: clippy
        args: ["--locked", "--", "--deny", "warnings"]
  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/
      - id: version
        name: "Lock versions"
        always_run: true
        language: system
        entry: bash -c 'deno run -A dev/lock.ts'
        pass_filenames: false
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
      - id: insert-license
        name: "License header python"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=#"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - python
        files: ^typegraph/
      - id: insert-license
        name: "License header rust"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - rust
        files: ^(typegate|libs|meta-cli)/
      - id: insert-license
        name: "License header deno"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
        files: ^(typegate|dev)/
      - id: insert-license
        name: "License header typescript"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
          - tsx
        files: ^website/

fix(python): use attr.field directly to please pyright
  typegraph/python/typegraph/types.py
Due: none

fix(python): correctly type default_policy in TypeGraph.expose
  typegraph/python/typegraph/graph/typegraph.py
Due: none

doc(tuto): that support for -> supporting in prisma runtime section
  website/docs/tutorials/adding-more-runtimes/index.mdx
Due: none

fix: Python typing error happening in `example.py` file (#319)
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/types.py
Due: none

github: update pr-title-workflow
  .github/workflows/pr-title-check.yml
Due: none

Fix codegen
  libs/xtask/src/codegen/typescript.rs
  typegate/deno.lock
  typegate/tests/runtimes/deno/ts/math-npm.ts
Due: deno-fmt, deno-lint

feat(python): update types to make sure the tutorial works with pyright
  typegraph/python/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/python/typegraph/runtimes/base.py
  typegraph/python/typegraph/runtimes/graphql.py
  typegraph/python/typegraph/types.py
Due: none

feat(workflows/tests): Add minio service
  .github/workflows/tests.yml
Due: none

doc(tuto): add missing highlighted line
  website/docs/tutorials/adding-more-runtimes/graphql.py
Due: none

sanitize names
  typegraph/python/typegraph/importers/base/importer.py
  typegraph/python/typegraph/importers/base/typify.py
  typegraph/python/typegraph/utils/sanitizers.py
Due: none

throw if name invalid
  typegraph/python/typegraph/types.py
Due: none

remove content-length requirement
  typegate/src/typegate.ts
Due: deno-fmt, deno-lint

feat: File upload (#312)
  .github/workflows/tests.yml
  Cargo.lock
  examples/typegraphs/retrend/retrend.py
  libs/common/src/typegraph/mod.rs
  libs/common/src/typegraph/runtimes.rs
  libs/common/src/typegraph/types.rs
  libs/common/src/typegraph/validator.rs
  libs/common/src/typegraph/visitor.rs
  libs/xtask/src/codegen/jsonschema.rs
  libs/xtask/src/codegen/typescript.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/deno.json
  typegate/deno.lock
  typegate/native/Cargo.toml
  typegate/native/src/runtimes/mod.rs
  typegate/native/src/runtimes/s3.rs
  typegate/src/graphql/request_parser.ts
  typegate/src/runtimes/Runtime.ts
  typegate/src/runtimes/http.ts
  typegate/src/runtimes/s3.ts
  typegate/src/runtimes/typegraph.ts
  typegate/src/type_node.ts
  typegate/src/typecheck/code_generator.ts
  typegate/src/typecheck/common.ts
  typegate/src/typecheck/input.ts
  typegate/src/typecheck/result.ts
  typegate/src/typegate.ts
  typegate/src/types/typegraph.ts
  typegate/tests/graphql/request_parser_test.ts
  typegate/tests/runtimes/deno/ts/math-npm.ts
  typegate/tests/runtimes/s3/s3.py
  typegate/tests/runtimes/s3/s3_test.ts
  typegate/tests/utils/metatest.ts
  typegate/tests/utils/q.ts
  typegraph/core/Cargo.toml
  typegraph/python/typegraph/providers/aws/runtimes/s3.py
  typegraph/python/typegraph/types.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

add missing Content-Type header for tests
  typegate/src/typegate.ts
  typegate/tests/utils/q.ts
Due: deno-fmt, deno-lint

fix: GitHub(Importer) and validate names (#322)
  typegraph/python/typegraph/importers/base/importer.py
  typegraph/python/typegraph/importers/base/typify.py
  typegraph/python/typegraph/types.py
  typegraph/python/typegraph/utils/sanitizers.py
Due: none

fix merge
  typegate/tests/utils/q.ts
Due: deno-fmt, deno-lint

fix tests
  typegate/tests/http/http_content_type.py
  typegate/tests/internal/internal.py
  typegate/tests/introspection/union_either.py
  typegate/tests/nesting/nesting.py
  typegate/tests/runtimes/deno/deno_reload.py
  typegate/tests/runtimes/s3/s3.py
  typegate/tests/typecheck/type_alias.py
  typegate/tests/utils/q.ts
  typegate/tests/vars/vars.py
Due: deno-fmt, deno-lint

add test
  typegate/tests/http/http_body.py
  typegate/tests/http/http_body_test.ts
  typegate/tests/utils/q.ts
Due: deno-fmt, deno-lint

add undefined Content-Type test
  typegate/tests/http/http_body_test.ts
  typegate/tests/utils/q.ts
Due: deno-fmt, deno-lint

fix: add explicit error message (#318)
  typegate/src/typegate.ts
  typegate/tests/http/http_body.py
  typegate/tests/http/http_body_test.ts
  typegate/tests/http/http_content_type.py
  typegate/tests/internal/internal.py
  typegate/tests/introspection/union_either.py
  typegate/tests/nesting/nesting.py
  typegate/tests/runtimes/deno/deno_reload.py
  typegate/tests/runtimes/s3/s3.py
  typegate/tests/typecheck/type_alias.py
  typegate/tests/utils/q.ts
  typegate/tests/vars/vars.py
Due: deno-fmt, deno-lint

doc(tuto): typo and missing highlight line (#320)
  .github/workflows/pr-title-check.yml
  website/docs/tutorials/adding-more-runtimes/graphql.py
  website/docs/tutorials/adding-more-runtimes/index.mdx
Due: none

chore: prepare release v0.1.9
  Cargo.lock
  dev/lock.yml
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  examples/typegraphs/petstore/petstore.py
  examples/typegraphs/petstore_v3/petstore_v3.py
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/rust/Cargo.toml
  website/docs/reference/typegraph/python/pydoc.json
  website/docs/reference/typegraph/python/typegraph/importers/openapi.md
  website/docs/reference/typegraph/python/typegraph/utils/sanitizers.md
  whiz.yaml
Due: none

allow any name TypeGraph root
  typegate/tests/vars/vars.py
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/types.py
Due: none

allow any name TypeGraph root (#324)
  typegate/tests/vars/vars.py
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/types.py
Due: none

chore: prepare release v0.1.9 (#323)
  Cargo.lock
  dev/lock.yml
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  examples/typegraphs/petstore/petstore.py
  examples/typegraphs/petstore_v3/petstore_v3.py
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/rust/Cargo.toml
  website/docs/reference/typegraph/python/pydoc.json
  website/docs/reference/typegraph/python/typegraph/importers/openapi.md
  website/docs/reference/typegraph/python/typegraph/utils/sanitizers.md
  whiz.yaml
Due: none

test permissions
  .github/workflows/tests.yml
Due: none

chore: prepare release 0.1.10-dev.0
  dev/lock.yml
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/rust/Cargo.toml
Due: none

feat: add how to on authentication
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .vscode/settings.json
  dev/Dockerfile
  dev/lock.yml
  typegate/src/auth/protocols/oauth2.ts
  typegate/tests/auth/auth_test.ts
  website/docs/guides/authentication/index.mdx
  website/docs/guides/authentication/jwt.graphql
  website/docs/guides/authentication/jwt.py
  website/docs/guides/authentication/oauth2.graphql
  website/docs/guides/authentication/oauth2.py
  website/docs/guides/authentication/oauth2.tsx
  website/docs/tutorials/getting-started.mdx
  website/metatype.yaml
  website/shared/install/meta-cli.mdx
  website/shared/install/typegate.mdx
  website/shared/install/typegraph.mdx
  website/src/components/Newsletter/index.tsx
Due: deno-fmt, deno-lint, es-lint

fix: tests
  typegate/src/auth/protocols/oauth2.ts
  typegate/tests/auth/auth_test.ts
Due: deno-fmt, deno-lint

feat: clean doc
  dev/lock.yml
  examples/demo/demo.py
  meta-cli/src/typegraph/push.rs
  poetry.lock
  pyproject.toml
  typegate/tests/policies/effects.py
  typegate/tests/policies/policies_jwt.py
  typegate/tests/policies/policies_jwt_format.py
  typegate/tests/policies/policies_jwt_injection.py
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/policies.py
  website/docs/guides/authentication/oauth2.py
  website/docs/guides/authentication/oauth2.tsx
  website/docs/tutorials/authentication-and-security/authentication.graphql
  website/docs/tutorials/authentication-and-security/authentication.py
  website/docs/tutorials/authentication-and-security/index.mdx
  website/docs/tutorials/policies-and-materializers/index.mdx
  website/docs/tutorials/your-chat-app/business-logic.py
  website/metatype.yaml
  website/packages/changelog.js
  website/packages/code-loader-transform.js
  website/src/components/MiniQL/index.tsx
  website/src/pages/index.py
  whiz.yaml
Due: es-lint

fix(typegate): use output type instead of input type
  typegate/native/src/runtimes/grpc.rs
Due: none

feat(typegate): compute adjacent stages to compute
  typegate/src/runtimes/grpc.ts
Due: deno-fmt, deno-lint

test(typegate): update tests
  typegate/tests/runtimes/grpc/grpc.py
  typegate/tests/runtimes/grpc/grpc_server/proto/geography.proto
  typegate/tests/runtimes/grpc/grpc_server/proto/helloworld.proto
  typegate/tests/runtimes/grpc/grpc_server/proto/maths.proto
  typegate/tests/runtimes/grpc/grpc_server/start.sh
  typegate/tests/runtimes/grpc/grpc_server/stub/geography.json
  typegate/tests/runtimes/grpc/grpc_server/stub/helloworld.json
  typegate/tests/runtimes/grpc/grpc_server/stub/maths.is_prime.json
  typegate/tests/runtimes/grpc/grpc_server/stub/maths.sum.json
  typegate/tests/runtimes/grpc/grpc_test.ts
Due: deno-fmt, deno-lint

feat(typegate): rollback temporal test
  .github/workflows/tests.yml
Due: none

feat: add regression testing for tutorial
  typegate/deno.json
  typegate/deno.lock
  typegate/src/auth/protocols/basic.ts
  typegate/tests/auto/__snapshots__/auto_test.ts.snap
  typegate/tests/auto/auto_test.ts
  typegate/tests/auto/queries/test/1.json
  typegate/tests/auto/queries/test/2.graphql
  typegate/tests/auto/queries/test/2.json
  typegate/tests/auto/test.py
  typegate/tests/auto/test/test-1.graphql
  typegate/tests/auto/test/test.py
  typegate/tests/introspection/union_either_test.ts
  typegate/tests/simple/class_syntax_test.ts
  typegate/tests/type_nodes/either_test.ts
  typegate/tests/type_nodes/union_test.ts
  typegate/tests/utils.ts
  typegate/tests/utils/metatest.ts
  typegate/tests/utils/q.ts
  website/docs/tutorials/authentication-and-security/cors.py
Due: deno-fmt, deno-lint

feat(typegate): update license headers
  typegate/native/src/runtimes/grpc.rs
  typegate/src/runtimes/grpc.ts
  typegate/tests/runtimes/grpc/grpc_test.ts
  typegraph/python/typegraph/runtimes/grpc.py
Due: deno-fmt, deno-lint

test(typegate): add temporal debugging
  typegate/native/src/runtimes/grpc.rs
Due: none

fix: tests
  .github/workflows/tests.yml
  typegate/src/auth/protocols/basic.ts
  typegate/tests/auto/__snapshots__/auto_test.ts.snap
  typegate/tests/auto/auto_test.ts
  typegate/tests/introspection/introspection_test.ts
  typegate/tests/policies/policies_test.ts
  typegate/tests/utils.ts
  typegate/tests/utils/metatest.ts
  typegate/tests/utils/q.ts
  website/docs/guides/authentication/oauth2.tsx
  website/docs/tutorials/adding-more-runtimes/graphql.graphql
  website/docs/tutorials/adding-more-runtimes/graphql.py
  website/docs/tutorials/authentication-and-security/rate.py
  website/docs/tutorials/policies-and-materializers/policies.py
  website/docs/tutorials/your-chat-app/business-logic.graphql
  website/migrations/graphql/database/20230529111022_generated/migration.sql
  website/pnpm-lock.yaml
Due: deno-fmt, deno-lint, es-lint

fix: upgrade website
  .github/workflows/publish-website.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  dev/lock.yml
  website/package.json
  website/pnpm-lock.yaml
  whiz.yaml
Due: none
