Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint || echo "eslint not installed, skipping"'
  pass_filenames: false

init count for findMany and findUnique
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

(docs) Add docstring for `PrismaRuntime`
  typegraph/tests/runtimes/prisma/test_type_generator.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  website/docs/reference/changelog.mdx
  website/docs/reference/typegraph/pydoc.json
  website/docs/reference/typegraph/typegraph/providers/prisma/runtimes/prisma.md
  whiz.yaml
Due: none

add pagination skip/take
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

Update deno.lock
  typegate/deno.lock
Due: none

Remove unnecessary f-string
  typegraph/typegraph/providers/prisma/relations.py
Due: none

fix relative path edgecase
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

feat(typegraph): support type union (#78)
  examples/typegraphs/math/fib.ts
  libs/common/src/typegraph.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__.__src__tests__typegraphs__codegen.py.snap
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__.__src__tests__typegraphs__enum_node.py.snap
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__.__src__tests__typegraphs__union_node.py.snap
  meta-cli/src/tests/typegraphs/enum_node.py
  meta-cli/src/tests/typegraphs/union_node.py
  typegate/deno.lock
  typegate/src/planner/args.ts
  typegate/src/planner/mod.ts
  typegate/src/runtimes/typegraph.ts
  typegate/src/type_node.ts
  typegate/src/typecheck.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/types/typegraph.ts
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/ts/union/color_converter.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
  typegate/tests/typecheck/typecheck_test.ts
  typegraph/tests/importers/openapi_spec.json
  typegraph/typegraph/types.py
  website/babel.config.js
  website/docs/reference/typegate/prisma-migration/mutations.md
  website/docs/reference/typegate/prisma-migration/queries.md
  website/docs/reference/typegate/prisma-migration/scalars.md
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegate/typegate/queries.md
  website/docs/reference/typegate/typegate/scalars.md
  website/docusaurus.config.js
  website/plugins/changelog.js
  website/src/components/MiniQL/GraphiQLInterface.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/Newsletter/index.tsx
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint, es-lint

small fixes
  typegate/src/runtimes/typegate.ts
  typegraph/LICENSE.md
Due: deno-fmt, deno-lint

Met 18: New way to use prisma runtime (#105)
  Cargo.lock
  examples/typegraphs/math/math_.py
  examples/typegraphs/mybusiness/mybusiness.py
  examples/typegraphs/prisma_blog/prisma_blog.py
  meta-cli/src/cli/dev.rs
  meta-cli/src/utils/mod.rs
  typegate/deno.lock
  typegate/tests/multiple_runtimes/multiple_runtimes.py
  typegate/tests/prisma/prisma.py
  typegate/tests/prisma/prisma_1_1.py
  typegate/tests/prisma/prisma_multi.py
  typegate/tests/typename/typename.py
  typegraph/tests/__snapshots__/importers/graphql_importer_codegen.txt
  typegraph/tests/__snapshots__/importers/openapi_importer_codegen.txt
  typegraph/tests/__snapshots__/prisma-schema/implicit-one-to-many.prisma
  typegraph/tests/__snapshots__/prisma-schema/implicit-one-to-one.prisma
  typegraph/tests/__snapshots__/prisma-schema/one-to-many.prisma
  typegraph/tests/__snapshots__/prisma-schema/one-to-one.prisma
  typegraph/tests/__snapshots__/prisma-schema/simple-model.prisma
  typegraph/tests/importers/test_graphql_impoter.py
  typegraph/tests/importers/test_openapi_importer.py
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/tests/runtimes/prisma/test_type_generator.py
  typegraph/typegraph/graph/builder.py
  typegraph/typegraph/graph/nodes.py
  typegraph/typegraph/graph/typegraph.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/type_generator.py
  typegraph/typegraph/types.py
  website/docs/reference/changelog.mdx
  website/docs/reference/typegraph/pydoc.json
  website/docs/reference/typegraph/typegraph/providers/prisma/relations.md
  website/docs/reference/typegraph/typegraph/providers/prisma/runtimes/prisma.md
  whiz.yaml
Due: none

wip
  typegate/tests/policies/effects.py
  typegraph/typegraph/policies.py
Due: none

Fix query/mutation splitting
  typegate/src/graphql/graphql.ts
  typegate/src/runtimes/typegate.ts
  typegate/tests/policies/policies.py
  typegate/tests/policies/policies_test.ts
  typegraph/typegraph/effects.py
Due: deno-fmt, deno-lint

Fix root function check for namespaces
  typegate/src/engine.ts
  typegate/src/planner/mod.ts
  typegate/src/types.ts
  typegate/tests/policies/policies_test.ts
Due: deno-fmt, deno-lint

small fixes (#116)
  typegate/src/runtimes/typegate.ts
  typegraph/LICENSE.md
Due: deno-fmt, deno-lint

update deno.lock
  typegate/deno.lock
Due: none

update deno.lock
  typegate/deno.lock
  website/docs/reference/changelog.mdx
  website/docs/reference/typegraph/pydoc.json
Due: none

Met 75 check all todos fixme in the project (#90)
  libs/xtask/src/codegen/typescript.rs
  typegate/deno.lock
  typegate/deno_import.json
  typegate/src/engine.ts
  typegate/src/graphql.ts
  typegate/src/planner/mod.ts
  typegate/src/runtimes/http.ts
  typegate/src/runtimes/random.ts
  typegate/src/typegate.ts
  typegate/src/types.ts
  typegate/src/utils.ts
  typegate/tests/introspection/introspection_test.ts
  typegate/tests/random/random.py
  typegate/tests/random/random_test.ts
  typegate/tests/typecheck/typecheck_test.ts
  typegate/tests/utils.ts
  website/docs/reference/changelog.mdx
  website/docs/reference/typegraph/pydoc.json
Due: deno-fmt, deno-lint

prepare merge
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: none

fix merge
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: none

update typegraph syntax
  typegate/tests/prisma/full_prisma_mapping.py
Due: none

remove db.manage
  typegate/tests/prisma/full_prisma_mapping.py
Due: none

chore: update Cargo.lock
  Cargo.lock
Due: none

feat(prisma-runtime): update engine code
  Cargo.lock
  Cargo.toml
  typegate/native/src/runtimes/prisma/engine_import.rs
Due: none

chore: ignore ruff cache
  .gitignore
  Cargo.lock
Due: none

move all generators
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none

finalize refactoring
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/type_generator.py
  typegraph/typegraph/providers/prisma/utils.py
Due: deno-fmt, deno-lint

chore(meta-cli/codegen): make config file optional
  meta-cli/src/cli/codegen.rs
Due: none

add incremental name for struct compose
  typegraph/typegraph/types.py
Due: none

chore: update Cargo.lock (#123)
  Cargo.lock
  Cargo.toml
  typegate/native/src/runtimes/prisma/engine_import.rs
Due: none

chore: fix pipeline
  .github/dependabot.yml
  .github/workflows/release.yml
Due: none

chore: prepare release 0.0.3-dev.4
  dev/lock.yml
  examples/docker-compose.yml
  examples/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

chore(meta-cli/codegen): make config file optional (#125)
  meta-cli/src/cli/codegen.rs
Due: none

update tests
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
