Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/sqlalchemyorg/zimports/
    rev: v0.6.0
    hooks:
      - id: zimports
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.27.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust format
        language: system
        entry: bash -c 'cd typegate/native && cargo fmt --all && cd ../.. && cd typegraph/native && cargo fmt'
        pass_filenames: false
        types:
          - rust
        files: ^(typegate|typegraph)/native/
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,workers,src/typegraphs'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any,no-unused-vars --ignore=native'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/

Test deno codegen
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/main.rs
  meta-cli/src/tests/mod.rs
  meta-cli/src/tests/typegraphs/codegen-expected-output.ts
  meta-cli/src/tests/typegraphs/codegen.py
  meta-cli/src/tests/utils.rs
  meta-cli/src/typegraph.rs
  meta-cli/test.ts
  typegraph/tests/materializers/prisma/test_schema.py
Due: none

Fix CI for multiple runtime test
  .gitlab-ci.yml
  typegate/tests/multiple_runtimes_test.ts
  typegate/tests/typegraphs/multiple_runtimes.py
Due: deno-fmt, deno-lint

Update packaging script
  typegraph/package.sh
Due: none

remove path dependency on test
  .gitlab-ci.yml
  Cargo.lock
  typegate/Dockerfile
  typegate/run.sh
  typegate/src/engine.ts
  typegate/test-all.sh
  typegate/test.sh
  typegate/tests/graphql_test.ts
  typegate/tests/multiple_runtimes_test.ts
  typegate/tests/nesting_test.ts
  typegate/tests/policies_test.ts
  typegate/tests/prisma_test.ts
  typegate/tests/rest_test.ts
  typegate/tests/simple_test.ts
  typegate/tests/utils.ts
  typegate/tests/vars_test.ts
Due: deno-fmt, deno-lint

final adjustment
  .gitlab-ci.yml
  Cargo.lock
  meta-cli/Cargo.toml
  typegate/Dockerfile
  typegate/build-docker.sh
  typegate/import_map.json
  typegate/native/Cargo.toml
  typegate/native/bindings/bindings.ts
  typegate/native/src/lib.rs
  typegate/run.sh
  typegate/src/config.ts
  typegate/src/main.ts
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/test-all.sh
  typegate/test.sh
  typegraph/package.sh
Due: rust-fmt, deno-fmt, deno-lint

final adjustment
  .gitlab-ci.yml
  Cargo.lock
  meta-cli/Cargo.toml
  typegate/Dockerfile
  typegate/build-docker.sh
  typegate/import_map.json
  typegate/native/Cargo.toml
  typegate/native/bindings/bindings.ts
  typegate/native/src/lib.rs
  typegate/run.sh
  typegate/src/config.ts
  typegate/src/main.ts
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/test-all.sh
  typegate/test.sh
  typegraph/package.sh
  typegraph/pyproject.toml
Due: rust-fmt, deno-fmt, deno-lint

fix dockerfile
  .dockerignore
  .gitlab-ci.yml
  Cargo.lock
  build-docker.sh
  meta-cli/Cargo.toml
  typegate/.dockerignore
  typegate/Dockerfile
  typegate/native/src/lib.rs
Due: rust-fmt

smoothen workflow
  .dockerignore
  .gitignore
  Cargo.lock
  Cargo.toml
  bindings/bindings.ts
  examples/.gitignore
  libs/common/Cargo.toml
  libs/common/src/lib.rs
  meta-cli/Cargo.toml
  meta-cli/src/main.rs
  meta.sh
  typegate/.gitignore
  typegate/Dockerfile
  typegate/native/Cargo.toml
  typegate/native/src/lib.rs
  typegate/src/main.ts
  typegate/src/runtimes/PrismaRuntime.ts
  typegate/tests/multiple_runtimes_test.ts
  typegraph/.gitignore
  website/.gitignore
  whiz.yaml
Due: rust-fmt, deno-fmt, deno-lint

fix docker
  .dockerignore
  libs/common/src/lib.rs
Due: none

fix error
  .gitignore
  .gitlab-ci.yml
  bindings/bindings.ts
  typegate/Dockerfile
Due: none

fix: Output bindings/bindigs.ts at root
  whiz.yaml
Due: none

add website
  .github/workflows/website.yml
  .gitlab-ci.yml
  .gitmodules
  README.md
  website/blog/2021-08-01-mdx-blog-post.mdx
  website/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  website/blog/2021-08-26-welcome/index.md
  website/blog/authors.yml
  website/docs/how-to-guides/contribute.md
  website/docs/how-to-guides/index.md
  website/docusaurus.config.js
  website/pnpm-lock.yaml
Due: none

fix script
  .github/workflows/website.yml
Due: none

add lockfile
  website/pnpm-lock.yaml
Due: none

fix: Enable GraphQL variables for GraphQL backends
  .vscode/settings.json
  typegate/src/engine.ts
  typegate/src/runtimes/DenoRuntime.ts
  typegate/src/runtimes/GoogleapisRuntime.ts
  typegate/src/runtimes/GraphQLRuntime.ts
  typegate/src/runtimes/HTTPRuntime.ts
  typegate/src/runtimes/PrismaRuntime.ts
  typegate/src/runtimes/Runtime.ts
  typegate/src/runtimes/TypeGraphRuntime.ts
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/typegraph.ts
  typegate/src/utils.ts
  typegate/tests/graphql_test.ts
  typegate/tests/prisma_test.ts
Due: deno-fmt, deno-lint

cleanup
  README.md
  examples/wasm/Cargo.lock
  examples/wasm/Cargo.toml
  examples/wasm/README.md
  examples/wasm/src/lib.rs
  typegraph/wrk.lua
  website/static/img/logo.png
Due: none
