Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$

fix: missing install instruction
  .github/workflows/tests.yml
  libs/metagen/src/tests/fixtures.rs
Due: none

fix: broken tests
  .github/workflows/tests.yml
  libs/metagen/src/tests/fixtures.rs
  libs/metagen/tests/pnpm-lock.yaml
  typegate/src/runtimes/deno/worker.ts
  whiz.yaml
Due: deno-fmt, deno-lint

fix: broken tests
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/metagen/metagen_test.ts
  typegate/tests/metagen/typegraphs/identities.py
  typegate/tests/metagen/typegraphs/identities/py/handlers.py
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
  typegate/tests/metagen/typegraphs/identities/rs/build.sh
  typegate/tests/metagen/typegraphs/identities/rs/lib.rs
  typegate/tests/metagen/typegraphs/identities/rs/mdk.rs
  typegate/tests/metagen/typegraphs/identities/ts/handlers.ts
  typegate/tests/metagen/typegraphs/identities/ts/mdk.ts
  typegate/tests/runtimes/wasm_reflected/rust/build.sh
  typegate/tests/runtimes/wasm_wire/rust/build.sh
  typegate/tests/type_nodes/__snapshots__/either_test.ts.snap
Due: deno-fmt, deno-lint

refactor: yeet `typescript` crate
  .ghjk/lock.json
  Cargo.lock
  Cargo.toml
  examples/typegraphs/func-ctx.py
  examples/typegraphs/random-field.py
  ghjk.ts
  libs/typescript/Cargo.toml
  libs/typescript/src/lib.rs
  libs/typescript/src/parser.rs
  meta-cli/Cargo.toml
  typegate/engine/00_runtime.js
  typegate/engine/Cargo.toml
  typegate/engine/bindings.ts
  typegate/engine/runtime.d.ts
  typegate/engine/src/ext.rs
  typegate/engine/src/lib.rs
  typegate/engine/src/runtimes.rs
  typegate/engine/src/runtimes/deno_rt.rs
  typegate/engine/src/typescript.rs
  typegate/src/engine/typecheck/input.ts
  typegate/src/postprocess.ts
  typegate/src/runtimes/typegate.ts
  typegate/tests/e2e/website/website_test.ts
  typegate/tests/typecheck/__snapshots__/input_validator_test.ts.snap
  typegate/tests/typecheck/__snapshots__/typecheck_test.ts.snap
  typegate/tests/typecheck/input_validator_test.ts
  typegate/tests/typecheck/typecheck_test.ts
  typegate/tests/utils/bindings_test.ts
Due: deno-fmt, deno-lint

fix: add sccache step to `lint-compat`.
  .github/workflows/tests.yml
Due: none

fix: use `custom-arm`
  .github/workflows/tests.yml
Due: none

wip(docs): add first 3 sections of the blog post
  .ghjk/lock.json
  website/blog/2023-03-15-emulating-servers/index.mdx
  website/shared/meta-cli/embedded-typegate.mdx
Due: none

chore(docs): add final contents of the blog
  website/blog/2023-03-15-emulating-servers/index.mdx
Due: none

chore(docs): add custom blog intro
  website/blog/2023-03-15-emulating-servers/index.mdx
  website/src/components/BlogIntro/index.tsx
Due: es-lint

chore: update command description
  website/blog/2023-03-15-emulating-servers/index.mdx
Due: none

feat: task source, task queue, task ref
  examples/metatype.yaml
  examples/migrations/func-gql/db/migration_lock.toml
  examples/migrations/quick-start-project/database/migration_lock.toml
  examples/typegraphs/math.ts
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/deploy/actors/discovery.rs
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task/action.rs
  meta-cli/src/deploy/actors/task/deploy.rs
  meta-cli/src/deploy/actors/task/deploy/migration_resolution.rs
  meta-cli/src/deploy/actors/task/deploy/migrations.rs
  meta-cli/src/deploy/actors/task/serialize.rs
  meta-cli/src/deploy/actors/task_manager.rs
  meta-cli/src/deploy/actors/watcher.rs
  meta-cli/src/deploy/push/pusher.rs
  meta-cli/src/typegraph/loader/discovery.rs
  typegate/src/typegate/mod.ts
  typegraph/node/sdk/src/io.ts
  typegraph/node/sdk/src/tg_artifact_upload.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/node/sdk/src/typegraph.ts
  typegraph/node/sdk/src/utils/func_utils.ts
Due: deno-fmt, deno-lint

chore: address comments
  website/blog/2023-03-15-emulating-servers/index.mdx
Due: none

chore: fix capitalization
  website/blog/2023-03-15-emulating-servers/index.mdx
Due: none

chore: clean up on quick example section
  website/blog/2023-03-15-emulating-servers/index.mdx
Due: none

fix python sdk
  meta-cli/src/deploy/actors/task/deploy.rs
  typegraph/node/sdk/src/io.ts
  typegraph/node/sdk/src/metagen.ts
  typegraph/node/sdk/src/tg_artifact_upload.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/python/typegraph/graph/metagen.py
  typegraph/python/typegraph/graph/shared_types.py
  typegraph/python/typegraph/graph/tg_artifact_upload.py
  typegraph/python/typegraph/graph/tg_deploy.py
  typegraph/python/typegraph/graph/tg_manage.py
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/io.py
  typegraph/python/typegraph/log.py
  typegraph/python/typegraph/utils.py
  typegraph/python/typegraph/wit.py
Due: none

fix python typegraph deployment, oauth2 example
  examples/metatype.yaml
  examples/typegraphs/files-upload.py
  examples/typegraphs/files-upload.ts
  typegraph/python/typegraph/graph/tg_deploy.py
Due: none

custom rpc handlers
  Cargo.lock
  examples/metatype.yaml
  libs/common/src/node.rs
  libs/metagen/src/lib.rs
  meta-cli/Cargo.toml
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/doctor.rs
  meta-cli/src/cli/gen.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/config.rs
  meta-cli/src/deploy/actors/discovery.rs
  meta-cli/src/deploy/actors/loader.rs
  meta-cli/src/deploy/actors/mod.rs
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task/action.rs
  meta-cli/src/deploy/actors/task/command.rs
  meta-cli/src/deploy/actors/task/command/python.rs
  meta-cli/src/deploy/actors/task/command/typescript.rs
  meta-cli/src/deploy/actors/task/deploy.rs
  meta-cli/src/deploy/actors/task/deploy/migrations.rs
  meta-cli/src/deploy/actors/task/serialize.rs
  meta-cli/src/deploy/actors/task_manager/retry_manager.rs
  meta-cli/src/deploy/actors/watcher.rs
  meta-cli/src/deploy/push/migration_resolution.rs
  meta-cli/src/deploy/push/pusher.rs
  meta-cli/src/typegraph/loader/discovery.rs
  typegate/tests/e2e/cli/dev_test.ts
  typegraph/core/src/utils/metagen_utils.rs
  typegraph/node/sdk/src/tg_artifact_upload.ts
  typegraph/python/typegraph/deploy/request.py
  typegraph/python/typegraph/envs/cli.py
  typegraph/python/typegraph/graph/tg_manage.py
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/io.py
Due: deno-fmt, deno-lint

feat(docs): add upgrade metaype component
  website/blog/2023-03-15-emulating-servers/index.mdx
  website/shared/upgrade/index.mdx
  website/shared/upgrade/meta-cli.mdx
  website/shared/upgrade/python-sdk.mdx
  website/shared/upgrade/typescript-sdk.mdx
Due: none

task i/o actor, new cli envs, followup process
  meta-cli/src/cli/serialize.rs
  meta-cli/src/deploy/actors/console/input.rs
  meta-cli/src/deploy/actors/mod.rs
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task/action.rs
  meta-cli/src/deploy/actors/task/deploy.rs
  meta-cli/src/deploy/actors/task/deploy/migrations.rs
  meta-cli/src/deploy/actors/task/serialize.rs
  meta-cli/src/deploy/actors/task_io.rs
  meta-cli/src/deploy/actors/task_manager.rs
  meta-cli/src/deploy/actors/task_manager/report.rs
  typegraph/node/sdk/src/envs/cli.ts
  typegraph/node/sdk/src/io.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/node/sdk/src/typegraph.ts
  typegraph/python/typegraph/envs/cli.py
  typegraph/python/typegraph/io.py
Due: none

fix: address llm feedback
  website/docs/guides/wasm-functions/index.mdx
  website/docs/reference/metagen/index.mdx
Due: none

docs: `/docs/guides/wasm-functions`
  examples/typegraphs/metagen-rs.py
  examples/typegraphs/metagen-rs.ts
  examples/typegraphs/metagen-sdk.py
  examples/typegraphs/metagen-sdk.ts
  examples/typegraphs/metagen/rs/Cargo.toml
  libs/common/src/typegraph/mod.rs
  typegate/tests/runtimes/wasm_wire/rust/build.sh
  typegraph/core/src/typegraph.rs
  typegraph/core/src/utils/fs_host.rs
  typegraph/core/src/utils/postprocess/python_rt.rs
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/wasm-functions/index.mdx
  website/docs/guides/wasm-functions/metagen.graphql
  website/docs/reference/metagen/index.mdx
Due: none

fix: issues
  typegate/src/runtimes/python.ts
  typegate/src/sync/replicated_map.ts
  typegate/src/typegate/mod.ts
  typegate/tests/e2e/website/website_test.ts
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/metagen/metagen_test.ts
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
  typegate/tests/runtimes/python/python_sync_test.ts
  website/docs/reference/metagen/index.mdx
Due: deno-fmt, deno-lint

docs: `/docs/reference/metagen`
  .gitignore
  examples/metatype.yaml
  examples/typegraphs/metagen-deno.py
  examples/typegraphs/metagen-deno.ts
  examples/typegraphs/metagen-py.ts
  examples/typegraphs/metagen-rs.ts
  examples/typegraphs/metagen-sdk.py
  examples/typegraphs/metagen-sdk.ts
  examples/typegraphs/metagen/Cargo.lock
  examples/typegraphs/metagen/Cargo.toml
  examples/typegraphs/metagen/py/remix.py
  examples/typegraphs/metagen/py/remix_types.py
  examples/typegraphs/metagen/rs/Cargo.toml
  examples/typegraphs/metagen/rs/build.sh
  examples/typegraphs/metagen/rs/lib.rs
  examples/typegraphs/metagen/rs/mdk.rs
  examples/typegraphs/metagen/ts/mdk.ts
  examples/typegraphs/metagen/ts/remix.ts
  meta-cli/src/cli/gen.rs
  meta-cli/src/logger.rs
  typegate/src/typegate/mod.ts
  website/docs/concepts/features-overview/index.mdx
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/external-functions/metagen.graphql
  website/docs/guides/programmatic-deployment/index.mdx
  website/docs/reference/changelog.mdx
  website/docs/reference/ecosystem/index.mdx
  website/docs/reference/metagen/index.mdx
  website/packages/code-loader-transform.js
  website/shared/projects/tab-first-project-python.mdx
  website/src/components/MiniQL/index.tsx
  whiz.yaml
Due: deno-fmt, deno-lint, es-lint

fix migrations
  meta-cli/src/deploy/actors/task_manager.rs
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/e2e/cli/dev_test.ts
  typegraph/node/sdk/src/envs/cli.ts
  typegraph/python/typegraph/envs/cli.py
  typegraph/python/typegraph/graph/tg_manage.py
Due: deno-fmt, deno-lint

cleanup, remove server store
  meta-cli/src/cli/completion.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/doctor.rs
  meta-cli/src/cli/gen.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/new.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/cli/typegate.rs
  meta-cli/src/cli/undeploy.rs
  meta-cli/src/cli/upgrade.rs
  meta-cli/src/com/mod.rs
  meta-cli/src/com/responses.rs
  meta-cli/src/com/server.rs
  meta-cli/src/deploy/actors/console.rs
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task/deploy.rs
  meta-cli/src/deploy/actors/task/deploy/migrations.rs
  meta-cli/src/deploy/actors/task_io.rs
  meta-cli/src/deploy/actors/task_manager.rs
  meta-cli/src/deploy/push/pusher.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader/discovery.rs
Due: none

fix
  Cargo.lock
  meta-cli/src/cli/deploy.rs
  meta-cli/src/deploy/actors/task/deploy.rs
Due: none

lint, fix tg_deploy test
  .vscode/settings.json
  Cargo.lock
  libs/common/Cargo.toml
  libs/metagen/src/mdk_rust/stubs.rs
  libs/metagen/src/tests/fixtures.rs
  libs/metagen/src/tests/mod.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/gen.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/com/responses.rs
  meta-cli/src/deploy/actors/discovery.rs
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task/action.rs
  meta-cli/src/deploy/actors/task/deploy.rs
  meta-cli/src/deploy/actors/task_io.rs
  meta-cli/src/deploy/actors/task_manager.rs
  meta-cli/src/deploy/push/pusher.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader/discovery.rs
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/utils/tg_deploy_script.py
  typegraph/core/src/global_store.rs
  typegraph/core/src/lib.rs
  typegraph/core/src/typegraph.rs
  typegraph/core/src/utils/postprocess/mod.rs
  typegraph/core/src/utils/postprocess/prisma_rt.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/sdk/src/metagen.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/node/sdk/src/typegraph.ts
  typegraph/node/sdk/src/utils/func_utils.ts
  typegraph/python/typegraph/graph/metagen.py
  typegraph/python/typegraph/graph/shared_types.py
  typegraph/python/typegraph/graph/tg_deploy.py
  typegraph/python/typegraph/graph/tg_manage.py
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/utils.py
  typegraph/python/typegraph/wit.py
Due: deno-fmt, deno-lint

fix pre-commit
  meta-cli/src/com/server.rs
  meta-cli/src/deploy/actor-model.drawio.svg
  meta-cli/src/deploy/actors/loader.rs
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/push/migration_resolution.rs
  meta-cli/src/deploy/push/mod.rs
  typegate/tests/e2e/cli/dev_test.ts
Due: deno-fmt, deno-lint

fix metagen test
  libs/metagen/metatype.yaml
Due: none

fix: fix failing tests
  Cargo.lock
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
Due: none

pass error stack to the cli
  meta-cli/src/cli/gen.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/deploy/actors/task/deploy.rs
  meta-cli/src/deploy/actors/task/serialize.rs
  meta-cli/src/deploy/actors/task_manager.rs
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/e2e/self_deploy/self_deploy_test.ts
  typegate/tests/e2e/typegraph/__snapshots__/validator_test.ts.snap
  typegate/tests/e2e/typegraph/validator_test.ts
  typegate/tests/utils/test.ts
  typegate/tests/utils/tg_deploy_script.py
  typegraph/node/sdk/src/tg_artifact_upload.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/python/typegraph/graph/tg_manage.py
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/wit.py
Due: deno-fmt, deno-lint

fix injection test
  typegate/tests/injection/injection_test.ts
  typegate/tests/utils/tg_deploy_script.ts
Due: deno-fmt, deno-lint

chore: bump prisma-engine to 5.6.0
  Cargo.lock
  dev/lock.yml
  meta-cli/Cargo.toml
  typegate/engine/Cargo.toml
Due: none

chore: address comments
  website/shared/upgrade/index.mdx
Due: none

chore(docs): embedded typegate (v0.3.x) blog (#750)
  .ghjk/lock.json
  website/blog/2023-03-15-emulating-servers/index.mdx
  website/shared/meta-cli/embedded-typegate.mdx
  website/shared/upgrade/index.mdx
  website/shared/upgrade/meta-cli.mdx
  website/shared/upgrade/python-sdk.mdx
  website/shared/upgrade/typescript-sdk.mdx
  website/src/components/BlogIntro/index.tsx
Due: es-lint

chore: update `rust` dependencies (#748)
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  libs/common/Cargo.toml
  libs/metagen/Cargo.toml
  libs/metagen/src/mdk_rust/static/Cargo.toml
  meta-cli/Cargo.toml
  typegate/engine/Cargo.toml
  typegate/standalone/Cargo.toml
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegate/tests/runtimes/wasm_wire/rust/Cargo.toml
  typegraph/core/Cargo.toml
Due: none

fix template_test
  dev/lock.yml
  examples/metatype.yaml
  examples/templates/deno/api/example.ts
  examples/templates/node/package.json
  examples/templates/node/pnpm-lock.yaml
  meta-cli/src/cli/deploy.rs
  meta-cli/src/deploy/actors/task_manager.rs
  typegate/tests/e2e/templates/templates_test.ts
Due: deno-fmt, deno-lint
