Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

refactor: else condition
  typegate/src/services/rest_service.ts
Due: deno-fmt, deno-lint

feat: add explicit parameter types
  typegate/src/engine.ts
  typegate/src/services/rest_service.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
Due: deno-fmt, deno-lint

fix: handle any
  typegate/src/engine.ts
Due: deno-fmt, deno-lint

feat(prisma): Json protocol
  Cargo.lock
  dev/test.ts
  libs/common/src/typegraph/runtimes/prisma.rs
  libs/xtask/src/codegen/jsonschema.rs
  typegate/native/Cargo.toml
  typegate/native/src/runtimes/prisma/engine.rs
  typegate/native/src/runtimes/prisma/engine_import.rs
  typegate/native/src/runtimes/prisma/migration.rs
  typegate/native/src/runtimes/prisma/mod.rs
  typegate/native/src/runtimes/prisma/utils.rs
  typegate/src/runtimes/prisma/prisma.ts
  typegate/src/types/typegraph.ts
  typegate/src/utils.ts
  typegate/tests/utils.ts
  typegraph/core/tests/deno.lock
  typegraph/core/tests/snapshots/test_sdks__typegraphs__simple.snap.new
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

fix: wasmtime panic
  typegraph/deno/dev/fix-declarations.sh
  typegraph/deno/src/policy.ts
  typegraph/deno/src/runtimes/deno.ts
  typegraph/deno/src/types.ts
  typegraph/deno/src/wit.ts
  typegraph/python_next/poetry.lock
  typegraph/python_next/typegraph_next/wit.py
Due: none

fix: wasmtime panic
  poetry.lock
  pyproject.toml
Due: none

feat: wit component 3 (#366)
  .github/dependabot.yml
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  libs/common/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  poetry.lock
  typegate/native/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/lib.rs
  typegraph/core/src/typegraph.rs
  typegraph/core/wit/host.wit
  typegraph/core/wit/typegraph.wit
  typegraph/deno/dev/fix-declarations.sh
  typegraph/deno/src/policy.ts
  typegraph/deno/src/runtimes/deno.ts
  typegraph/deno/src/types.ts
  typegraph/deno/src/wit.ts
  typegraph/python_next/poetry.lock
  typegraph/python_next/pyproject.toml
  typegraph/python_next/typegraph_next/wit.py
  whiz.yaml
Due: none

fix: i/o schema
  typegate/src/engine.ts
  typegate/src/services/rest_service.ts
  typegate/src/typecheck/rest_schema_generator.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
  typegate/tests/rest/rest.ts
  typegate/tests/rest/rest/q.graphql
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

fix: missing return
  typegate/src/typecheck/rest_schema_generator.ts
Due: deno-fmt, deno-lint

fix: schema generator
  typegate/src/typecheck/rest_schema_generator.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
Due: deno-fmt, deno-lint

fix: either/union
  typegate/src/typecheck/rest_schema_generator.ts
Due: deno-fmt, deno-lint

test: validation type, missing variable
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

refactor: replace array to object, fix output schema
  typegate/src/engine.ts
  typegate/src/services/rest_service.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
Due: deno-fmt, deno-lint

feat: enable circular schemas
  typegate/src/engine.ts
  typegate/src/services/rest_service.ts
  typegate/src/typecheck/rest_schema_generator.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
Due: deno-fmt, deno-lint

test: rest generator
  typegate/src/typecheck/rest_schema_generator.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
  typegate/tests/rest/rest_schema.ts
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

feat(gate): generate openapi over rest endpoints (#365)
  typegate/src/engine.ts
  typegate/src/services/playground_service.ts
  typegate/src/services/rest_service.ts
  typegate/src/typecheck/rest_schema_generator.ts
  typegate/src/typegate.ts
  typegate/tests/rest/__snapshots__/rest_test.ts.snap
  typegate/tests/rest/rest.ts
  typegate/tests/rest/rest/q.graphql
  typegate/tests/rest/rest_schema.ts
  typegate/tests/rest/rest_test.ts
Due: deno-fmt, deno-lint

fix: enable introspection
  typegate/src/system_typegraphs.ts
Due: deno-fmt, deno-lint

test: attempt fixing ci
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

fix: wasmtime version
  dev/lock.yml
  typegraph/python_next/pyproject.toml
Due: none

Revert "test: attempt fixing ci"
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

feat: lock wasmedge
  .github/workflows/tests.yml
  dev/lock.yml
  website/docs/reference/typegraph/python/typegraph/runtimes/python.md
  whiz.yaml
Due: none

feat: add wasmedge lock
  .github/workflows/tests.yml
  dev/lock.yml
  typegate/native/Cargo.toml
  whiz.yaml
Due: none

fix: enable introspection on system typegraphs (#373)
  typegate/src/system_typegraphs.ts
Due: deno-fmt, deno-lint

fix: build
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  dev/Dockerfile
  dev/lock.yml
Due: none

docs: move some examples into how-to-guides
  website/docs/guides/crud-with-prisma/index.mdx
  website/docs/guides/crud-with-prisma/prisma_blog.py
  website/docs/guides/external-functions/fib.ts
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/external-functions/math.py
  website/docs/guides/importing-graphql-definitions/hivdb.py
  website/docs/guides/importing-graphql-definitions/hivdb.pyi
  website/docs/guides/importing-graphql-definitions/index.mdx
  website/docs/guides/importing-openapi-definitions/devto.py
  website/docs/guides/importing-openapi-definitions/devto.pyi
  website/docs/guides/importing-openapi-definitions/index.mdx
  website/docs/reference/runtimes/deno.mdx
  website/docs/reference/runtimes/python.mdx
Due: es-lint

chore: delete examples
  examples/typegraphs/devto/devto.py
  examples/typegraphs/devto/devto.pyi
  examples/typegraphs/hivdb/hivdb.py
  examples/typegraphs/hivdb/hivdb.pyi
  examples/typegraphs/math/fib.ts
  examples/typegraphs/math/math_.py
  examples/typegraphs/math/scripts/deno/fib.ts
  examples/typegraphs/prisma_blog/prisma_blog.py
  whiz.yaml
Due: none

docs: move some examples typegraph into how to guides reference or tests (#374)
  examples/typegraphs/math/scripts/deno/fib.ts
  website/docs/guides/crud-with-prisma/index.mdx
  website/docs/guides/crud-with-prisma/prisma_blog.py
  website/docs/guides/external-functions/fib.ts
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/external-functions/math.py
  website/docs/guides/importing-graphql-definitions/hivdb.py
  website/docs/guides/importing-graphql-definitions/hivdb.pyi
  website/docs/guides/importing-graphql-definitions/index.mdx
  website/docs/guides/importing-openapi-definitions/devto.py
  website/docs/guides/importing-openapi-definitions/devto.pyi
  website/docs/guides/importing-openapi-definitions/index.mdx
  website/docs/reference/runtimes/deno.mdx
  website/docs/reference/runtimes/python.mdx
  whiz.yaml
Due: es-lint

fix: build
  .github/workflows/tests.yml
  dev/Dockerfile
Due: none

fix merge (part 1)
  Cargo.lock
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/deno.json
  typegate/native/src/runtimes/prisma/engine_import.rs
  typegate/src/engine.ts
  typegate/src/runtimes/prisma/prisma.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/services/graphql_service.ts
  typegate/src/services/rest_service.ts
  typegate/src/typegate.ts
  typegate/src/typegate/mod.ts
  typegate/src/typegate/rate_limiter.ts
  typegate/src/typegraph.ts
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/importers/importers_test.ts
  typegate/tests/runtimes/prisma/schema_generation_test.ts
  typegate/tests/utils/meta.ts
  typegate/tests/utils/migrations.ts
  typegate/tests/utils/mod.ts
  typegate/tests/utils/single_register.ts
  typegate/tests/utils/test.ts
  typegraph/core/src/typegraph.rs
  typegraph/python/typegraph/graph/typegraph.py
Due: deno-fmt, deno-lint

Fix engine_import.rs
  typegate/native/src/runtimes/prisma/engine_import.rs
  typegate/native/src/runtimes/prisma/mod.rs
Due: none

New injection format
  libs/common/src/typegraph/mod.rs
  libs/common/src/typegraph/types.rs
  libs/common/src/typegraph/validator.rs
  typegate/tests/injection/injection.py
  typegraph/python/typegraph/effects.py
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/injection.py
  typegraph/python/typegraph/runtimes/base.py
  typegraph/python/typegraph/runtimes/deno.py
  typegraph/python/typegraph/runtimes/graphql.py
  typegraph/python/typegraph/types.py
Due: none

Implement new injection logic
  dev/test.ts
  typegate/src/planner/args.ts
  typegate/src/planner/injection_utils.ts
  typegate/src/runtimes/graphql.ts
  typegate/src/types/typegraph.ts
  website/static/specs/0.0.2.json
Due: deno-fmt, deno-lint

Fix policies
  typegate/src/services/graphql_service.ts
  typegate/tests/utils/shell.ts
  typegraph/python/typegraph/policies.py
Due: deno-fmt, deno-lint

feat: add timer
  typegate/deno.json
  typegate/deno.lock
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/deno_messenger.ts
  typegate/tests/runtimes/deno/deno.py
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

chore: remove comment
  typegate/src/runtimes/deno/deno_messenger.ts
Due: deno-fmt, deno-lint

fix: use custom setInterval
  typegate/src/runtimes/deno/deno_messenger.ts
Due: deno-fmt, deno-lint

fix: draft alternative solution
  typegate/src/runtimes/deno/deno_messenger.ts
Due: deno-fmt, deno-lint

Dynamic value injection
  libs/common/src/typegraph/types.rs
  typegate/src/planner/args.ts
  typegate/src/types/typegraph.ts
  typegate/tests/injection/injection.py
  typegate/tests/injection/injection_test.ts
  typegate/tests/utils/date.ts
  typegraph/python/typegraph/injection.py
  typegraph/python/typegraph/types.py
  website/static/specs/0.0.2.json
Due: deno-fmt, deno-lint

Remove unnecessary comments
  typegate/native/Cargo.toml
  typegate/native/src/runtimes/prisma/engine.rs
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
