Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

fix: disable cov checks
  codecov.yml
Due: none

feat(typegraph): get absolute path to proto file
  typegraph/python/typegraph/runtimes/grpc.py
Due: none

feat(typegate): add temporal test filtering
  dev/test.ts
Due: deno-fmt, deno-lint

fix: speed of python when parallelized
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

chore: rollback temporal debugging code
  dev/test.ts
  typegate/native/src/runtimes/grpc.rs
Due: deno-fmt, deno-lint

fix: website deployment
  .github/workflows/publish-website.yml
Due: none

fix: env var
  .github/workflows/publish-website.yml
Due: none

chore: prepare release 0.1.10-dev.1
  dev/lock.yml
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/rust/Cargo.toml
Due: none

feat(typegate): use endpoint variable
  typegate/native/src/runtimes/grpc.rs
  typegate/src/runtimes/grpc.ts
  typegate/tests/runtimes/grpc/grpc.py
  typegraph/python/typegraph/runtimes/grpc.py
Due: deno-fmt, deno-lint

Make S3 host address configurable in secrets
  libs/common/src/typegraph/runtimes.rs
  typegate/src/runtimes/s3.ts
  typegate/src/types/typegraph.ts
  typegate/tests/runtimes/s3/s3.py
  typegate/tests/runtimes/s3/s3_test.ts
  typegraph/python/typegraph/providers/aws/runtimes/s3.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

feat: Configure path style from secrets
  libs/common/src/typegraph/runtimes.rs
  typegate/src/runtimes/s3.ts
  typegate/src/types/typegraph.ts
  typegate/tests/runtimes/s3/s3.py
  typegate/tests/runtimes/s3/s3_test.ts
  typegraph/python/typegraph/providers/aws/runtimes/s3.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

fix(pre-commit): Remove unnecessary import
  typegraph/python/typegraph/providers/aws/runtimes/s3.py
Due: none

feat: Configure S3 in secrets (#336)
  libs/common/src/typegraph/runtimes.rs
  typegate/src/runtimes/s3.ts
  typegate/src/types/typegraph.ts
  typegate/tests/runtimes/s3/s3.py
  typegate/tests/runtimes/s3/s3_test.ts
  typegraph/python/typegraph/providers/aws/runtimes/s3.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

feat: Id flag
  examples/demo/demo.py
  examples/typegraphs/prisma_blog/prisma_blog.py
  libs/common/src/typegraph/types.rs
  typegate/src/typecheck/common.ts
  typegate/src/typecheck/result.ts
  typegate/src/typegraph.ts
  typegate/src/types/typegraph.ts
  typegate/tests/injection/injection.py
  typegate/tests/multiple_runtimes/multiple_runtimes.py
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
  typegate/tests/query_parsers/__snapshots__/query_parsers_test.ts.snap
  typegate/tests/query_parsers/graphql_namespaces.py
  typegate/tests/runtimes/prisma/full_prisma_mapping.py
  typegate/tests/runtimes/prisma/mixed_runtime.py
  typegate/tests/runtimes/prisma/multi_relations.py
  typegate/tests/runtimes/prisma/normal_1_1.py
  typegate/tests/runtimes/prisma/optional_1_1.py
  typegate/tests/runtimes/prisma/optional_1_n.py
  typegate/tests/runtimes/prisma/prisma.py
  typegate/tests/runtimes/prisma/prisma_edgecases.py
  typegate/tests/typename/typename.py
  typegraph/python/tests/runtimes/prisma/test_schema.py
  typegraph/python/tests/runtimes/prisma/test_type_generator.py
  typegraph/python/typegraph/importers/graphql.py
  typegraph/python/typegraph/providers/prisma/schema.py
  typegraph/python/typegraph/providers/prisma/type_generator.py
  typegraph/python/typegraph/types.py
  website/docs/tutorials/adding-more-runtimes/database.py
  website/docs/tutorials/adding-more-runtimes/graphql.py
  website/docs/tutorials/import-your-existing-apis/fcm.py
  website/docs/tutorials/your-chat-app/business-logic.py
  website/src/pages/index.py
  website/static/specs/0.0.1.json
  website/use-cases/prisma.py
Due: deno-fmt, deno-lint

Additional selections with ForwardVars
  typegate/src/runtimes/utils/graphql_forward_vars.ts
  typegate/tests/injection/injection.py
  typegate/tests/injection/injection_test.ts
Due: deno-fmt, deno-lint

fix: Replace `.id()` with `.as_id`
  examples/typegraphs/prisma_blog/prisma_blog.py
  libs/common/src/typegraph/types.rs
  typegate/src/typecheck/result.ts
  typegate/src/typegraph.ts
  typegate/src/types/typegraph.ts
  typegate/tests/injection/injection.py
  typegate/tests/multiple_runtimes/multiple_runtimes.py
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
  typegate/tests/query_parsers/__snapshots__/query_parsers_test.ts.snap
  typegate/tests/query_parsers/graphql_namespaces.py
  typegate/tests/runtimes/prisma/full_prisma_mapping.py
  typegate/tests/runtimes/prisma/mixed_runtime.py
  typegate/tests/runtimes/prisma/multi_relations.py
  typegate/tests/runtimes/prisma/normal_1_1.py
  typegate/tests/runtimes/prisma/optional_1_1.py
  typegate/tests/runtimes/prisma/optional_1_n.py
  typegate/tests/runtimes/prisma/prisma.py
  typegate/tests/runtimes/prisma/prisma_edgecases.py
  typegate/tests/typename/typename.py
  typegraph/python/tests/runtimes/prisma/test_schema.py
  typegraph/python/tests/runtimes/prisma/test_type_generator.py
  typegraph/python/tests/test_dependency.py
  typegraph/python/tests/test_typegraph.py
  typegraph/python/typegraph/importers/graphql.py
  typegraph/python/typegraph/providers/prisma/schema.py
  typegraph/python/typegraph/providers/prisma/type_generator.py
  typegraph/python/typegraph/types.py
  website/docs/tutorials/adding-more-runtimes/database.py
  website/docs/tutorials/adding-more-runtimes/graphql.py
  website/docs/tutorials/import-your-existing-apis/fcm.py
  website/docs/tutorials/your-chat-app/business-logic.py
  website/src/pages/index.py
  website/static/specs/0.0.1.json
  website/use-cases/prisma.py
Due: deno-fmt, deno-lint

feat: Implement scheduler
  typegate/src/engine.ts
  typegate/src/engine/computation_engine.ts
  typegate/src/planner/mod.ts
  typegate/src/planner/scheduler.ts
  typegate/src/runtimes/utils/graphql_forward_vars.ts
  typegate/src/runtimes/utils/graphql_inline_vars.ts
  typegate/src/types.ts
Due: deno-fmt, deno-lint

fix(scheduler): Stages with branches
  typegate/src/planner/scheduler.ts
Due: deno-fmt, deno-lint

fix: Field selection with alias
  typegate/src/planner/scheduler.ts
  typegate/tests/graphql/graphql.py
Due: deno-fmt, deno-lint

test(typegraph): update snapshots
  typegraph/python/tests/test_dependency.py
  typegraph/python/tests/test_typegraph.py
Due: none

test(injection): inject values into prisma
  libs/common/src/typegraph/types.rs
  typegate/deno.json
  typegate/deno.lock
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/utils/graphql_forward_vars.ts
  typegate/src/runtimes/utils/graphql_inline_vars.ts
  typegate/src/types.ts
  typegate/tests/injection/injection.py
  typegate/tests/injection/injection_test.ts
  typegraph/python/typegraph/providers/prisma/__init__.py
Due: deno-fmt, deno-lint

test(query parsers): Fix tests
  typegate/tests/query_parsers/__snapshots__/query_parsers_test.ts.snap
  typegate/tests/query_parsers/graphql_namespaces.py
Due: none

Update PathUtils
  typegate/src/planner/scheduler.ts
Due: deno-fmt, deno-lint

Fix injection for graphql runtime
  typegate/src/engine.ts
  typegate/src/planner/args.ts
  typegate/src/planner/mod.ts
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/utils/graphql_forward_vars.ts
  typegate/src/runtimes/utils/graphql_inline_vars.ts
  typegate/src/runtimes/wasmedge.ts
  typegate/src/typegraph.ts
  typegate/src/types.ts
  typegate/tests/injection/injection.py
  typegate/tests/injection/injection_test.ts
  website/docs/reference/changelog.mdx
  website/docs/tutorials/adding-more-runtimes/database.py
  website/docs/tutorials/adding-more-runtimes/graphql.py
  website/src/components/MiniQL/index.tsx
  website/src/css/custom.scss
  whiz.yaml
Due: deno-fmt, deno-lint, es-lint

Remove unnecessary codes
  typegate/src/runtimes/utils/graphql_inline_vars.ts
Due: deno-fmt, deno-lint

fix(graphql): Empty argument list
  libs/common/src/typegraph/types.rs
  typegate/src/runtimes/utils/graphql_forward_vars.ts
  typegate/src/runtimes/utils/graphql_inline_vars.ts
  typegate/src/typecheck/common.ts
  typegate/src/typegraph.ts
  typegate/src/types/typegraph.ts
  typegate/tests/runtimes/prisma/mixed_runtime.py
  typegraph/python/typegraph/importers/graphql.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

feat: Scheduler in unions
  typegate/src/planner/mod.ts
  typegate/src/planner/scheduler.ts
  typegate/src/typecheck/matching_variant.ts
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
  typegate/tests/planner/planner.py
  typegate/tests/planner/planner_test.ts
Due: deno-fmt, deno-lint

Add more tests for the planner
  typegate/src/planner/mod.ts
  typegate/src/planner/scheduler.ts
  typegate/src/utils.ts
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
  typegate/tests/planner/planner.py
  typegate/tests/planner/planner_test.ts
Due: deno-fmt, deno-lint

fix: Fix scheduler
  typegate/src/planner/mod.ts
  typegate/src/planner/scheduler.ts
  typegate/src/typegraph.ts
Due: deno-fmt, deno-lint

fix: Dependency filtering
  typegate/src/engine.ts
  typegate/src/planner/scheduler.ts
  typegate/tests/auto/__snapshots__/auto_test.ts.snap
  website/docs/tutorials/adding-more-runtimes/graphql.py
  website/docs/tutorials/import-your-existing-apis/fcm.graphql
  website/docs/tutorials/import-your-existing-apis/fcm.py
Due: deno-fmt, deno-lint

Update deno.lock
  typegate/deno.lock
Due: none

refactor: graphql runtime
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/prisma.ts
Due: deno-fmt, deno-lint

test: Union dependency
  typegate/src/typegraph.ts
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
  typegate/tests/planner/planner.py
  typegate/tests/planner/planner_test.ts
Due: deno-fmt, deno-lint

fix: Address comments
  examples/demo/demo.py
  typegate/src/engine.ts
  typegate/src/planner/args.ts
  typegate/src/planner/dependency_resolver.ts
  typegate/src/planner/mod.ts
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/utils/graphql_forward_vars.ts
  typegate/src/utils.ts
  typegate/src/utils/stage_id.ts
Due: deno-fmt, deno-lint

fix: Keep argument names in GraphQL variables
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/utils/graphql_forward_vars.ts
  typegate/src/typegraph.ts
Due: deno-fmt, deno-lint

test: graphql variable inlining
  typegate/deno.json
  typegate/deno.lock
  typegate/src/runtimes/utils/graphql_inline_vars.ts
  typegate/src/typegraph.ts
  typegate/tests/graphql/graphql_test.ts
  website/docs/reference/changelog.mdx
  website/docs/tutorials/adding-more-runtimes/database.py
  website/docs/tutorials/adding-more-runtimes/graphql.py
Due: deno-fmt, deno-lint

refactor: Move type definitions for python typegraph
  typegraph/python_v2/typegraph/__init__.py
  typegraph/python_v2/typegraph/graph/typegraph.py
  typegraph/python_v2/typegraph/t.py
  typegraph/python_v2/typegraph/test.py
Due: none

feat: Integer and Struct in Deno
  typegraph/core/src/lib.rs
  typegraph/core/src/types.rs
  typegraph/core/wit/typegraph.wit
  typegraph/deno/src/typegraph.ts
  typegraph/deno/src/types.ts
  typegraph/deno/src/utils/type_utils.ts
  typegraph/python_v2/poetry.lock
  typegraph/python_v2/pyproject.toml
  typegraph/python_v2/typegraph/__init__.py
  typegraph/python_v2/typegraph/gen/__init__.py
  typegraph/python_v2/typegraph/gen/exports/__init__.py
  typegraph/python_v2/typegraph/gen/exports/core.py
  typegraph/python_v2/typegraph/gen/intrinsics.py
  typegraph/python_v2/typegraph/gen/typegraph_core.core0.wasm
  typegraph/python_v2/typegraph/test.py
Due: none

feat: Integer and Struct for Python
  typegraph/core/src/lib.rs
  typegraph/python_v2/typegraph/gen/__init__.py
  typegraph/python_v2/typegraph/gen/exports/core.py
  typegraph/python_v2/typegraph/gen/intrinsics.py
  typegraph/python_v2/typegraph/gen/typegraph_core.core0.wasm
  typegraph/python_v2/typegraph/test.py
  whiz.yaml
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
