Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/sqlalchemyorg/zimports/
    rev: v0.6.0
    hooks:
      - id: zimports
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.27.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust format
        language: system
        entry: bash -c 'cd typegate/native && cargo fmt --all && cd ../.. && cd typegraph/native && cargo fmt'
        pass_filenames: false
        types:
          - rust
        files: ^(typegate|typegraph)/native/
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,workers,src/typegraphs'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any,no-unused-vars --ignore=native'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/

Fix missing await
  typegate/src/runtimes/WorkerRuntime.ts
Due: deno-fmt, deno-lint

Fix tests and examples
  examples/examples/mini.py
  examples/examples/petstore.py
  meta-cli/src/codegen/deno.rs
  meta-cli/src/tests/typegraphs/codegen.py
  meta-cli/src/typegraph.rs
  typegate/src/runtimes/DenoRuntime.ts
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/runtimes/utils/worker.ts
  typegate/src/typegraphs/test.json
  typegate/src/utils/swc.ts
  typegate/tests/typegraphs/policies.py
  typegate/tests/typegraphs/rest.py
  typegate/tests/typegraphs/simple.py
  typegate/tests/typegraphs/vars.py
  typegraph/tests/test_dependency.py
  typegraph/tests/test_typegraph.py
  typegraph/tests/test_typegraphs.py
  typegraph/typegraph/dist/introspection.py
  typegraph/typegraph/dist/test.py
  typegraph/typegraph/dist/typegate.py
  typegraph/typegraph/policies.py
Due: deno-fmt, deno-lint

Fix tests and examples
  examples/examples/mini.py
  examples/examples/petstore.py
  meta-cli/src/codegen/deno.rs
  meta-cli/src/tests/typegraphs/codegen.py
  meta-cli/src/typegraph.rs
  typegate/src/runtimes/DenoRuntime.ts
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/runtimes/utils/worker.ts
  typegate/src/typegraphs/test.json
  typegate/src/utils/swc.ts
  typegate/tests/typegraphs/policies.py
  typegate/tests/typegraphs/rest.py
  typegate/tests/typegraphs/simple.py
  typegate/tests/typegraphs/vars.py
  typegraph/tests/test_dependency.py
  typegraph/tests/test_typegraph.py
  typegraph/tests/test_typegraphs.py
  typegraph/typegraph/dist/introspection.py
  typegraph/typegraph/dist/test.py
  typegraph/typegraph/dist/typegate.py
  typegraph/typegraph/materializers/deno.py
  typegraph/typegraph/policies.py
Due: deno-fmt, deno-lint

Manually serialize dist typegraphs
  typegate/serialize-tgs.sh
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/typegate.json
Due: none

WIP: sentry on typegate/native
  Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/src/lib.rs
Due: rust-fmt

Ensure venv for some meta-cli subcommands
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/main.rs
  meta-cli/src/tests/utils.rs
  meta-cli/src/utils.rs
Due: none

Static initialization of sentry
  Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/src/lib.rs
Due: rust-fmt

Remove edges from type node
  Cargo.lock
  libs/common/Cargo.toml
  libs/common/src/lib.rs
  libs/common/src/typegraph.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/typegraph.rs
  typegate/native/src/tests.rs
  typegate/src/runtimes/GoogleapisRuntime.ts
  typegate/src/runtimes/GraphQLRuntime.ts
  typegate/src/runtimes/TypeGraphRuntime.ts
  typegate/src/type-node.ts
  typegate/src/typegraph.ts
  typegraph/tests/test_dependency.py
  typegraph/tests/test_typegraph.py
  typegraph/tests/test_typegraphs.py
  typegraph/typegraph/graphs/builders.py
Due: rust-fmt, deno-fmt, deno-lint

refactor main, test end to end, upgrade deno_bindgen and multiple bugfixes
  .gitlab-ci.yml
  Cargo.lock
  meta-cli/src/cli/dev.rs
  typegate/native/Cargo.toml
  typegate/src/auth.ts
  typegate/src/config.ts
  typegate/src/engine.ts
  typegate/src/main.ts
  typegate/src/redis.ts
  typegate/src/register.ts
  typegate/src/runtimes/TypeGateRuntime.ts
  typegate/src/typegate.ts
  typegate/src/typegraph.ts
  typegate/src/web/auth-debug.ts
  typegate/tests/auth_test.ts
  typegate/tests/policies_test.ts
  typegate/tests/prisma_test.ts
  typegate/tests/typegraphs/auth.py
  typegate/tests/typegraphs/policies.py
  typegate/tests/utils.ts
  typegraph/typegraph/graphs/typegraph.py
Due: deno-fmt, deno-lint

add basic auth
  typegate/src/auth.ts
  typegate/src/engine.ts
  typegraph/typegraph/graphs/typegraph.py
Due: deno-fmt, deno-lint

add rate limit first gen
  examples/examples/biscuicuits.py
  typegate/import_map.json
  typegate/src/auth.ts
  typegate/src/engine.ts
  typegate/src/main.ts
  typegate/src/rate.ts
  typegate/src/redis.ts
  whiz.yaml
Due: deno-fmt, deno-lint

adopt deno internal filenaming
  typegate/src/engine.ts
  typegate/src/rate.ts
  typegate/src/runtimes/deno.ts
  typegate/src/runtimes/googleapis.ts
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/http.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/random.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/runtimes/typegraph.ts
  typegate/src/runtimes/utils/graphql_forward_vars.ts
  typegate/src/runtimes/utils/graphql_inline_vars.ts
  typegate/src/type_node.ts
  typegate/src/typegate.ts
  typegate/src/typegraph.ts
  typegate/src/web/auth_debug.ts
  typegate/tests/http_test.ts
  typegate/tests/rate_test.ts
Due: deno-fmt, deno-lint

complete renaming
  typegate/src/config.ts
  typegate/src/main.ts
  typegate/src/rate_limiter.ts
  typegate/src/redis.ts
  typegate/src/register.ts
  typegate/src/runtimes/typegate.ts
  typegate/tests/http_utils_test.ts
  typegate/tests/rate_limiter_test.ts
  typegate/tests/rate_test.ts
Due: deno-fmt, deno-lint

complete renaming tests
  typegate/src/rate_limiter.ts
  typegate/src/register.ts
  typegate/src/replicated_map.ts
  typegate/tests/rate_limiter_test.ts
Due: deno-fmt, deno-lint

pass 2
  typegate/src/rate_limiter.ts
  typegate/src/replicated_map.ts
  typegate/src/utils.ts
  typegate/tests/rate_limiter_test.ts
Due: deno-fmt, deno-lint

pass tests
  typegate/src/rate_limiter.ts
  typegate/src/utils.ts
  typegate/tests/rate_limiter_test.ts
Due: deno-fmt, deno-lint

optimize
  typegate/src/rate_limiter.ts
Due: deno-fmt, deno-lint
