Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint, devtools-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp,tests/e2e/nextjs && cd ../dev && deno fmt && cd ../typegraph/node && deno fmt --ignore=node_modules,dist'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp,tests/e2e/nextjs && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint website
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

devtools-lint:
  name: ESLint meta-lsp
  language: system
  entry: bash -c 'cd meta-lsp && pnpm lint --fix'
  pass_filenames: false

fix pre-commit
  libs/xtask/src/deno.rs
  website/docs/reference/typegate/index.mdx
  website/pnpm-lock.yaml
Due: none

update snapshot for e2e typegraph test
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
Due: none

chore: Update `dev-compose` command in CONTRIBUTING.md
  .ghjk/deno.lock
  CONTRIBUTING.md
Due: none

chore: Update system installation commands for Ubuntu/Debian and Fedora/Red Hat/CentOS
  dev/tasks-install.ts
Due: deno-fmt, deno-lint

fix: debug
  .github/workflows/publish-website.yml
  website/packages/code-loader-transform.js
Due: none

fix: outdated lock + format + added Linux pop-os
  .ghjk/lock.json
  dev/consts.ts
  dev/tasks-build.ts
  dev/tasks-install.ts
  examples/templates/deno/api/example.ts
  typegraph/deno/dev/deno2node.ts
Due: deno-fmt, deno-lint

fix: ci
  .github/workflows/release.yml
  .github/workflows/tests.yml
  dev/consts.ts
  dev/deps.ts
  examples/typegraphs/metagen/rs/mdk.rs
  typegraph/deno/dev/deno2node.ts
Due: deno-fmt, deno-lint

fix: ci
  .github/workflows/tests.yml
Due: none

fix: test
  website/packages/code-loader-transform.js
Due: none

wip
  .ghjk/deno.lock
  .ghjk/lock.json
  typegate/src/engine/computation_engine.ts
  typegate/src/engine/planner/mod.ts
  typegate/src/engine/typecheck/result.ts
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
  typegate/tests/planner/planner.py
  typegate/tests/planner/planner_test.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

move utility methods from TypeGraph into TypeUtils
  typegate/src/engine/planner/mod.ts
  typegate/src/engine/typecheck/code_generator.ts
  typegate/src/engine/typecheck/matching_variant.ts
  typegate/src/engine/typecheck/result.ts
  typegate/src/typegraph/mod.ts
  typegate/src/typegraph/utils.ts
Due: deno-fmt, deno-lint

ensure all deps are defined in import_map.json
  typegate/import_map.json
  typegate/src/engine/typecheck/common.ts
  typegate/tests/utils/database.ts
Due: deno-fmt, deno-lint

feat: add prog deploy tests
  .ghjk/lock.json
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.py
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy_test.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.py
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.ts
  typegate/tests/docs/how-tos/prog_deploy/scripts/say_hello.ts
  website/docs/guides/programmatic-deployment/index.mdx
Due: deno-fmt, deno-lint

update deno.lock
  typegate/deno.lock
Due: none

fix: fix python deploy test
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.py
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy_test.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.py
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

fix: fix ts deploy script test
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.py
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy_test.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.py
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.ts
  website/docs/guides/programmatic-deployment/index.mdx
Due: deno-fmt, deno-lint

refactor: restructure prog deploy docs page
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.py
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy_test.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.py
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.ts
  website/docs/guides/programmatic-deployment/index.mdx
Due: deno-fmt, deno-lint

chore: remove debug prints and refactor
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy_test.ts
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

fix: ci
  .github/workflows/tests.yml
  dev/envs/compose.base.yml
  website/docs/tutorials/quick-start/index.mdx
Due: none

fix: deno publish
  .ghjk/lock.json
  .github/workflows/release.yml
  dev/tasks-build.ts
  dev/tasks-lock.ts
  dev/utils.ts
  typegraph/deno/dev/common.ts
  typegraph/deno/dev/deno2node.ts
  typegraph/deno/dev/fix-declarations.ts
  typegraph/deno/dev/jsr-gen.ts
  typegraph/deno/sdk/LICENSE.md
  typegraph/deno/sdk/jsr.json
  typegraph/deno/sdk/src/deps/_import.ts
  typegraph/deno/sdk/src/deps/mod.ts
  typegraph/deno/sdk/src/effects.ts
  typegraph/deno/sdk/src/host/host.d.ts
  typegraph/deno/sdk/src/host/host.js
  typegraph/deno/sdk/src/metagen.ts
  typegraph/deno/sdk/src/policy.ts
  typegraph/deno/sdk/src/providers/aws.ts
  typegraph/deno/sdk/src/providers/prisma.ts
  typegraph/deno/sdk/src/providers/temporal.ts
  typegraph/deno/sdk/src/runtimes/deno.ts
  typegraph/deno/sdk/src/runtimes/graphql.ts
  typegraph/deno/sdk/src/runtimes/http.ts
  typegraph/deno/sdk/src/runtimes/python.ts
  typegraph/deno/sdk/src/runtimes/random.ts
  typegraph/deno/sdk/src/runtimes/wasm.ts
  typegraph/deno/sdk/src/tg_artifact_upload.ts
  typegraph/deno/sdk/src/tg_deploy.ts
  typegraph/deno/sdk/src/tg_manage.ts
  typegraph/deno/sdk/src/typegraph.ts
  typegraph/deno/sdk/src/types.ts
  typegraph/deno/sdk/src/utils/func_utils.ts
  typegraph/deno/sdk/src/wit.ts
  whiz.yaml
Due: deno-fmt, deno-lint

fix: outdated deno lock
  .github/workflows/release.yml
  typegate/deno.lock
  typegraph/deno/dev/fix-declarations.ts
Due: none

fix: rm NPM_CONFIG_REGISTRY + simplify decl rewrite
  dev/test.ts
  typegate/deno.lock
  typegraph/deno/dev/deno2node.ts
  typegraph/deno/dev/fix-declarations.ts
Due: deno-fmt, deno-lint

fix: rm src prefix on the final export
  typegraph/deno/dev/deno2node.ts
  typegraph/deno/dev/jsr-gen.ts
  typegraph/deno/sdk/jsr.json
Due: none

fix: coverage
  .github/workflows/tests.yml
Due: none

refactor: refactor tg_remove to accept typegraph name instead of TypegraphOutput
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.py
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.ts
  typegate/tests/e2e/self_deploy/self_deploy_test.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/python/typegraph/graph/tg_deploy.py
  website/blog/2024-05-09-programmatic-deployment/index.mdx
  website/docs/guides/programmatic-deployment/index.mdx
Due: deno-fmt, deno-lint, es-lint

chore: run pre-commit
  website/docs/guides/programmatic-deployment/index.mdx
Due: none

typegate actor
  Cargo.lock
  meta-cli/Cargo.toml
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/config.rs
  meta-cli/src/deploy/actors/mod.rs
  meta-cli/src/deploy/actors/typegate.rs
Due: none

start typegate
  examples/typegraphs/metagen/rs/mdk.rs
  examples/typegraphs/microservice-orchestration.ts
  meta-cli/src/cli/deploy.rs
  meta-cli/src/deploy/actors/mod.rs
  meta-cli/src/deploy/actors/typegate.rs
Due: none

remove obsolete comment
  typegate/src/engine/planner/mod.ts
Due: deno-fmt, deno-lint

fix(gate): ensure all deps are defined in import_map.json (#768)
  typegate/deno.lock
  typegate/import_map.json
  typegate/src/engine/typecheck/common.ts
  typegate/tests/utils/database.ts
Due: deno-fmt, deno-lint

chore: minor cleanups
  dev/deps.ts
  typegate/tests/e2e/templates/templates_test.ts
  typegraph/deno/dev/fix-declarations.ts
Due: deno-fmt, deno-lint

feat: Remove restrictions for union/either types (#761)
  libs/common/src/typegraph/validator/common.rs
  libs/common/src/typegraph/validator/mod.rs
  typegate/src/engine/planner/mod.ts
  typegate/src/engine/typecheck/code_generator.ts
  typegate/src/engine/typecheck/matching_variant.ts
  typegate/src/engine/typecheck/result.ts
  typegate/src/typegraph/mod.ts
  typegate/src/typegraph/type_node.ts
  typegate/src/typegraph/utils.ts
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/ts/union/color_converter.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

chore: add programmatic deploy tests (#769)
  .ghjk/lock.json
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.py
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy_test.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.py
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.ts
  typegate/tests/docs/how-tos/prog_deploy/scripts/say_hello.ts
  typegate/tests/e2e/self_deploy/self_deploy_test.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/python/typegraph/graph/tg_deploy.py
  website/blog/2024-05-09-programmatic-deployment/index.mdx
  website/docs/guides/programmatic-deployment/index.mdx
Due: deno-fmt, deno-lint, es-lint

feat: add list subcommand on meta_cli, not yet work cause of typegraph path is none
  .ghjk/deno.lock
  libs/common/src/typegraph/mod.rs
  meta-cli/src/cli/list.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/main.rs
  typegraph/node/sdk/src/envs/cli.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/python/typegraph/envs/cli.py
  typegraph/python/typegraph/graph/tg_manage.py
Due: deno-fmt, es-lint

fix: merge
  typegate/deno.lock
  typegate/tests/docs/how-tos/prog_deploy/prog_deploy.ts
  typegate/tests/docs/how-tos/prog_deploy/prog_remove.ts
Due: deno-fmt, deno-lint

chore: cleanups
  .gitignore
  dev/tasks-build.ts
  dev/utils.ts
  typegate/tests/e2e/self_deploy/.tgignore
  typegate/tests/e2e/self_deploy/self_deploy_test.ts
  typegate/tests/misc/publish_test.ts
  typegraph/deno/dev/common.ts
  typegraph/deno/dev/deno2node.ts
  typegraph/deno/dev/jsr-gen.ts
  typegraph/deno/sdk/LICENSE.md
  typegraph/deno/sdk/jsr.json
Due: deno-fmt, deno-lint

chore: bump jco to 1.3.0, ungitignore deno/LICENSE.md
  .ghjk/lock.json
  .gitignore
  ghjk.ts
  typegraph/deno/sdk/LICENSE.md
Due: none

refactore(list): rename some variable
  meta-cli/src/cli/list.rs
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev|typegraph/node)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: (any of: ^typegraph/node/sdk and \.(ts|mts|cts)$, \.tsx$ and not (node_modules)) or (any of: ^website/ and \.(ts|mts|cts)$, \.tsx$ and not (^website/typegraphs/))
  devtools-lint: any of: ^meta-lsp/ and \.(ts|mts|cts)$
