Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

chore: prepare release 0.1.4-dev.0
  dev/lock.yml
  examples/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

test distinct in/out types
  typegate/src/runtimes/typegraph.ts
  typegate/tests/introspection/__snapshots__/union_either_test.ts.snap
  typegate/tests/introspection/union_either.py
Due: deno-fmt, deno-lint

allow union output
  typegate/src/runtimes/typegraph.ts
Due: deno-fmt, deno-lint

remove log
  typegate/src/runtimes/typegraph.ts
Due: deno-fmt, deno-lint

Small fixes
  meta-cli/src/typegraph/loader.rs
  whiz.yaml
Due: none

Init logger
  Cargo.lock
  meta-cli/Cargo.toml
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader.rs
  meta-cli/src/typegraph/push.rs
Due: none

Update logging
  meta-cli/src/cli/dev.rs
Due: none

add suffix
  typegate/src/runtimes/typegraph.ts
  typegate/tests/type_nodes/__snapshots__/either_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
Due: deno-fmt, deno-lint

fix snapshot
  typegate/tests/introspection/__snapshots__/union_either_test.ts.snap
Due: none

fix tests
  typegate/tests/introspection/union_either.py
  typegate/tests/introspection/union_either_test.ts
  typegate/tests/type_nodes/either_test.ts
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

feat: add static mat
  meta-cli/src/typegraph/loader.rs
  typegate/src/runtimes/deno/deno.ts
  typegate/tests/runtimes/deno/deno.py
  typegate/tests/runtimes/deno/deno_test.ts
  typegraph/typegraph/runtimes/deno.py
Due: deno-fmt, deno-lint

feat: clean code
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/config.rs
  meta-cli/src/utils/mod.rs
Due: none

feat: add doctor
  Cargo.lock
  examples/compose.yml
  meta-cli/Cargo.toml
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/upgrade.rs
  meta-cli/src/config.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader.rs
  meta-cli/src/utils/fs.rs
  meta-cli/src/utils/mod.rs
Due: none

fix: no query body
  dev/lock.yml
  typegate/src/engine.ts
  typegate/src/graphql/graphql.ts
  typegate/src/runtimes/typegraph.ts
  typegate/src/typegraph/utils.ts
Due: deno-fmt, deno-lint

fix
  .github/workflows/tests.yml
Due: none

prepare release 0.1.4
  Cargo.lock
  dev/lock.ts
  dev/lock.yml
  examples/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: deno-fmt, deno-lint

fix
  dev/Dockerfile
Due: none

chore: prepare release 0.1.5-dev.0
  dev/lock.yml
  examples/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

refactor
  typegate/src/runtimes/typegraph.ts
Due: deno-fmt, deno-lint

fix typo
  typegate/src/runtimes/typegraph.ts
Due: deno-fmt, deno-lint

chore: update website
  .github/workflows/publish-website.yml
  Cargo.lock
  meta-cli/src/cli/doctor.rs
  typegate/src/runtimes/deno/worker.ts
  typegate/src/runtimes/typegraph.ts
  website/docs/reference/changelog.mdx
Due: deno-fmt, deno-lint

feat: remove password restriction
  meta-cli/src/cli/doctor.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/config.rs
  website/src/pages/index.tsx
  website/use-cases/authentication-authorization-provider/index.mdx
  website/use-cases/automatic-crud/index.mdx
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/faas-runner/index.mdx
  website/use-cases/orm-for-the-edge/index.mdx
  website/use-cases/programmable-api-gateway/index.mdx
Due: es-lint

chore: update website
  .github/workflows/publish-website.yml
Due: none

Rewrite meta deploy
  Cargo.lock
  meta-cli/Cargo.toml
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/config.rs
  meta-cli/src/typegraph/_loader.rs
  meta-cli/src/typegraph/loader/discovery.rs
  meta-cli/src/typegraph/loader/mod.rs
  meta-cli/src/typegraph/loader/queue.rs
  meta-cli/src/typegraph/push.rs
Due: none

add design choice comment
  typegate/src/runtimes/typegraph.ts
Due: deno-fmt, deno-lint

add rfc oneOf link
  typegate/src/runtimes/typegraph.ts
Due: deno-fmt, deno-lint

add closestWord utility
  typegate/deno.json
  typegate/deno.lock
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

propose closest word
  typegate/src/planner/mod.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

Re-enable
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader/discovery.rs
  meta-cli/src/typegraph/loader/mod.rs
  meta-cli/src/utils/mod.rs
Due: none

Fix meta deploy (single file)
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/postprocess.rs
  meta-cli/src/utils/mod.rs
Due: none

Fix e2e test + cleanup
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/push.rs
  meta-cli/src/utils/mod.rs
  typegate/tests/e2e/cli_deploy_test.ts
Due: deno-fmt, deno-lint

Fix codegen test
  meta-cli/src/codegen/deno.rs
Due: none

Reenable meta codegen with logging
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/codegen/deno.rs
Due: none

Add watcher
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/loader/mod.rs
  meta-cli/src/typegraph/loader/queue.rs
  meta-cli/src/typegraph/loader/watch.rs
  meta-cli/src/typegraph/push.rs
Due: none

Watch metatype config file
  meta-cli/src/cli/deploy.rs
  meta-cli/src/config.rs
  whiz.yaml
Due: none

Code quality
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/loader/discovery.rs
  meta-cli/src/typegraph/loader/mod.rs
  meta-cli/src/typegraph/loader/watch.rs
  meta-cli/src/typegraph/push.rs
Due: none

Doc comment
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
