Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

chore(docs): address comments
  website/docs/concepts/architecture/index.mdx
  website/docs/concepts/comparisons/index.mdx
Due: none

chore(release): prepare 0.4.0
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/src/mdk_rust/static/mdk.rs
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

fix: update mt version of wasm artifact
  typegate/tests/runtimes/wasm_wire/rust.wasm
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
Due: none

fix(ci): clean deno lock before the tests
  .github/workflows/tests.yml
Due: none

chore(release): prepare 0.4.0 (#710)
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/src/mdk_rust/static/mdk.rs
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegate/tests/runtimes/wasm_wire/rust.wasm
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

docs: simply pr template
  .github/pull_request_template.md
Due: none

fix: running lock while compiling
  .ghjk/deno.lock
  .ghjk/lock.json
  dev/lock.ts
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
Due: deno-fmt, deno-lint

fix: bump
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/src/typegate/mod.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

chore(docs): final polish to comparison table. (#709)
  .ghjk/lock.json
  website/docs/concepts/comparisons/index.mdx
Due: none

fix: lockfile
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/node/package.json
  examples/templates/python/compose.yml
Due: none

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: none

chore: bump to version 0.4.1-0
  .ghjk/lock.json
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

more logging for prisma operations
  typegate/src/runtimes/prisma/prisma.ts
Due: deno-fmt, deno-lint

logging in prisma/migrations
  typegate/src/log.ts
  typegate/src/runtimes/prisma/migration.ts
  typegate/src/runtimes/prisma/prisma.ts
Due: deno-fmt, deno-lint

wip: change t.engine impl to run ts tg from shell
  .ghjk/deno.lock
  typegate/tests/runtimes/wasm_wire/wasm_wire.ts
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

wip(test): add d/t edge test cases and sync test for deno, python runtime
  Cargo.lock
  typegate/tests/runtimes/deno/deno_duplicate_artifact.py
  typegate/tests/runtimes/deno/deno_duplicate_artifact.ts
  typegate/tests/runtimes/deno/deno_no_artifact.py
  typegate/tests/runtimes/deno/deno_sync_test.ts
  typegate/tests/runtimes/python/python_duplicate_artifact.py
  typegate/tests/runtimes/python/python_duplicate_artifact.ts
  typegate/tests/runtimes/python/python_no_artifact.py
  typegate/tests/runtimes/python/python_no_artifact.ts
  typegate/tests/runtimes/python/python_sync_test.ts
Due: deno-fmt, deno-lint

fix(core SDK): fix for duplicate artifact referene breaking artifacts resolution during runtime
  typegate/tests/runtimes/deno/deno_duplicate_artifact.py
  typegate/tests/runtimes/deno/deno_duplicate_artifact.ts
  typegate/tests/runtimes/deno/deno_sync_test.ts
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/python/python_sync_test.ts
  typegate/tests/runtimes/python/python_test.ts
  typegraph/core/src/utils/postprocess/python_rt.rs
Due: deno-fmt, deno-lint

chore(tests): add more test cases
  typegate/tests/runtimes/deno/deno_sync_test.ts
  typegate/tests/runtimes/python/python_sync_test.ts
Due: deno-fmt, deno-lint

chore: bump metatype version to 0.4.1-0
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

chore(docs): final polish to comparison table. (#709)
  website/docs/concepts/comparisons/index.mdx
Due: none

more log messages from runtimes
  typegate/src/runtimes/graphql.ts
  typegate/src/runtimes/http.ts
  typegate/src/runtimes/python.ts
  typegate/src/runtimes/s3.ts
  typegate/src/runtimes/temporal.ts
  typegate/src/runtimes/wasm_reflected.ts
  typegate/src/runtimes/wasm_wire.ts
Due: deno-fmt, deno-lint

feat(metagen,mdk): metagen wasm compat (wip)
  .ghjk/lock.json
  Cargo.lock
  libs/common/Cargo.toml
  libs/metagen/Cargo.toml
  libs/metagen/src/lib.rs
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/tests/mod.rs
  meta-cli/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/utils/mod.rs
  typegraph/core/wit/typegraph.wit
Due: none

fix(ci): bug in release CI
  .ghjk/lock.json
  .github/workflows/release.yml
  .github/workflows/tests.yml
  dev/cross.Dockerfile
  whiz.yaml
Due: none

wip(test): add python engine init from shell
  typegate/tests/runtimes/python/python.py
  typegate/tests/runtimes/python/python_test.ts
  typegate/tests/utils/autotest.ts
  typegate/tests/utils/test.ts
  typegate/tests/utils/tg_deploy_script.py
  typegate/tests/utils/tg_deploy_script.ts
Due: deno-fmt, deno-lint

feat(test): add ts SDK tg engine init from shell
  libs/xtask/src/deno.rs
  typegate/tests/runtimes/python/python_test.ts
  typegate/tests/utils/tg_deploy_script.ts
Due: deno-fmt, deno-lint

fix(tests): build test wasm artifacts as needed
  .gitignore
  Cargo.lock
  libs/metagen/src/mdk_rust/stubs.rs
  typegate/deno.lock
  typegate/tests/runtimes/wasm_reflected/rust.wasm
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.lock
  typegate/tests/runtimes/wasm_reflected/rust/build.sh
  typegate/tests/runtimes/wasm_reflected/wasm_reflected_test.ts
  typegate/tests/runtimes/wasm_reflected/wasm_sync_test.ts
  typegate/tests/runtimes/wasm_wire/rust.wasm
  typegate/tests/runtimes/wasm_wire/rust/build.sh
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
  typegate/tests/runtimes/wasm_wire/wasm_sync_test.ts
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
Due: deno-fmt, deno-lint

chore(test): update existing tests to shell based
  typegate/tests/runtimes/deno/deno_dep.py
  typegate/tests/runtimes/deno/deno_dep.ts
  typegate/tests/runtimes/deno/deno_reload.py
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/deno/deno_typescript.ts
  typegate/tests/runtimes/deno/deploy_deno.py
  typegate/tests/runtimes/python/python_test.ts
Due: deno-fmt, deno-lint

chore(tests): update existing tests to shell based and pass secrets to tg push and tg_deploy
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/http/http_content_type.py
  typegate/tests/runtimes/http/http_content_type_test.ts
  typegate/tests/runtimes/http/http_py.py
  typegate/tests/runtimes/http/http_test.ts
  typegate/tests/runtimes/prisma/full_prisma_mapping.py
  typegate/tests/runtimes/prisma/mixed_runtime.py
  typegate/tests/runtimes/prisma/multi_relations.py
  typegate/tests/runtimes/prisma/multiple_runtimes.py
  typegate/tests/runtimes/prisma/normal_1_1.py
  typegate/tests/runtimes/prisma/optional_1_1.py
  typegate/tests/runtimes/prisma/optional_1_n.py
  typegate/tests/runtimes/prisma/prisma_edgecases.py
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/runtimes/python/python_test.ts
  typegate/tests/runtimes/s3/__snapshots__/s3_test.ts.snap
  typegate/tests/runtimes/s3/s3.py
  typegate/tests/runtimes/s3/s3.ts
  typegate/tests/runtimes/temporal/temporal.ts
  typegate/tests/runtimes/temporal/worker/pnpm-lock.yaml
  typegate/tests/runtimes/wasm_reflected/wasm_reflected.py
  typegate/tests/runtimes/wasm_reflected/wasm_reflected_test.ts
  typegate/tests/runtimes/wasm_reflected/wasm_sync_test.ts
  typegate/tests/runtimes/wasm_wire/wasm_sync_test.ts
  typegate/tests/runtimes/wasm_wire/wasm_wire.py
  typegate/tests/runtimes/wasm_wire/wasm_wire.ts
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
  typegate/tests/utils/autotest.ts
  typegate/tests/utils/test.ts
  typegate/tests/utils/tg_deploy_script.py
  typegate/tests/utils/tg_deploy_script.ts
Due: deno-fmt, deno-lint

fix(tests): build test wasm artifacts as needed (#719)
  .gitignore
  Cargo.lock
  libs/metagen/src/mdk_rust/stubs.rs
  typegate/deno.lock
  typegate/tests/runtimes/wasm_reflected/rust.wasm
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.lock
  typegate/tests/runtimes/wasm_reflected/rust/build.sh
  typegate/tests/runtimes/wasm_reflected/wasm_reflected_test.ts
  typegate/tests/runtimes/wasm_reflected/wasm_sync_test.ts
  typegate/tests/runtimes/wasm_wire/rust.wasm
  typegate/tests/runtimes/wasm_wire/rust/build.sh
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
  typegate/tests/runtimes/wasm_wire/wasm_sync_test.ts
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
Due: deno-fmt, deno-lint

fix(ci): try clearing lockfile before test
  .github/workflows/tests.yml
Due: none

wip: increase `test-full` timeout by 20 minutes
  .github/workflows/tests.yml
Due: none

revert
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/node/package.json
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

fix: rebase
  examples/templates/deno/compose.yml
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
Due: none

fix: rebase
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/node/package.json
  examples/templates/python/compose.yml
Due: none

feat: polish documentation and project (#696)
  .ghjk/deno.lock
  .ghjk/lock.json
  .github/pull_request_template.md
  CHANGELOG.md
  dev/lock.ts
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/node/package.json
  examples/templates/python/compose.yml
  meta-cli/Cargo.toml
  typegate/src/typegate/mod.ts
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  website/docusaurus.config.js
  website/src/pages/index.tsx
Due: deno-fmt, deno-lint, es-lint

chore(tests): update existing tests to shell based
  typegate/deno.lock
  typegate/tests/artifacts/artifacts_test.ts
  typegate/tests/auth/auth.py
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/injection/injection.ts
  typegate/tests/injection/nested_context.py
  typegate/tests/internal/internal.py
  typegate/tests/internal/internal_test.ts
  typegate/tests/introspection/union_either.py
  typegate/tests/params/apply.py
  typegate/tests/planner/planner.py
  typegate/tests/simple/simple.py
Due: deno-fmt, deno-lint

chore(test): update existing tests to shell based engine
  typegate/tests/policies/effects_py.py
  typegate/tests/policies/policies_test.ts
  typegate/tests/random/injection/random_injection.ts
  typegate/tests/random/random.ts
  typegate/tests/random/random_.py
  typegate/tests/rest/rest_custom_loader.ts
  typegate/tests/rest/rest_schema.ts
  typegate/tests/rest/rest_simple.py
  typegate/tests/schema_validation/circular.py
  typegate/tests/simple/error_message.py
  typegate/tests/type_nodes/array_of_optional.py
  typegate/tests/type_nodes/either_node.py
  typegate/tests/type_nodes/either_test.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_node_attr.py
  typegate/tests/type_nodes/union_node_attr_test.ts
  typegate/tests/type_nodes/union_node_quantifier.py
  typegate/tests/type_nodes/union_node_quantifier_test.ts
  typegate/tests/type_nodes/union_test.ts
  typegate/tests/typecheck/reduce.ts
  typegate/tests/typename/typename.py
  typegate/tests/vars/vars.py
Due: deno-fmt, deno-lint

feat(sdk): expose metagen
  libs/metagen/src/lib.rs
  meta-cli/src/com/responses.rs
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/metagen/metagen_test.ts
  typegate/tests/metagen/typegraphs/metagen.mjs
  typegraph/core/src/utils/metagen_utils.rs
  typegraph/core/src/utils/mod.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/sdk/src/metagen.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/node/sdk/src/utils/func_utils.ts
  typegraph/python/typegraph/graph/metagen.py
  typegraph/python/typegraph/graph/tg_manage.py
  typegraph/python/typegraph/utils.py
Due: deno-fmt, deno-lint

feat: BaseError
  typegate/src/engine/computation_engine.ts
  typegate/src/engine/query_engine.ts
  typegate/src/errors.ts
  typegate/src/libs/jsonpath.ts
  typegate/src/services/artifact_service.ts
  typegate/src/services/graphql_service.ts
  typegate/src/services/responses.ts
  typegate/src/services/rest_service.ts
  typegate/src/sync/config.ts
  typegate/src/sync/replicated_map.ts
  typegate/src/typegate/artifacts/local.ts
  typegate/src/typegate/artifacts/mod.ts
  typegate/src/typegate/artifacts/shared.ts
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
