Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, deno-fmt, deno-lint, es-lint

rust-fmt:
  name: Rust format
  language: system
  entry: bash -c 'cd typegate/native && cargo fmt --all && cd ../.. && cd typegraph/native && cargo fmt'
  pass_filenames: false

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,workers,src/typegraphs'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any,no-unused-vars --ignore=native'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && pnpm lint'
  pass_filenames: false

Add mapping for autoincrement
  typegate/native/bindings/bindings.ts
  typegate/tests/prisma_test.ts
  typegate/tests/typegraphs/prisma.py
  typegraph/tests/materializers/prisma/schemas/one_to_many.prisma
  typegraph/tests/materializers/prisma/schemas/one_to_many.schema
  typegraph/tests/materializers/prisma/schemas/one_to_one.prisma
  typegraph/tests/materializers/prisma/schemas/one_to_one.schema
  typegraph/tests/materializers/prisma/test_schema.py
  typegraph/typegraph/materializers/prisma/__init__.py
  typegraph/typegraph/materializers/prisma/schema.py
  typegraph/typegraph/types/typedefs.py
Due: deno-fmt, deno-lint

Enable uuid autogeneration
  typegate/tests/prisma_test.ts
  typegate/tests/typegraphs/prisma.py
  typegraph/tests/materializers/prisma/schemas/one_to_one.prisma
  typegraph/tests/materializers/prisma/test_schema.py
  typegraph/typegraph/materializers/prisma/schema.py
  typegraph/typegraph/types/typedefs.py
Due: deno-fmt, deno-lint

feat(deno-runtime): Implement deno module materializer
  example/examples/math.py
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/DenoRuntime.ts
Due: deno-fmt, deno-lint

feat(deno-runtime): Implement deno module materializer
  example/examples/math.py
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/DenoRuntime.ts
  typegraph/typegraph/materializers/deno.py
Due: deno-fmt, deno-lint

Enable multiple prisma runtimes in one typegraph
  typegate/native/bindings/bindings.ts
  typegate/native/src/lib.rs
  typegate/src/runtimes/DenoRuntime.ts
  typegate/src/runtimes/GoogleapisRuntime.ts
  typegate/src/runtimes/GraphQLRuntime.ts
  typegate/src/runtimes/HTTPRuntime.ts
  typegate/src/runtimes/PrismaRuntime.ts
  typegate/src/runtimes/Runtime.ts
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/typegraph.ts
  typegate/tests/multiple_runtimes_test.ts
  typegate/tests/typegraphs/multiple_runtimes.py
Due: rust-fmt, deno-fmt, deno-lint

feat(runtime/worker): Implement module materializer
  example/examples/math.py
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/runtimes/utils/types.ts
  typegate/src/runtimes/utils/worker.ts
  typegate/src/typegraph.ts
  typegraph/typegraph/materializers/worker.py
Due: deno-fmt, deno-lint

feat(runtime/worker): Implement module materializer
  example/examples/math.py
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/runtimes/utils/types.ts
  typegate/src/runtimes/utils/worker.ts
  typegate/src/typegraph.ts
Due: deno-fmt, deno-lint

Use 64-bit hash
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/WorkerRuntime.ts
Due: deno-fmt, deno-lint

Logging
  example/examples/math.py
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/runtimes/utils/types.ts
  typegate/src/runtimes/utils/worker.ts
Due: deno-fmt, deno-lint

upgrade deno bindgen
  Cargo.lock
  typegate/native/Cargo.toml
Due: none

remove venv
  bindings/bindings.ts
  dev.sh
  examples/poetry.lock
  examples/pyproject.toml
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/main.rs
  typegate/native/bindings/bindings.ts
  typegate/native/src/lib.rs
  typegraph/poetry.lock
  typegraph/tests/materializers/prisma/test_schema.py
  typegraph/typegraph/codegen.py
  typegraph/typegraph/sql.py
  whiz.hocon
  whiz.yaml
Due: rust-fmt, deno-fmt, deno-lint

remove venv
  bindings/bindings.ts
  dev.sh
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/main.rs
  typegate/native/bindings/bindings.ts
  typegate/native/src/lib.rs
  typegraph/tests/materializers/prisma/test_schema.py
  typegraph/typegraph/codegen.py
  typegraph/typegraph/sql.py
  whiz.hocon
  whiz.yaml
Due: rust-fmt, deno-fmt, deno-lint

Finalize deno/worker runtimes
  example/examples/caress.py
  example/examples/includes/fib.ts
  example/examples/math.py
  example/examples/mini.py
  example/examples/petstore.py
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/DenoRuntime.ts
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/runtimes/utils/codes.ts
  typegate/src/runtimes/utils/types.ts
  typegate/src/runtimes/utils/worker.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/src/utils/swc.ts
  typegate/tests/typegraphs/policies.py
  typegate/tests/typegraphs/rest.py
  typegraph/tests/test_dependency.py
  typegraph/tests/test_typegraph.py
  typegraph/tests/test_typegraphs.py
  typegraph/typegraph/dist/introspection.py
  typegraph/typegraph/dist/test.py
  typegraph/typegraph/dist/typegate.py
  typegraph/typegraph/graphs/builders.py
  typegraph/typegraph/graphs/typegraph.py
  typegraph/typegraph/materializers/deno.py
  typegraph/typegraph/materializers/worker.py
  typegraph/typegraph/policies.py
  website/docs/concepts/typegraph/mini.py
Due: deno-fmt, deno-lint

Finalize deno/worker runtimes
  example/examples/caress.py
  example/examples/includes/fib.ts
  example/examples/math.py
  example/examples/mini.py
  example/examples/petstore.py
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/DenoRuntime.ts
  typegate/src/runtimes/WorkerRuntime.ts
  typegate/src/runtimes/utils/codes.ts
  typegate/src/runtimes/utils/types.ts
  typegate/src/runtimes/utils/worker.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/src/utils/swc.ts
  typegate/tests/typegraphs/policies.py
  typegate/tests/typegraphs/rest.py
  typegraph/tests/test_dependency.py
  typegraph/tests/test_typegraph.py
  typegraph/tests/test_typegraphs.py
  typegraph/typegraph/dist/introspection.py
  typegraph/typegraph/dist/test.py
  typegraph/typegraph/dist/typegate.py
  typegraph/typegraph/graphs/builders.py
  typegraph/typegraph/graphs/typegraph.py
  typegraph/typegraph/policies.py
  website/docs/concepts/typegraph/mini.py
Due: deno-fmt, deno-lint

add bindings to the old location
  typegate/native/bindings/bindings.ts
Due: deno-fmt, deno-lint

(cli): Update serialize command
  meta-cli/src/cli/serialize.rs
  meta-cli/src/main.rs
  typegate/native/bindings/bindings.ts
  typegraph/typegraph/utils/loaders.py
Due: deno-fmt, deno-lint

(deno-codegen): get module file paths
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/codegen/mod.rs
  meta-cli/src/main.rs
  typegraph/typegraph/graphs/typegraph.py
Due: none

Path conditions:
  rust-fmt: any of: ^(typegate|typegraph)/native/ and \.rs$
  deno-fmt: any of: ^typegate/ and \.(ts|mts|cts)$
  deno-lint: any of: ^typegate/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
