Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/sqlalchemyorg/zimports/
    rev: v0.6.0
    hooks:
      - id: zimports
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.27.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust format
        language: system
        entry: bash -c 'cd typegate/native && cargo fmt --all && cd ../.. && cd typegraph/native && cargo fmt'
        pass_filenames: false
        types:
          - rust
        files: ^(typegate|typegraph)/native/
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,workers,src/typegraphs'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any,no-unused-vars --ignore=native'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/

Some updates
  typegate/native/Cargo.toml
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/native/Cargo.lock
  typegraph/native/Cargo.toml
Due: deno-fmt, deno-lint

(graphql-importer): Add support for union and interface
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/importers/graphql.py
Due: deno-fmt, deno-lint

Update CI config
  .gitlab-ci.yml
Due: none

Fix compilation error
  typegate/native/bindings/bindings.ts
  typegate/native/src/prisma/introspection.rs
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
Due: rust-fmt, deno-fmt, deno-lint

Add some documentation comment
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/importers/graphql.py
Due: deno-fmt, deno-lint

Remove policies
  example/examples/hivdb.py
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/importers/graphql.py
Due: none

Remove introspection data
  example/examples/hivdb.py
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/importers/graphql.py
Due: none

fix: build
  .gitlab-ci.yml
  typegate/.env.default
  typegate/src/config.ts
  typegate/tests/typegraphs/prisma.py
Due: deno-fmt, deno-lint

Write tests in typegate/native
  typegate/native/src/lib.rs
  typegate/native/src/tests.rs
  typegate/native/typegraphs/prisma.py
  typegate/tests/typegraphs/prisma.py
Due: rust-fmt

Failed test for 1:n relationships
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/prisma_test.ts
Due: deno-fmt, deno-lint

Failed test for 1:n relationships
  example/poetry.lock
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/prisma_test.ts
Due: deno-fmt, deno-lint

Add simple test for prisma schema generation
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/native/Cargo.lock
  typegraph/native/Cargo.toml
  typegraph/native/src/lib.rs
  typegraph/test.sh
  typegraph/typegraph/materializers/__init__.py
  typegraph/typegraph/materializers/prisma/__init__.py
  typegraph/typegraph/materializers/prisma/schema.py
  typegraph/typegraph/materializers/prisma/tests/__init__.py
  typegraph/typegraph/materializers/prisma/tests/test_schema.py
  typegraph/typegraph/materializers/prisma/utils.py
Due: rust-fmt, deno-fmt, deno-lint

(prisma schema gen): Add test for 1:n relationships
  typegraph/.vscode/launch.json
  typegraph/typegraph/materializers/prisma/__init__.py
  typegraph/typegraph/materializers/prisma/schema.py
  typegraph/typegraph/materializers/prisma/tests/schemas/one_to_many.schema
  typegraph/typegraph/materializers/prisma/tests/test_schema.py
Due: none

(prisma schema gen): Add test for 1:n relationships
  typegraph/.vscode/launch.json
  typegraph/poetry.lock
  typegraph/pyproject.toml
  typegraph/typegraph/materializers/prisma/__init__.py
  typegraph/typegraph/materializers/prisma/schema.py
  typegraph/typegraph/materializers/prisma/tests/schemas/one_to_many.schema
  typegraph/typegraph/materializers/prisma/tests/test_schema.py
Due: none

Update relationship specification
  typegate/native/bindings/bindings.ts
  typegate/tests/typegraphs/prisma.py
  typegraph/typegraph/cli/dev.py
  typegraph/typegraph/materializers/prisma/__init__.py
  typegraph/typegraph/materializers/prisma/schema.py
  typegraph/typegraph/materializers/prisma/tests/test_schema.py
Due: deno-fmt, deno-lint

Enable reading nested models (relationship)
  typegate/.vscode/launch.json
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/prisma_test.ts
  typegate/tests/typegraphs/prisma.py
  typegraph/typegraph/materializers/prisma/__init__.py
  typegraph/typegraph/materializers/prisma/utils.py
Due: deno-fmt, deno-lint
