Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

fix: swap deno.jsonc tax
  typegate/deno.jsonc
Due: none

fix: swap back `deno` dep to git
  deno/Cargo.toml
Due: none

fix: Set metatype version to v0.2.4
  Cargo.lock
  dev/lock.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  poetry.lock
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

fix: Set metatype version to v0.2.4 (#467)
  Cargo.lock
  dev/lock.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  poetry.lock
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

chore: prepare release 0.2.5-0+dev
  dev/lock.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  pyproject.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

refactor: move `./deno` to `./libs/deno`
  Cargo.toml
  libs/deno/.gitignore
  libs/deno/Cargo.toml
  libs/deno/lib.rs
  libs/deno/runtime.js
Due: none

feat: `cargo x deno bench`
  Cargo.lock
  libs/deno/lib.rs
  libs/xtask/Cargo.toml
  libs/xtask/src/deno.rs
  libs/xtask/src/main.rs
  meta-cli/src/cli/typegate.rs
  typegate/deno.jsonc
Due: none

fix: swap back `deno` dep to git
  libs/deno/Cargo.toml
Due: none

fix: update `Cargo.lock`
  Cargo.lock
Due: none

fix: protoc and jsonc fixes for ci
  .github/workflows/tests.yml
  dev/Dockerfile
  dev/update.ts
Due: deno-fmt, deno-lint

fix(ci): add cmake to workflow
  .github/workflows/tests.yml
Due: none

fix(ci): update `Cargo.lock`0_o`
  Cargo.lock
Due: none

fix(CI): pin `rev` for `metatype/deno`
  Cargo.lock
  libs/deno/Cargo.toml
Due: none

chore: rename all apply to reduce
  Cargo.lock
  typegate/tests/injection/injection.py
  typegate/tests/runtimes/prisma/full_prisma_mapping.py
  typegate/tests/runtimes/prisma/full_prisma_mapping_test.ts
  typegate/tests/runtimes/temporal/temporal.py
  typegate/tests/runtimes/temporal/temporal.ts
  typegate/tests/typecheck/reduce.py
  typegate/tests/typecheck/reduce.ts
  typegate/tests/typecheck/reduce_syntax_test.ts
  typegraph/core/src/utils/mod.rs
  typegraph/core/src/utils/reduce.rs
  typegraph/core/wit/typegraph.wit
  typegraph/deno/src/types.ts
  typegraph/deno/src/utils/func_utils.ts
  typegraph/python/typegraph/t.py
  typegraph/python/typegraph/utils.py
Due: deno-fmt, deno-lint

chore: move t.ref to g.ref
  typegate/src/typegraphs/introspection.py
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/e2e/typegraph/typegraphs/deno/complex.ts
  typegate/tests/e2e/typegraph/typegraphs/deno/simple.ts
  typegate/tests/e2e/typegraph/typegraphs/python/complex.py
  typegate/tests/e2e/typegraph/typegraphs/python/simple.py
  typegate/tests/graphql/graphql.py
  typegate/tests/nesting/nesting.py
  typegate/tests/rest/rest_schema.ts
  typegate/tests/runtimes/http/http.py
  typegate/tests/runtimes/prisma/full_prisma_mapping.py
  typegate/tests/runtimes/prisma/multi_relations.py
  typegate/tests/runtimes/prisma/normal_1_1.py
  typegate/tests/runtimes/prisma/normal_1_1.ts
  typegate/tests/runtimes/prisma/optional_1_1.py
  typegate/tests/runtimes/prisma/optional_1_n.py
  typegate/tests/runtimes/prisma/optional_1_n.ts
  typegate/tests/runtimes/prisma/prisma.py
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/schema_validation/circular.py
  typegate/tests/type_nodes/union_node.py
  typegate/tests/typecheck/reduce.py
  typegate/tests/typecheck/typecheck.py
  typegate/tests/typename/typename.py
  typegraph/deno/src/providers/prisma.ts
  typegraph/deno/src/typegraph.ts
  typegraph/deno/src/types.ts
  typegraph/deno/src/utils/injection_utils.ts
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/injection.py
  typegraph/python/typegraph/providers/prisma.py
  typegraph/python/typegraph/t.py
  website/docs/guides/crud-with-prisma/prisma_blog.py
Due: deno-fmt, deno-lint

fix: Remove unnecessary check
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/utils/test_module.ts
Due: deno-fmt, deno-lint

refactor: change spec array to list
  libs/common/src/typegraph/types.rs
  libs/common/src/typegraph/validator.rs
  libs/common/src/typegraph/visitor.rs
  meta-cli/src/codegen/deno.rs
  typegate/src/engine/planner/args.ts
  typegate/src/engine/query_engine.ts
  typegate/src/engine/typecheck/code_generator.ts
  typegate/src/engine/typecheck/input.ts
  typegate/src/engine/typecheck/matching_variant.ts
  typegate/src/engine/typecheck/result.ts
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/src/runtimes/random.ts
  typegate/src/runtimes/typegraph.ts
  typegate/src/transports/rest/rest_schema_generator.ts
  typegate/src/typegraph/mod.ts
  typegate/src/typegraph/type_node.ts
  typegate/src/typegraph/types.ts
  typegate/src/typegraph/visitor.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegraph/core/src/typedef/list.rs
  typegraph/core/src/typedef/mod.rs
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

Update Cargo.lock
  Cargo.lock
Due: none

refactor(sdk): rename all array
  typegate/tests/runtimes/s3/__snapshots__/s3_test.ts.snap
  typegate/tests/runtimes/temporal/__snapshots__/temporal_test.ts.snap
  typegraph/core/src/global_store.rs
  typegraph/core/src/lib.rs
  typegraph/core/src/runtimes/prisma/migration.rs
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/core/src/runtimes/prisma/relationship/mod.rs
  typegraph/core/src/runtimes/prisma/type_generation/additional_filters.rs
  typegraph/core/src/runtimes/prisma/type_generation/filters.rs
  typegraph/core/src/runtimes/prisma/type_generation/group_by.rs
  typegraph/core/src/runtimes/prisma/type_generation/input_type.rs
  typegraph/core/src/runtimes/prisma/type_generation/mod.rs
  typegraph/core/src/runtimes/prisma/type_generation/order_by.rs
  typegraph/core/src/runtimes/prisma/type_generation/out_type.rs
  typegraph/core/src/runtimes/prisma/type_generation/query_where_expr.rs
  typegraph/core/src/runtimes/prisma/type_generation/with_nested_count.rs
  typegraph/core/src/runtimes/temporal.rs
  typegraph/core/src/t.rs
  typegraph/core/src/test_utils.rs
  typegraph/core/src/typedef/list.rs
  typegraph/core/src/types.rs
  typegraph/core/src/validation/types.rs
  typegraph/core/wit/typegraph.wit
Due: none

test(sdk): update snapshots
  typegraph/core/src/lib.rs
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__query_where_expr__tests__Post__QueryWhereExpr.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__query_where_expr__tests__User__QueryWhereExpr.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__create_many Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__create_many Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__create_many User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__create_one Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__create_one Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__create_one User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_first User out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Post out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many Record out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_many User out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_unique Post out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_unique Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_unique User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__find_unique User out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Post out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by Record out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__group_by User out.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__update_many Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__update_many Record inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__update_many User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__update_one Post inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__test__update_one User inp.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__where___test__where Post.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__where___test__where Record.snap
  typegraph/core/src/runtimes/prisma/type_generation/snapshots/typegraph_core__runtimes__prisma__type_generation__where___test__where User.snap
  typegraph/core/src/snapshots/typegraph_core__tests__successful_serialization.snap
Due: none

fix(CI): update lockfile again
  Cargo.lock
Due: none

fix: update lockfile again
  Cargo.lock
  Cargo.toml
  libs/deno/Cargo.toml
Due: none

feat: `xtask deno test --coverage`
  libs/deno/.gitignore
  libs/deno/lib.rs
  libs/deno/runtime.js
  libs/xtask/src/deno.rs
  meta-cli/src/cli/typegate.rs
Due: none

update missed snapshots
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__enum_node.py.snap
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__union_node.py.snap
Due: none

refactor(sdk): move policy internal to sdk
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__codegen.py.snap
  typegraph/core/src/lib.rs
  typegraph/core/wit/typegraph.wit
  typegraph/deno/src/policy.ts
  typegraph/python/typegraph/policy.py
Due: none

chore: remove python path section in metatype.yaml
  examples/templates/python/metatype.yaml
  meta-cli/tests/metatype.yml
  typegate/tests/metatype.yml
  website/metatype.yaml
Due: none

feat: ConsoleActor and LoaderActor
  Cargo.lock
  meta-cli/Cargo.toml
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/deploy/actors/console.rs
  meta-cli/src/deploy/actors/loader.rs
  meta-cli/src/deploy/actors/mod.rs
  meta-cli/src/deploy/mod.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader/mod.rs
Due: none

fix typos, fix List codegen
  meta-cli/src/codegen/deno.rs
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__enum_node.py.snap
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__union_node.py.snap
  typegraph/core/src/global_store.rs
Due: none

feat: PusherActor basic
  meta-cli/src/deploy/actors/mod.rs
  meta-cli/src/deploy/actors/pusher.rs
Due: none

push logic
  meta-cli/src/deploy/actors/console.rs
  meta-cli/src/deploy/actors/pusher.rs
  meta-cli/src/typegraph/push.rs
Due: none

feat: add sdk tabs
  Cargo.lock
  website/docs/reference/typegraph/specifications.mdx
  website/docs/reference/types/injections.mdx
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/src/components/SDKTabs/index.tsx
Due: es-lint

fix: lock
  Cargo.lock
  poetry.lock
Due: none

feat(prisma/migrations): Default value on new column (#465)
  libs/common/src/typegraph/runtimes/prisma.rs
  typegate/deno.json
  typegate/deno.lock
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/src/typegraph/types.ts
  typegate/tests/e2e/cli/.gitignore
  typegate/tests/e2e/cli/deploy_test.ts
  typegate/tests/e2e/cli/select.sh
  typegate/tests/e2e/cli/templates/migration.py
  typegate/tests/e2e/typegraph/typegraph_test.ts
  typegate/tests/metatype.yml
  typegate/tests/runtimes/temporal/temporal_test.ts
  typegate/tests/utils/meta.ts
  typegate/tests/utils/migrations.ts
  typegate/tests/utils/shell.ts
  typegate/tests/utils/test.ts
  typegate/tests/utils/test_module.ts
  typegraph/core/src/errors.rs
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/runtimes/prisma/context.rs
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/core/src/validation/types.rs
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

feat: faster linking
  .cargo/config.toml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
Due: none

feat(cli): Discovery actor
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/doctor.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/deploy/actors/discovery.rs
  meta-cli/src/deploy/actors/mod.rs
  meta-cli/src/typegraph/loader/discovery.rs
Due: none

wip
  meta-cli/src/deploy/actors/discovery.rs
Due: none

feat(tg_core): port `typescript_format_code`
  Cargo.lock
  Cargo.toml
  libs/deno/Cargo.toml
  typegate/tg_core/Cargo.toml
  typegate/tg_core/bindings.ts
  typegate/tg_core/config.rs
  typegate/tg_core/deno.test.jsonc
  typegate/tg_core/ext.rs
  typegate/tg_core/lib.rs
  typegate/tg_core/runtime.js
  typegate/tg_core/typegraph.rs
  typegate/tg_core/typescript.rs
Due: deno-fmt, deno-lint

feat(cli): Auto stop discovery actor
  meta-cli/src/deploy/actors/discovery.rs
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
