Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

doc: imporove uploading to s3 how-to
  examples/metatype.yaml
  examples/typegraphs/files-upload.py
  examples/typegraphs/files-upload.ts
  website/docs/guides/files-upload/index.mdx
  website/shared/s3/index.mdx
Due: none

docs: improve `/reference/ecosystem`
  website/docs/reference/ecosystem/index.mdx
Due: none

doc: imporove rest api how-to
  examples/typegraphs/example_rest.py
  examples/typegraphs/example_rest.ts
  website/docs/guides/rest/index.mdx
  website/shared/s3/index.mdx
Due: none

fix: feedback
  website/docs/reference/ecosystem/index.mdx
Due: none

fix: feedback
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/securing-requests/index.mdx
Due: none

docs: improve `/guides/securing-requests/`
  examples/metatype.yaml
  examples/typegraphs/authentication.py
  examples/typegraphs/authentication.ts
  examples/typegraphs/cors.py
  examples/typegraphs/cors.ts
  examples/typegraphs/example_rest.py
  examples/typegraphs/example_rest.ts
  examples/typegraphs/policies.py
  examples/typegraphs/policies.ts
  examples/typegraphs/scripts/createVote.ts
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/securing-requests/authentication.graphql
  website/docs/guides/securing-requests/index.mdx
  website/docs/guides/securing-requests/policies.graphql
  website/shared/cors/index.mdx
  website/shared/s3/index.mdx
Due: none

feat: improve sdk switcher
  ghjk.ts
Due: none

docs: improve `/concepts/features-overview`
  website/docs/concepts/features-overview/index.mdx
Due: none

doc: types page
  .ghjk/lock.json
  website/docs/reference/types/index.mdx
  website/src/components/ChoicePicker/index.tsx
  website/src/components/SDKTabs/index.tsx
  website/src/states/sdk.ts
Due: es-lint

Hide importers doc
  website/docs/reference/types/importers/index.mdx.disabled
Due: none

docs: update injections reference
  website/docs/reference/types/injections.mdx
Due: none

docs: remove obsolete reducers section
  website/docs/reference/types/reducers.mdx
Due: none

fix: address comments and add missed sections
  website/docs/reference/runtimes/http/index.mdx
  website/docs/reference/runtimes/index.mdx
  website/docs/reference/runtimes/prisma/index.mdx
Due: none

fix: typos
  website/docs/reference/runtimes/prisma/index.mdx
Due: none

docs: header_prefix
  examples/typegraphs/http-runtime.py
  website/docs/reference/runtimes/http/http.graphql
  website/docs/reference/runtimes/http/index.mdx
  website/docs/reference/runtimes/prisma/index.mdx
  website/src/components/MiniQL/index.tsx
Due: es-lint

docs: add command reference table with examples
  website/docs/reference/meta-cli/available-commands.mdx
  website/docs/reference/meta-cli/index.mdx
Due: none

docs: programmatic deployment
  website/docs/reference/programmatic-deployment/index.mdx
Due: none

fix: url
  website/docs/reference/programmatic-deployment/index.mdx
Due: none

fix: url path
  website/shared/projects/first-project-python-tab.mdx
  website/shared/projects/first-project-ts.mdx
Due: none

refactor: rename all wasmedge ref. to wasm
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  libs/common/src/typegraph/runtimes/mod.rs
  libs/common/src/typegraph/runtimes/wasm.rs
  typegate/src/runtimes/mod.ts
  typegate/src/runtimes/wasm.ts
  typegate/tests/runtimes/wasmedge/wasmedge.py
  typegraph/core/src/conversion/runtimes.rs
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/runtimes/wasm.rs
  typegraph/core/src/utils/postprocess/mod.rs
  typegraph/core/src/utils/postprocess/wasm_rt.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/sdk/src/runtimes/wasm.ts
  typegraph/python/typegraph/runtimes/__init__.py
  typegraph/python/typegraph/runtimes/wasm.py
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

feat(wasm): handle enum input, fix object bug
  typegate/engine/src/runtimes/wasm/conversion.rs
  typegate/src/runtimes/wasm.ts
  typegate/tests/runtimes/wasm/rust.wasm
  typegate/tests/runtimes/wasm/rust/src/lib.rs
  typegate/tests/runtimes/wasm/rust/wit/example.wit
  typegate/tests/runtimes/wasm/wasm.ts
  typegate/tests/runtimes/wasm/wasm_test.ts
Due: deno-fmt, deno-lint

test(wasm): tuple deserialize
  typegate/src/runtimes/wasm.ts
  typegate/tests/runtimes/wasm/rust.wasm
  typegate/tests/runtimes/wasm/rust/src/lib.rs
  typegate/tests/runtimes/wasm/rust/wit/example.wit
  typegate/tests/runtimes/wasm/wasm.ts
  typegate/tests/runtimes/wasm/wasm_test.ts
Due: deno-fmt, deno-lint

test(wasm): update binding test value
  typegate/tests/utils/bindings_test.ts
Due: deno-fmt, deno-lint

feat(wasm): reject on extra fields
  typegate/engine/src/runtimes/wasm/conversion.rs
Due: none

feat(wasm): nested wit input support
  .github/workflows/tests.yml
  typegate/engine/src/runtimes/wasm.rs
  typegate/engine/src/runtimes/wasm/conversion.rs
  typegate/tests/runtimes/wasm/rust.wasm
  typegate/tests/runtimes/wasm/rust/src/lib.rs
  typegate/tests/runtimes/wasm/rust/wit/example.wit
Due: none

feat(wasm): nested object output
  typegate/engine/src/runtimes/wasm/conversion.rs
  typegate/src/runtimes/wasm.ts
  typegate/tests/runtimes/wasm/rust/src/lib.rs
  typegate/tests/runtimes/wasm/rust/wit/example.wit
  typegate/tests/runtimes/wasm/wasm.ts
  typegate/tests/runtimes/wasm/wasm_test.ts
Due: deno-fmt, deno-lint

test(wasm): error propagation
  typegate/engine/src/runtimes/wasm.rs
  typegate/engine/src/runtimes/wasm/conversion.rs
  typegate/tests/runtimes/wasmedge/rust.wasm
  typegate/tests/runtimes/wasmedge/rust/Cargo.lock
  typegate/tests/runtimes/wasmedge/rust/src/lib.rs
  typegate/tests/runtimes/wasmedge/wasmedge.ts
  typegate/tests/runtimes/wasmedge/wasmedge_test.ts
Due: deno-fmt, deno-lint

fix(wasm): bad conversion
  typegate/engine/src/runtimes/wasm/conversion.rs
Due: none

feat(wasm): wit component support
  Cargo.lock
  Cargo.toml
  typegate/engine/Cargo.toml
  typegate/engine/src/ext.rs
  typegate/engine/src/runtimes.rs
  typegate/engine/src/runtimes/wasm.rs
  typegate/engine/src/runtimes/wasm/conversion.rs
  typegate/engine/src/runtimes/wasmedge.rs
  typegate/tests/runtimes/wasmedge/rust.wasm
  typegate/tests/runtimes/wasmedge/rust/Cargo.lock
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/build.sh
  typegate/tests/runtimes/wasmedge/rust/src/lib.rs
  typegate/tests/runtimes/wasmedge/rust/wit/example.wit
  typegate/tests/runtimes/wasmedge/wasmedge.ts
  typegate/tests/runtimes/wasmedge/wasmedge_test.ts
Due: deno-fmt, deno-lint

refactor(wasm): all remaining wasmedge -> wasm
  Cargo.toml
  typegate/engine/00_runtime.js
  typegate/engine/bindings.ts
  typegate/engine/runtime.d.ts
  typegate/engine/src/ext.rs
  typegate/engine/src/runtimes/wasm.rs
  typegate/src/runtimes/wasm.ts
  typegate/src/typegraph/types.ts
  typegate/tests/runtimes/wasm/rust.wasm
  typegate/tests/runtimes/wasm/rust/Cargo.lock
  typegate/tests/runtimes/wasm/rust/Cargo.toml
  typegate/tests/runtimes/wasm/rust/build.sh
  typegate/tests/runtimes/wasm/rust/src/lib.rs
  typegate/tests/runtimes/wasm/rust/wit/example.wit
  typegate/tests/runtimes/wasm/wasm.py
  typegate/tests/runtimes/wasm/wasm.ts
  typegate/tests/runtimes/wasm/wasm_test.ts
  typegate/tests/runtimes/wasmedge/rust/build.sh
  typegate/tests/utils/bindings_test.ts
Due: deno-fmt, deno-lint

fix: cherry-pick
  typegate/tests/runtimes/wasmedge/wasmedge.ts
  typegraph/core/src/utils/postprocess/wasm_rt.rs
Due: deno-fmt, deno-lint

fix(wasm): typos and minor cleanups
  typegate/engine/src/runtimes/wasm/conversion.rs
Due: none

fix(tests.yml): disable cache deno dir for now
  .github/workflows/tests.yml
Due: none

fix: version lock
  .github/workflows/tests.yml
Due: none

fix: lockfile
  Cargo.lock
Due: none

docs: improve `/guides/securing-requests/` (#683)
  examples/metatype.yaml
  examples/typegraphs/authentication.py
  examples/typegraphs/authentication.ts
  examples/typegraphs/cors.py
  examples/typegraphs/cors.ts
  examples/typegraphs/example_rest.py
  examples/typegraphs/example_rest.ts
  examples/typegraphs/policies.py
  examples/typegraphs/policies.ts
  examples/typegraphs/scripts/createVote.ts
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/securing-requests/authentication.graphql
  website/docs/guides/securing-requests/index.mdx
  website/docs/guides/securing-requests/policies.graphql
  website/shared/cors/index.mdx
  website/shared/s3/index.mdx
Due: none

docs: improves `/guides/rest` (#679)
  examples/metatype.yaml
  examples/typegraphs/authentication.py
  examples/typegraphs/authentication.ts
  examples/typegraphs/cors.py
  examples/typegraphs/cors.ts
  examples/typegraphs/example_rest.py
  examples/typegraphs/example_rest.ts
  examples/typegraphs/files-upload.py
  examples/typegraphs/files-upload.ts
  examples/typegraphs/policies.py
  examples/typegraphs/policies.ts
  examples/typegraphs/scripts/createVote.ts
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/files-upload/index.mdx
  website/docs/guides/rest/index.mdx
  website/docs/guides/securing-requests/authentication.graphql
  website/docs/guides/securing-requests/index.mdx
  website/docs/guides/securing-requests/policies.graphql
  website/docs/reference/ecosystem/index.mdx
  website/shared/cors/index.mdx
  website/shared/s3/index.mdx
Due: none

fix: address feedback
  website/docs/guides/files-upload/index.mdx
  website/shared/s3/files.graphql
  website/shared/s3/index.mdx
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
