Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

fix: address feedback
  website/docs/concepts/features-overview/index.mdx
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/securing-requests/index.mdx
  website/src/components/TGExample/index.tsx
  website/src/pages/features/index.tsx
Due: es-lint

docs: `/docs/concepts/features-overview/` (#725)
  website/docs/concepts/features-overview/index.mdx
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/rest/index.mdx
  website/docs/guides/securing-requests/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
  website/shared/s3/index.mdx
  website/src/components/MiniQL/index.tsx
  website/src/pages/features/index.tsx
Due: es-lint

fix typing
  typegate/src/config.ts
  typegate/src/config/types.ts
  typegate/src/crypto.ts
  typegate/src/log.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/services/auth/cookies.ts
  typegate/src/services/auth/mod.ts
  typegate/src/services/auth/protocols/basic.ts
  typegate/src/services/auth/protocols/internal.ts
  typegate/src/services/auth/protocols/oauth2.ts
  typegate/src/services/auth/routes/take.ts
  typegate/src/sync/typegraph.ts
  typegate/src/typegate/artifacts/local.ts
  typegate/src/typegate/artifacts/mod.ts
  typegate/src/typegate/artifacts/shared.ts
  typegate/src/typegate/mod.ts
  typegate/src/typegraph/mod.ts
  typegate/tests/utils/dir.ts
  typegate/tests/utils/query/graphql_query.ts
  typegate/tests/utils/query/mod.ts
  typegate/tests/utils/query/rest_query.ts
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

feat(libs,metagen): draft python
  Cargo.lock
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  libs/common/Cargo.toml
  libs/metagen/Cargo.toml
  libs/metagen/src/lib.rs
  libs/metagen/src/mdk_python/mod.rs
  libs/metagen/src/mdk_python/static/main.py.jinja
  libs/metagen/src/mdk_python/static/struct.py.jinja
  libs/metagen/src/mdk_python/static/types.py.jinja
  libs/metagen/src/mdk_python/types.rs
  libs/metagen/src/mdk_python/utils.rs
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/tests/mod.rs
  meta-cli/Cargo.toml
  meta-cli/src/com/responses.rs
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/metagen/metagen_test.ts
  typegate/tests/metagen/typegraphs/metagen.mjs
  typegate/tests/metagen/typegraphs/metagen.py
  typegate/tests/metagen/typegraphs/python.py
  typegraph/core/Cargo.toml
  typegraph/core/src/utils/fs_host.rs
  typegraph/core/src/utils/metagen_utils.rs
  typegraph/core/src/utils/mod.rs
  typegraph/core/src/utils/postprocess/mod.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/sdk/src/metagen.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/node/sdk/src/utils/func_utils.ts
  typegraph/python/typegraph/graph/metagen.py
  typegraph/python/typegraph/graph/tg_manage.py
  typegraph/python/typegraph/utils.py
  website/docs/reference/runtimes/wasm/index.mdx
Due: deno-fmt, deno-lint

fix: bug
  Cargo.lock
  libs/metagen/src/mdk_python/mod.rs
  typegraph/core/Cargo.toml
  typegraph/core/src/utils/metagen_utils.rs
Due: none

fix: lint for node typegraph
  .pre-commit-config.yaml
  typegraph/node/pnpm-lock.yaml
  typegraph/node/sdk/eslint.config.js
  typegraph/node/sdk/package.json
  typegraph/node/sdk/src/deps/mod.ts
  typegraph/node/sdk/src/runtimes/deno.ts
  typegraph/node/sdk/src/tg_artifact_upload.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/node/sdk/src/tg_manage.ts
  typegraph/node/sdk/src/typegraph.ts
  typegraph/node/sdk/src/utils/func_utils.ts
  typegraph/node/sdk/src/utils/type_utils.ts
  typegraph/python/typegraph/graph/tg_manage.py
Due: none

fix: pre-commitjob
  .github/workflows/tests.yml
Due: none

fix: tests
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegraph/node/sdk/src/runtimes/deno.ts
Due: none

refactor: rename all wasmedge ref. to wasm
  .ghjk/lock.json
Due: none

fix: deadlock bug
  .ghjk/deno.lock
  examples/deploy/wasm/rust.wasm
  ghjk.ts
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/runtimes/wasm_wire/rust/build.sh
  typegate/tests/runtimes/wasm_wire/rust/lib.rs
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
Due: deno-fmt, deno-lint

fix: tests
  ghjk.ts
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/runtimes/wasm_wire/rust/build.sh
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
Due: deno-fmt, deno-lint

fix: address feedback
  dev/test.ts
Due: deno-fmt, deno-lint

fix: bugs
  dev/test.ts
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/utils/bindings_test.ts
  typegate/tests/utils/metadev.ts
Due: deno-fmt, deno-lint

fix: update snapshots
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
Due: none

switch order of entries in $PATH env var
  dev/test.ts
Due: deno-fmt, deno-lint

remove changes on .vscode/settings.json
  .vscode/settings.json
Due: none

chore(core SDK): better error logs
  .ghjk/lock.json
  typegraph/core/src/utils/fs_host.rs
Due: none

fix: only build xtask once for the tests (#720)
  Cargo.lock
  dev/test.ts
  libs/xtask/src/deno.rs
  rust-toolchain.toml
  typegate/deno.jsonc
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/utils/bindings_test.ts
  typegate/tests/utils/meta.ts
  typegate/tests/utils/metadev.ts
Due: deno-fmt, deno-lint

fix(test): fix import:
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
Due: deno-fmt, deno-lint

chore(website): g.rest reference page
  website/docs/guides/rest/index.mdx
  website/docs/reference/rest/index.mdx
Due: none

fix(website): phrasing and typos
  website/docs/reference/rest/index.mdx
Due: none

chore(tests): update tests
  typegate/tests/runtimes/deno/deno_dir.py
  typegate/tests/runtimes/deno/deno_dir.ts
  typegate/tests/runtimes/deno/deno_dir_test.ts
  typegate/tests/runtimes/deno/deno_glob_test.ts
  typegate/tests/runtimes/deno/deno_globs.py
  typegate/tests/runtimes/deno/deno_globs.ts
  typegate/tests/runtimes/python/python_dir.py
  typegate/tests/runtimes/python/python_dir.ts
  typegate/tests/runtimes/python/python_dir_test.ts
  typegate/tests/runtimes/python/python_dirs.py
  typegate/tests/runtimes/python/python_glob_test.ts
  typegate/tests/runtimes/python/python_globs.ts
Due: deno-fmt, deno-lint

update deployed version
  Cargo.lock
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/node/package.json
  examples/templates/node/pnpm-lock.yaml
  examples/templates/python/compose.yml
Due: none

chore: remove readme from typegate/tests
  typegate/tests/README.md
Due: none

Update website/docs/reference/rest/index.mdx
  website/docs/reference/rest/index.mdx
Due: none

fix: fix test path
  typegate/tests/runtimes/python/python_dir_test.ts
Due: deno-fmt, deno-lint

fix: tests
  dev/lock.yml
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  website/docs/concepts/RFCs/M0-template.mdx
  website/docs/concepts/RFCs/index.mdx
  website/docs/concepts/features-overview/index.mdx
  website/docs/index.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
Due: none

chore(tests): move sync tests under one file and bucket name.
  typegate/tests/runtimes/deno/deno_dir_test.ts
  typegate/tests/runtimes/deno/deno_glob_test.ts
  typegate/tests/runtimes/deno/deno_sync_test.ts
  typegate/tests/runtimes/python/python_dir_test.ts
  typegate/tests/runtimes/python/python_glob_test.ts
  typegate/tests/runtimes/python/python_sync_test.ts
Due: deno-fmt, deno-lint

chore: remove unnecessary line
  typegate/tests/runtimes/deno/deno_sync_test.ts
Due: deno-fmt, deno-lint

Apply suggestions from code review
  website/blog/2023-11-27-node-compatibility/index.mdx
  website/docs/concepts/RFCs/M0-template.mdx
Due: none

chore(website): `g.rest` reference at `/docs/reference/rest` (#734)
  website/docs/guides/rest/index.mdx
  website/docs/reference/rest/index.mdx
Due: none

chore(website): rename materializer to function and fix phrasing
  website/docs/concepts/access-control/index.mdx
  website/docs/concepts/features-overview/index.mdx
  website/docs/concepts/mental-model/index.mdx
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/import-external-modules/index.mdx
  website/docs/guides/import-your-existing-apis/index.mdx.disabled
  website/docs/guides/rest/index.mdx
  website/docs/reference/policies/index.mdx
  website/docs/reference/runtimes/deno/index.mdx
  website/docs/reference/runtimes/prisma/index.mdx
  website/docs/reference/runtimes/random/index.mdx
  website/docs/reference/types/functions.mdx
  website/docs/reference/types/importers/index.mdx.disabled
  website/docs/reference/types/index.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
Due: none

chore(examples/typegraphs): rename materializer to function
  examples/typegraphs/first-typegraph.py
  examples/typegraphs/first-typegraph.ts
  examples/typegraphs/func-gql.py
  examples/typegraphs/func-gql.ts
  examples/typegraphs/math.py
  examples/typegraphs/math.ts
  examples/typegraphs/policies.py
  examples/typegraphs/policies.ts
Due: none

fix: fix tg s3 keyon TG store
  typegate/src/sync/typegraph.ts
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
