Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

fix(ci): use published version
  dev/lock.yml
  website/package.json
  website/pnpm-lock.yaml
Due: none

fix(cli): bad conditionals in loader detection
  .ghjk/deno.lock
  .ghjk/lock.json
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  dev/Dockerfile
  dev/lock.yml
  ghjk.ts
  meta-cli/src/typegraph/loader/mod.rs
  typegraph/node/pnpm-lock.yaml
  whiz.yaml
Due: none

fix(website): small fixes
  whiz.yaml
Due: none

test(website): compare typegraph pairs
  typegate/tests/e2e/website/website_test.ts
Due: deno-fmt, deno-lint

fix(website): add cors
  website/typegraphs/authentication.ts
  website/typegraphs/backend-for-frontend.ts
  website/typegraphs/basic.ts
  website/typegraphs/cors.ts
  website/typegraphs/database.ts
  website/typegraphs/deno.ts
  website/typegraphs/execute.ts
  website/typegraphs/faas-runner.ts
  website/typegraphs/first-typegraph.ts
  website/typegraphs/func.ts
  website/typegraphs/graphql-server.ts
  website/typegraphs/graphql.ts
  website/typegraphs/iam-provider.ts
  website/typegraphs/index.ts
  website/typegraphs/jwt.ts
  website/typegraphs/microservice-orchestration.ts
  website/typegraphs/oauth2.ts
  website/typegraphs/policies.ts
  website/typegraphs/prisma-runtime.ts
  website/typegraphs/prisma.ts
  website/typegraphs/programmable-api-gateway.ts
  website/typegraphs/random.ts
  website/typegraphs/rate.ts
  website/typegraphs/reduce.ts
  website/typegraphs/rest.ts
  website/typegraphs/roadmap-policies.ts
Due: es-lint

feat: flattened context (#555)
  typegate/src/services/auth/mod.ts
  typegate/src/services/auth/protocols/oauth2.ts
  typegate/tests/auth/auth_test.ts
  typegraph/python/typegraph/graph/params.py
Due: deno-fmt, deno-lint

feat(typegate-rt): find list queries
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/runtimes/typegate.rs
  typegraph/core/wit/typegraph.wit
Due: deno-fmt, deno-lint

fix: struct-level unique constraint
  typegraph/core/src/runtimes/prisma/model.rs
Due: none

fix(oauth2-profiler): fix OAuth2 profiler params
  typegate/src/services/auth/mod.ts
  typegate/src/services/auth/protocols/basic.ts
  typegate/src/services/auth/protocols/jwt.ts
  typegate/src/services/auth/protocols/oauth2.ts
  typegate/src/services/auth/protocols/protocol.ts
Due: deno-fmt, deno-lint

fix(website): env fetch and typos
  .pre-commit-config.yaml
  website/typegraphs/example_rest.ts
  website/typegraphs/execute.ts
  website/typegraphs/faas-runner.ts
  website/typegraphs/iam-provider.ts
  website/typegraphs/math.ts
  website/typegraphs/microservice-orchestration.ts
  website/typegraphs/random.ts
Due: es-lint

test(website): wip
  typegate/tests/e2e/website/website_test.ts
  website/typegraphs/backend-for-frontend.ts
  website/typegraphs/cors.ts
  website/typegraphs/database.ts
  website/typegraphs/graphql-server.ts
  website/typegraphs/index.ts
Due: deno-fmt, deno-lint, es-lint

fix internal.ts
  typegate/src/services/auth/protocols/internal.ts
Due: deno-fmt, deno-lint

update deno.lock
  typegate/deno.lock
Due: none

test(website): wip
  typegate/tests/e2e/website/website_test.ts
  website/typegraphs/cors.py
  website/typegraphs/cors.ts
  website/typegraphs/database.ts
  website/typegraphs/example_rest.ts
  website/typegraphs/execute.ts
  website/typegraphs/files-upload.ts
  website/typegraphs/first-typegraph.py
  website/typegraphs/graphql-server.py
  website/typegraphs/index.ts
Due: deno-fmt, deno-lint, es-lint

test(website): wip
  typegate/tests/e2e/website/website_test.ts
  typegraph/node/sdk/src/runtimes/random.ts
  website/typegraphs/oauth2.py
  website/typegraphs/policies.py
  website/typegraphs/prisma-runtime.py
  website/typegraphs/prisma-runtime.ts
  website/typegraphs/programmable-api-gateway.ts
  website/typegraphs/random.py
  website/typegraphs/random.ts
  website/typegraphs/rate.py
  website/typegraphs/rest.py
  website/typegraphs/rest.ts
  website/typegraphs/roadmap-policies.py
  website/typegraphs/roadmap-policies.ts
Due: deno-fmt, deno-lint, es-lint

test(website): math, iam-provider, graphql, roadmap-policies
  typegate/tests/e2e/website/website_test.ts
  website/typegraphs/func.py
  website/typegraphs/func.ts
  website/typegraphs/graphql.ts
  website/typegraphs/iam-provider.py
  website/typegraphs/iam-provider.ts
  website/typegraphs/reduce.ts
  website/typegraphs/roadmap-policies.ts
Due: deno-fmt, deno-lint, es-lint

fix(pre-commit): exclude typegraph folder
  .pre-commit-config.yaml
Due: none

fix(pre-commit): lint errors
  website/typegraphs/iam-provider.ts
  website/typegraphs/microservice-orchestration.ts
  website/typegraphs/random.ts
Due: es-lint

test(website): enable skipped tests
  typegate/tests/e2e/website/website_test.ts
Due: deno-fmt, deno-lint

feat(typegate-rt): Extend typegate runtime (#561)
  typegate/deno.lock
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/core/src/runtimes/typegate.rs
  typegraph/core/wit/typegraph.wit
Due: deno-fmt, deno-lint

fix(test): template node test
  examples/templates/node/package.json
  examples/templates/node/tsconfig.json
  typegate/deno.lock
  typegate/tests/e2e/templates/templates_test.ts
  whiz.yaml
Due: deno-fmt, deno-lint

fix: revert unintentional changes
  examples/templates/node/package.json
  examples/templates/node/tsconfig.json
Due: none

fix(cli)!: bad conditionals in loader detection (#559)
  .ghjk/deno.lock
  .ghjk/lock.json
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  dev/Dockerfile
  dev/lock.yml
  examples/templates/node/package.json
  examples/templates/node/tsconfig.json
  ghjk.ts
  meta-cli/src/typegraph/loader/mod.rs
  typegate/tests/e2e/templates/templates_test.ts
  typegraph/node/pnpm-lock.yaml
  whiz.yaml
Due: deno-fmt, deno-lint

fix(oauth2-profiler): fix OAuth2 profiler params (#562)
  typegate/src/services/auth/mod.ts
  typegate/src/services/auth/protocols/basic.ts
  typegate/src/services/auth/protocols/internal.ts
  typegate/src/services/auth/protocols/jwt.ts
  typegate/src/services/auth/protocols/oauth2.ts
  typegate/src/services/auth/protocols/protocol.ts
Due: deno-fmt, deno-lint

wip: printf
  typegate/engine/src/lib.rs
  typegate/src/main.ts
Due: deno-fmt, deno-lint

wip: more printf
  typegate/src/runtimes/deno/deno.ts
Due: deno-fmt, deno-lint

fix(typegate): explicitly import `DenoRuntime.import` modules from path
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/worker.ts
Due: deno-fmt, deno-lint

fix(typegate): 2
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/worker.ts
Due: deno-fmt, deno-lint

fix(typegate): 3
  typegate/src/runtimes/deno/deno.ts
Due: deno-fmt, deno-lint

wip: more printf
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/worker.ts
Due: deno-fmt, deno-lint

wip: possible fix
  typegate/src/runtimes/deno/deno.ts
Due: deno-fmt, deno-lint

fix: remove debug printf
  typegate/src/main.ts
  typegate/src/runtimes/deno/deno.ts
Due: deno-fmt, deno-lint

fix(website/random): index finalization behaves differently on each frontend if policy not given
  website/typegraphs/random.py
  website/typegraphs/random.ts
Due: es-lint

fix(website): prisma comparison
  website/typegraphs/prisma.ts
Due: es-lint

test(website): fix remaining typegraphs
  typegate/tests/e2e/website/website_test.ts
  website/typegraphs/func.ts
  website/typegraphs/reduce.py
  website/typegraphs/reduce.ts
  website/typegraphs/rest.ts
Due: deno-fmt, deno-lint, es-lint

chore(website): fix paths
  examples/metatype.yaml
  website/blog/2023-06-18-programmable-glue/index.mdx
  website/docs/concepts/mental-model/index.mdx
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/files-upload/index.mdx
  website/docs/guides/rest/index.mdx
  website/docs/guides/securing-requests/index.mdx
  website/docs/reference/policies/index.mdx
  website/docs/reference/runtimes/deno/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/reference/runtimes/prisma/index.mdx
  website/docs/reference/typegate/authentication/index.mdx
  website/docs/reference/typegate/cors/index.mdx
  website/docs/reference/typegate/rate-limiting/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/src/pages/index.tsx
  website/use-cases/automatic-crud-validation/index.mdx
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/faas-runner/index.mdx
  website/use-cases/graphql-server/index.mdx
  website/use-cases/iam-provider/index.mdx
  website/use-cases/microservice-orchestration/index.mdx
  website/use-cases/orm-for-the-edge/index.mdx
  website/use-cases/programmable-api-gateway/index.mdx
Due: es-lint

fix(website/whiz): cleanups
  dev/lock.yml
  examples/typegraphs/docs.py
  website/package.json
  website/pnpm-lock.yaml
  whiz.yaml
Due: none

fix(cli, typegate): explicitly import DenoRuntime.import modules from path (#564)
  typegate/engine/src/lib.rs
  typegate/src/main.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/worker.ts
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
