Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint, devtools-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev|typegraph/node)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: (any of: ^typegraph/node/sdk and \.(ts|mts|cts)$, \.tsx$ and not (node_modules)) or (any of: ^website/ and \.(ts|mts|cts)$, \.tsx$ and not (^website/typegraphs/))
  devtools-lint: any of: ^meta-lsp/ and \.(ts|mts|cts)$

fix: unwanted publish
  typegraph/deno/sdk/jsr.json
  whiz.yaml
Due: none

feat: upgrade www and gha (#786)
  .ghjk/lock.json
  .github/workflows/nightly.yml
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  poetry.lock
  typegraph/deno/sdk/jsr.json
  website/package.json
  website/pnpm-lock.yaml
  whiz.yaml
Due: none

expand try block in tg_manage.ts
  dev/tasks-dev.ts
  examples/deno.json
  typegraph/deno/sdk/src/tg_manage.ts
Due: deno-fmt, deno-lint

fix: Skip deno stack trace from error message (#787)
  dev/tasks-dev.ts
  typegraph/deno/sdk/src/tg_manage.ts
Due: deno-fmt, deno-lint

configurable backoff
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
Due: none

feat(cli)!: configurable backoff (#789)
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
Due: none

feat(metagen): `client_ts`
  .ghjk/lock.json
  .github/workflows/release.yml
  .vscode/settings.json
  dev/envs/compose.adminer.yml
  dev/envs/compose.base.yml
  dev/envs/compose.imgproxy.yml
  dev/envs/compose.prisma.yml
  dev/tasks-dev.ts
  examples/deno.lock
  examples/typegraphs/metagen/rs/mdk.rs
  ghjk.ts
  libs/common/src/typegraph/mod.rs
  libs/metagen/src/client_ts/mod.rs
  libs/metagen/src/client_ts/node_metas.rs
  libs/metagen/src/client_ts/selections.rs
  libs/metagen/src/client_ts/static/mod.ts
  libs/metagen/src/lib.rs
  libs/metagen/src/macros.rs
  libs/metagen/src/mdk/types.rs
  libs/metagen/src/mdk_python/mod.rs
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/mdk_rust/stubs.rs
  libs/metagen/src/mdk_rust/types.rs
  libs/metagen/src/mdk_typescript/mod.rs
  libs/metagen/src/mdk_typescript/types.rs
  libs/metagen/src/shared/mod.rs
  libs/metagen/src/shared/types.rs
  libs/metagen/src/tests/fixtures.rs
  libs/metagen/tests/pnpm-lock.yaml
  libs/metagen/tests/tg2.ts
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
  typegate/tests/metagen/typegraphs/identities/rs/mdk.rs
  typegate/tests/metagen/typegraphs/simple.ts
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.lock
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
Due: deno-fmt, deno-lint

wip: test
  typegate/tests/metagen/metagen_test.ts
  typegate/tests/metagen/typegraphs/sample.ts
  typegate/tests/metagen/typegraphs/sample/metatype.yml
  typegate/tests/metagen/typegraphs/sample/ts/main.ts
Due: deno-fmt, deno-lint

test: simple client_ts test
  .ghjk/lock.json
  libs/xtask/src/deno.rs
  typegate/tests/metagen/metagen_test.ts
  typegate/tests/metagen/typegraphs/sample.ts
  typegate/tests/metagen/typegraphs/sample/ts/deno.json
  typegate/tests/metagen/typegraphs/sample/ts/main.ts
  typegate/tests/metagen/typegraphs/sample/ts/mdk.ts
  typegraph/deno/sdk/src/typegraph.ts
Due: deno-fmt, deno-lint

feat: add back gleap
  .ghjk/lock.json
  website/package.json
  website/packages/code-loader-transform.js
  website/pnpm-lock.yaml
  website/src/theme/Root.js
Due: none

fix: pre-commit
  website/packages/code-loader-transform.js
  website/pnpm-lock.yaml
Due: none

feat: add back gleap (#791)
  .ghjk/lock.json
  website/package.json
  website/packages/code-loader-transform.js
  website/pnpm-lock.yaml
  website/src/theme/Root.js
Due: none

chore: bump v0.4.5
  .ghjk/deno.lock
  .ghjk/lock.json
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  dev/Dockerfile
  dev/consts.ts
  dev/cross.Dockerfile
  dev/deps.ts
  dev/tasks-build.ts
  dev/tasks-dev.ts
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  whiz.yaml
Due: deno-fmt, deno-lint

wip: try 2
  .ghjk/lock.json
Due: none

fix: default TMP_DIR value
  .github/workflows/tests.yml
  dev/Dockerfile
  typegate/engine/src/lib.rs
Due: none

refactor(docs): better documentation on
  website/blog/2023-03-15-emulating-servers/index.mdx
  website/docs/tutorials/quick-start/index.mdx
  website/shared/install/meta-cli.mdx
  website/shared/install/typegate.mdx
  website/shared/install/typegraph.mdx
  website/shared/meta-cli/embedded-typegate.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
  website/src/components/PythonPackageManagerTabs/index.tsx
  website/src/components/TsPackageManagerTabs/index.tsx
  website/src/states/package_manager.ts
Due: es-lint

feat: `$MT_DIR` with default to `.metatype`
  dev/Dockerfile
  typegate/engine/src/lib.rs
  whiz.yaml
Due: none

fix: version-bump typo
  .github/workflows/release.yml
  ghjk.ts
Due: none

style: add devhunt result thumbnail
  .ghjk/lock.json
  website/src/pages/index.tsx
  website/static/images/homepage/devhunt_tab_dark.svg
  website/static/images/homepage/devhunt_tab_dark_orange.svg
  website/static/images/homepage/devhunt_tab_orange.svg
  website/static/images/homepage/devhunt_tab_solid.svg
  website/static/images/homepage/tab_grey.svg
Due: es-lint

chore: bump v0.4.5 (#792)
  .ghjk/deno.lock
  .ghjk/lock.json
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  dev/Dockerfile
  dev/consts.ts
  dev/cross.Dockerfile
  dev/deps.ts
  dev/tasks-build.ts
  dev/tasks-dev.ts
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/engine/src/lib.rs
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  whiz.yaml
Due: deno-fmt, deno-lint

refactor(website): change the dev hunt icon
  website/src/pages/index.tsx
Due: es-lint

chore: prpeapre v0.4.6-0
  .ghjk/lock.json
  Cargo.lock
  Cargo.toml
  dev/consts.ts
  dev/deps.ts
  dev/installs.ts
  examples/templates/deno/api/example.ts
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/node/package.json
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/e2e/published/upgrade_test.ts
  typegate/tests/e2e/typegraph/typegraph_test.ts
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

refactor(docs): better documentation on `quick-start` page (#793)
  .ghjk/lock.json
  website/blog/2023-03-15-emulating-servers/index.mdx
  website/docs/tutorials/quick-start/index.mdx
  website/shared/install/meta-cli.mdx
  website/shared/install/typegate.mdx
  website/shared/install/typegraph.mdx
  website/shared/meta-cli/embedded-typegate.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
  website/src/components/PythonPackageManagerTabs/index.tsx
  website/src/components/TsPackageManagerTabs/index.tsx
  website/src/pages/index.tsx
  website/src/states/package_manager.ts
  website/static/images/homepage/devhunt_tab_dark.svg
  website/static/images/homepage/devhunt_tab_dark_orange.svg
  website/static/images/homepage/devhunt_tab_orange.svg
  website/static/images/homepage/devhunt_tab_solid.svg
  website/static/images/homepage/tab_grey.svg
Due: es-lint

test: published sdk tests
  dev/consts.ts
  dev/installs.ts
  libs/xtask/src/deno.rs
  typegate/deno.lock
  typegate/engine/src/lib.rs
  typegate/tests/e2e/published/published_test.ts
  typegate/tests/utils/test.ts
Due: deno-fmt, deno-lint

wip: wip
  dev/tasks-dev.ts
  examples/deno.lock
  examples/typegraphs/metagen/rs/mdk.rs
  typegate/tests/e2e/cli/dev_test.ts
  typegate/tests/e2e/published/published_test.ts
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
  typegate/tests/metagen/typegraphs/identities/rs/mdk.rs
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.lock
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
Due: deno-fmt, deno-lint

chore: bump deno to v1.45.2
  .ghjk/lock.json
  Cargo.lock
  Cargo.toml
  dev/Dockerfile
  dev/consts.ts
  dev/tasks-lock.ts
  dev/tasks-test.ts
  dev/test.ts
  examples/deno.json
  examples/deno.lock
  libs/deno/src/lib.rs
  libs/metagen/src/mdk/mod.rs
  libs/xtask/src/deno.rs
  meta-cli/src/deploy/actors/task/action.rs
  meta-cli/src/deploy/actors/task/deploy/migrations.rs
  rust-toolchain.toml
  typegate/deno.lock
  typegate/engine/src/ext.rs
  typegate/engine/src/lib.rs
  typegate/engine/src/runtimes/prisma/engine_import.rs
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/tests/e2e/published/published_test.ts
  typegate/tests/e2e/typegraph/typegraph_test.ts
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
  typegraph/core/src/t.rs
  typegraph/core/src/typegraph.rs
  typegraph/core/src/utils/archive.rs
Due: deno-fmt, deno-lint

fix
  .ghjk/lock.json
  .github/workflows/tests.yml
  examples/deno.json
  typegate/tests/e2e/cli/dev_test.ts
  typegate/tests/e2e/published/published_test.ts
Due: deno-fmt, deno-lint

fix: finally!!
  dev/consts.ts
  examples/deno.lock
  typegate/deno.lock
  typegate/tests/e2e/published/published_test.ts
  typegate/tests/e2e/templates/templates_test.ts
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
  typegraph/deno/sdk/jsr.json
Due: deno-fmt, deno-lint

wip: another try
  typegate/tests/e2e/published/published_test.ts
  typegate/tests/e2e/templates/templates_test.ts
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
Due: deno-fmt, deno-lint

wip: :fingers_crossed:
  typegate/tests/e2e/cli/dev_test.ts
Due: deno-fmt, deno-lint

feat: add shell_words module for parsing shell command arguments
  .ghjk/lock.json
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task/command.rs
  meta-cli/src/deploy/actors/task/command/python.rs
Due: none

fix: temorary hack
  dev/consts.ts
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/node/package.json
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  meta-cli/src/deploy/actors/discovery.rs
  meta-cli/src/deploy/actors/task_manager.rs
  typegate/tests/e2e/published/published_test.ts
Due: deno-fmt, deno-lint

fix: fail on no discoverey
  meta-cli/src/deploy/actors/task_manager.rs
  website/docs/guides/wasm-functions/index.mdx
Due: none

remove: un necessary feature on shell_words module
  meta-cli/src/deploy/actors/task.rs
Due: none

docs: add python typegraph test how-to doc
  website/docs/guides/test-your-typegraph/index.mdx
  website/shared/install/meta-cli.mdx
  website/shared/install/typegraph.mdx
Due: none

handle the error
  meta-cli/src/deploy/actors/task.rs
  meta-cli/src/deploy/actors/task/command.rs
  meta-cli/src/deploy/actors/task/command/python.rs
  meta-cli/src/utils/mod.rs
  meta-cli/src/utils/shell_words.rs
Due: none

change the license to MIT LICENSE
  meta-cli/src/utils/shell_words.rs
Due: none

use the right license
  meta-cli/src/utils/shell_words.rs
Due: none

fix the license, using the MIT License
  meta-cli/src/utils/shell_words.rs
Due: none
