Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/sqlalchemyorg/zimports/
    rev: v0.6.0
    hooks:
      - id: zimports
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.27.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust format
        language: system
        entry: bash -c 'cd typegate/native && cargo fmt --all && cd ../.. && cd typegraph/native && cargo fmt'
        pass_filenames: false
        types:
          - rust
        files: ^(typegate|typegraph)/native/
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,workers,src/typegraphs'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any,no-unused-vars --ignore=native'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/

freeze version
  Cargo.lock
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
Due: none

add tiberius workaround
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  meta-cli/Cargo.toml
  meta-cli/src/cli/dev.rs
  typegate/native/Cargo.toml
Due: none

Integrate deno codegen into CLI dev command
  meta-cli/src/cli/dev.rs
  meta-cli/src/codegen/mod.rs
Due: none

Create module crate::codegen::deno
  meta-cli/src/cli/codegen.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/codegen/mod.rs
Due: none

Update whiz config
  bindings/bindings.ts
  typegate/native/bindings/bindings.ts
  whiz.yaml
Due: deno-fmt, deno-lint

refact(cli:dev): Refactor codes
  meta-cli/src/cli/dev.rs
Due: none

(whiz): Run meta dev inside a venv
  whiz.yaml
Due: none

(cli/dev): Only reload typegraphs inside changed files
  meta-cli/src/cli/dev.rs
  meta-cli/src/codegen/deno.rs
Due: none

upgrade
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  meta-cli/Cargo.toml
  meta-cli/src/codegen/deno.rs
  meta-cli/src/ts/parser.rs
  meta-cli/src/typegraph.rs
  rust-toolchain.toml
Due: none

run clippy
  .pre-commit-config.yaml
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/ts/parser.rs
  typegate/native/src/lib.rs
  typegate/native/src/prisma/introspection.rs
  typegate/native/src/tests.rs
Due: rust-fmt

cleanup + fix push
  meta-cli/src/cli/dev.rs
  typegate/import_map.json
  typegate/native/bindings/bindings.ts
  typegate/src/engine.ts
  typegate/src/gq.ts
  typegate/src/graphql.ts
  typegate/src/runtimes/TypeGraphRuntime.ts
  typegate/src/typegraph.ts
  typegate/tests/graphql_test.ts
  whiz.yaml
Due: deno-fmt, deno-lint

cleanup + fix push
  meta-cli/src/cli/dev.rs
  typegate/import_map.json
  typegate/native/bindings/bindings.ts
  typegate/src/engine.ts
  typegate/src/gq.ts
  typegate/src/graphql.ts
  typegate/src/runtimes/TypeGraphRuntime.ts
  typegate/src/typegraph.ts
  typegate/tests/graphql_test.ts
  typegraph/poetry.lock
  typegraph/pyproject.toml
  whiz.yaml
Due: deno-fmt, deno-lint

fix(tests): Fix tests for typegraph
  meta-cli/src/cli/prisma.rs
  meta-cli/src/main.rs
  typegraph/tests/materializers/prisma/test_schema.py
Due: none

fix(tests): Fix tests for typegate/native
  Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/src/tests.rs
Due: rust-fmt

Enable tests to run outside a venv
  typegate/native/src/tests.rs
Due: rust-fmt
