Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/sqlalchemyorg/zimports/
    rev: v0.6.0
    hooks:
      - id: zimports
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.27.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust format
        language: system
        entry: bash -c 'cd typegate/native && cargo fmt --all && cd ../.. && cd typegraph/native && cargo fmt'
        pass_filenames: false
        types:
          - rust
        files: ^(typegate|typegraph)/native/
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,workers,src/typegraphs'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any,no-unused-vars --ignore=native'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/

Enable reading nested models (relationship)
  typegate/.vscode/launch.json
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/prisma_test.ts
  typegate/tests/typegraphs/prisma.py
  typegraph/typegraph/materializers/prisma/__init__.py
  typegraph/typegraph/materializers/prisma/utils.py
Due: deno-fmt, deno-lint

(typegraph): Move test into tests/
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/tests/materializers/__init__.py
  typegraph/tests/materializers/prisma/__init__.py
  typegraph/tests/materializers/prisma/schemas/one_to_many.schema
  typegraph/tests/materializers/prisma/test_schema.py
Due: none

(prisma runtime/API): New query/mutation generation functions
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/GraphQLRuntime.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/prisma_test.ts
  typegate/tests/typegraphs/prisma.py
  typegraph/typegraph/materializers/prisma/__init__.py
Due: deno-fmt, deno-lint

(prisma): Add example
  example/.vscode/launch.json
  example/examples/prisma_blog.py
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/prisma_test.ts
  typegraph/typegraph/materializers/prisma/__init__.py
Due: deno-fmt, deno-lint

(prisma): Add example
  example/.vscode/launch.json
  example/examples/prisma_blog.py
  example/poetry.lock
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/prisma_test.ts
  typegraph/typegraph/materializers/prisma/__init__.py
Due: deno-fmt, deno-lint

Add adminer service
  docker-compose.yml
Due: none

Add graph traversing queries at /typegate
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGateRuntime.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/dist/typegate.py
Due: deno-fmt, deno-lint

Add graph traversing queries at /typegate
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGateRuntime.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/dist/typegate.py
  typegraph/typegraph/materializers/deno.py
Due: deno-fmt, deno-lint

Use absolute imports in python
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/materializers/prisma/__init__.py
  typegraph/typegraph/materializers/prisma/schema.py
Due: none

Remove unnecessary file
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/test.sh
Due: none

Move debugpy to dev dependencies
  example/poetry.lock
  typegraph/poetry.lock
  typegraph/pyproject.toml
Due: none

Move debugpy to dev dependencies
  example/poetry.lock
Due: none

Remove old generate_* functions
  example/examples/caress.py
  typegate/native/bindings/bindings.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/typegraphs/prisma.py
  typegraph/typegraph/materializers/prisma/__init__.py
Due: deno-fmt, deno-lint

test deploy
  .gitlab-ci.yml
  typegate/Dockerfile
Due: none

Get types as a graph: a list of nodes and edges
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGateRuntime.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/dist/typegate.py
  typegraph/typegraph/graphs/builders.py
  typegraph/typegraph/materializers/deno.py
Due: deno-fmt, deno-lint

Get types as a graph: a list of nodes and edges
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGateRuntime.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/dist/typegate.py
  typegraph/typegraph/graphs/builders.py
Due: deno-fmt, deno-lint

Deploy cloud version
  .gitlab-ci.yml
  .gitmodules
  typegate/.env.defaults
  typegate/.gitignore
  typegate/Dockerfile
  typegate/native/Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/bindings/bindings.ts
  typegate/native/src/prisma/engine.rs
  typegate/src/config.ts
  typegate/src/main.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/native/Cargo.toml
  website/package.json
  website/pnpm-lock.yaml
Due: rust-fmt, deno-fmt, deno-lint

test variables
  .gitlab-ci.yml
Due: none
