Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
        exclude: .vscode/.*\.json
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
        exclude: typegate/deno.lock
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.254"
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.42.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
        args: ["--locked"]
      - id: clippy
        args: ["--locked", "--", "--deny", "warnings"]
  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/
      - id: version
        name: "Lock versions"
        always_run: true
        language: system
        entry: bash -c 'deno run -A dev/lock.ts'
        pass_filenames: false
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
      - id: insert-license
        name: "License header python"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=#"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - python
        files: ^typegraph/
      - id: insert-license
        name: "License header rust"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - rust
        files: ^(typegate|libs|meta-cli)/
      - id: insert-license
        name: "License header deno"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
        files: ^(typegate|dev)/
      - id: insert-license
        name: "License header typescript"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
          - tsx
        files: ^website/

Fix typos, remove old code
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/_loader.rs
Due: none

Fix either schema (#262)
  typegate/src/runtimes/typegraph.ts
  typegate/tests/introspection/__snapshots__/union_either_test.ts.snap
  typegate/tests/introspection/union_either.py
  typegate/tests/introspection/union_either_test.ts
  typegate/tests/type_nodes/__snapshots__/either_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/either_test.ts
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

Refactor WatchMode
  meta-cli/src/cli/deploy.rs
Due: none

handle empty list
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

Refactor WatchMode: smaller functions
  meta-cli/src/cli/deploy.rs
Due: none

add test
  typegate/tests/common_utils/proposition_test.ts
Due: deno-fmt, deno-lint

ensure createUrl behavior
  typegate/tests/common_utils/url_test.ts
Due: deno-fmt, deno-lint

add mutation/query proposition
  typegate/src/planner/mod.ts
  typegate/tests/common_utils/proposition_test.ts
Due: deno-fmt, deno-lint

test propositions
  typegate/tests/simple/error_message.py
  typegate/tests/simple/error_message_test.ts
Due: deno-fmt, deno-lint

fix comments
  typegate/src/planner/mod.ts
  typegate/tests/common_utils/url_test.ts
Due: deno-fmt, deno-lint

add check
  typegate/src/runtimes/deno/worker.ts
Due: deno-fmt, deno-lint

Reload typegraph when a dependency is modified
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/dependency_graph.rs
  meta-cli/src/typegraph/mod.rs
Due: none

Fix dependency watching
  meta-cli/src/cli/deploy.rs
  meta-cli/src/codegen/deno.rs
Due: none

add check (#269)
  typegate/src/runtimes/deno/worker.ts
Due: deno-fmt, deno-lint

generalize and move to utils
  typegate/src/planner/mod.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

fix typos
  typegate/src/planner/mod.ts
Due: deno-fmt, deno-lint

init tests
  typegate/tests/type_nodes/array_of_optional.py
  typegate/tests/type_nodes/array_of_optional_test.ts
Due: deno-fmt, deno-lint

allow array of optional objects
  typegate/src/typegraph.ts
  typegate/tests/type_nodes/array_of_optional.py
  typegate/tests/type_nodes/array_of_optional_test.ts
Due: deno-fmt, deno-lint

test scalars
  typegate/tests/type_nodes/array_of_optional_test.ts
Due: deno-fmt, deno-lint

feat: deno coverage and small fix
  .github/workflows/tests.yml
  .gitignore
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/config.rs
  typegraph/poetry.lock
  typegraph/pyproject.toml
  typegraph/typegraph/utils/loaders.py
  website/src/components/MiniQL/GraphiQLInterface.tsx
  website/use-cases/graphql-server/index.mdx
Due: es-lint

chore: trigger test
  typegate/src/main.ts
  website/src/components/MiniQL/GraphiQLInterface.tsx
Due: deno-fmt, deno-lint, es-lint

fix: tests
  .github/workflows/tests.yml
  .gitignore
Due: none

feat: deno coverage and small fixes (#272)
  .github/workflows/tests.yml
  .gitignore
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/config.rs
  typegate/src/main.ts
  typegraph/poetry.lock
  typegraph/pyproject.toml
  typegraph/typegraph/utils/loaders.py
  website/src/components/MiniQL/GraphiQLInterface.tsx
  website/use-cases/graphql-server/index.mdx
Due: deno-fmt, deno-lint, es-lint

allow array of optional union/either
  typegate/src/typecheck.ts
  typegate/tests/type_nodes/array_of_optional_test.ts
Due: deno-fmt, deno-lint

init test
  typegate/src/typegraph/visitor.ts
  typegate/tests/prisma/prisma_edgecases.py
  typegate/tests/prisma/prisma_edgecases_test.ts
Due: deno-fmt, deno-lint

Fix migrations, watch deps
  libs/common/src/archive.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/config.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader/discovery.rs
  meta-cli/src/typegraph/postprocess.rs
  meta-cli/src/typegraph/push.rs
  typegate/native/src/runtimes/prisma/migration.rs
  typegate/native/src/runtimes/prisma/mod.rs
  typegate/src/engine.ts
  typegate/src/hooks.ts
  typegate/src/log.ts
  typegate/src/register.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/prisma_migration.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typecheck.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
  typegate/tests/prisma_migrate/prisma_migrate_test.ts
  typegate/tests/utils.ts
  typegate/tests/utils/memory_register.ts
  typegate/tests/utils/single_register.ts
Due: deno-fmt, deno-lint

Fix pre-commit hooks
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/loader/discovery.rs
  meta-cli/src/typegraph/loader/mod.rs
  typegate/native/src/runtimes/prisma/migration.rs
Due: none

Address comment
  meta-cli/src/cli/deploy.rs
Due: none

Version check on push
  meta-cli/src/typegraph/push.rs
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
Due: deno-fmt, deno-lint

Add tracing to debug github actions
  meta-cli/src/codegen/deno.rs
Due: none

Enable logging for cargo test
  meta-cli/src/codegen/deno.rs
  meta-cli/src/logger.rs
  meta-cli/src/main.rs
Due: none

Fix test paths
  meta-cli/src/codegen/deno.rs
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__codegen.py.snap
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__enum_node.py.snap
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__union_node.py.snap
Due: none

MET-112: gate better error message for invalid operation type (#267)
  typegate/deno.json
  typegate/deno.lock
  typegate/src/planner/mod.ts
  typegate/src/utils.ts
  typegate/tests/common_utils/proposition_test.ts
  typegate/tests/common_utils/url_test.ts
  typegate/tests/simple/error_message.py
  typegate/tests/simple/error_message_test.ts
Due: deno-fmt, deno-lint

feat: add new command
  .pre-commit-config.yaml
  Cargo.lock
  dev/lock.ts
  dev/lock.yml
  examples/poetry.lock
  examples/templates/new/README.md
  examples/templates/new/api/example.py
  examples/templates/new/compose.yml
  examples/templates/new/metatype.yaml
  examples/templates/new/pyproject.toml
  meta-cli/Cargo.toml
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/new.rs
  typegraph/poetry.lock
  typegraph/pyproject.toml
  website/docs/reference/typegraph/pydoc.json
  website/docs/reference/typegraph/typegraph/graph/typegraph.md
  website/docs/reference/typegraph/typegraph/importers/base/importer.md
  website/docs/reference/typegraph/typegraph/providers/prisma/relations.md
  website/docs/reference/typegraph/typegraph/providers/prisma/schema.md
  website/docs/reference/typegraph/typegraph/runtimes/deno.md
Due: deno-fmt, deno-lint

feat: add more use cases
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .vscode/settings.json
  dev/Dockerfile
  dev/lock.yml
  website/docusaurus.config.js
  website/metatype.yaml
  website/packages/code-loader.js
  website/packages/filename-loader.js
  website/src/components/MiniQL/GraphiQLInterface.tsx
  website/src/components/TGExample/index.tsx
  website/use-cases/automatic-crud-validation/image.drawio.svg
  website/use-cases/automatic-crud-validation/index.mdx
  website/use-cases/backend-for-frontend/image.drawio.svg
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/crud-data-validation/index.mdx
  website/use-cases/faas-runner/image.drawio.svg
  website/use-cases/faas-runner/index.mdx
  website/use-cases/faas-runner/query.gql
  website/use-cases/faas-runner/typegraph.py
  website/use-cases/graphql-server/image.drawio.svg
  website/use-cases/graphql-server/index.mdx
  website/use-cases/graphql-server/query.gql
  website/use-cases/graphql-server/typegraph.py
  website/use-cases/iam-provider/image.drawio.svg
  website/use-cases/iam-provider/index.mdx
  website/use-cases/iam-provider/query.gql
  website/use-cases/iam-provider/typegraph.py
  website/use-cases/microservice-orchestration/image.drawio.svg
  website/use-cases/microservice-orchestration/index.mdx
  website/use-cases/microservice-orchestration/query.gql
  website/use-cases/microservice-orchestration/typegraph.py
  website/use-cases/orm-for-the-edge/index.mdx
  website/use-cases/programmable-api-gateway/image.drawio.svg
  website/use-cases/programmable-api-gateway/index.mdx
  website/use-cases/programmable-api-gateway/query.gql
  website/use-cases/programmable-api-gateway/typegraph.py
Due: es-lint

chore: prepare upgrade
  Cargo.lock
  dev/lock.yml
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
  website/docs/concepts/typegraph/index.mdx
  website/docs/guides/upload-files-s3/index.mdx
  website/docs/reference/typegate/prisma-migration/objects.md
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegate/typegate/objects.md
  website/docs/tutorials/adding-more-runtimes/index.mdx
  website/docs/tutorials/import-your-api-blocks/index.mdx
  website/docs/tutorials/your-chat-app/index.mdx
  website/docs/tutorials/your-first-typegraph/index.mdx
  website/package.json
  website/pnpm-lock.yaml
Due: none

prepare merge
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none
