Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$

wip: try ci fix
  .github/workflows/tests.yml
  dev/Dockerfile
  dev/lock.yml
  ghjk.ts
  typegate/src/runtimes/wasm.ts
Due: deno-fmt, deno-lint

feat: add pyrt bin inline
  .ghjk/lock.json
  .gitignore
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  ghjk.ts
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/mdk_rust/stubs.rs
  libs/metagen/src/tests/mod.rs
  libs/pyrt_wit_wire/pyrt/__init__.py
  libs/pyrt_wit_wire/pyrt/exports/__init__.py
  libs/pyrt_wit_wire/pyrt/exports/mat_wire.py
  libs/pyrt_wit_wire/pyrt/imports/__init__.py
  libs/pyrt_wit_wire/pyrt/imports/shared.py
  libs/pyrt_wit_wire/pyrt/imports/typegate_wire.py
  libs/pyrt_wit_wire/pyrt/types.py
  typegate/engine/Cargo.toml
  typegate/engine/build.rs
  typegate/engine/src/lib.rs
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/src/runtimes/Runtime.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegraph/python/pyproject.toml
Due: deno-fmt, deno-lint

refactor: `python_wasi` -> `python`
  libs/common/src/typegraph/runtimes/mod.rs
  libs/pyrt_wit_wire/main.py
  typegate/engine/build.rs
  typegate/src/runtimes/mod.ts
  typegate/src/runtimes/python.ts
  typegate/src/runtimes/python_wasi.ts
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/src/typegraph/types.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/planner/__snapshots__/planner_test.ts.snap
  typegate/tests/runtimes/python/py/hello.py
  typegate/tests/runtimes/python/py/nested/dep.py
  typegate/tests/runtimes/python/python.py
  typegate/tests/runtimes/python/python.ts
  typegate/tests/runtimes/python/python_test.ts
  typegate/tests/utils/bindings_test.ts
  typegraph/core/src/conversion/runtimes.rs
Due: deno-fmt, deno-lint

wip: import module support
  .ghjk/.gitignore
  .ghjk/lock.json
  Cargo.lock
  typegate/engine/Cargo.toml
  typegate/engine/src/lib.rs
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/src/runtimes/python.ts
Due: deno-fmt, deno-lint

remove logging
  README.md
  typegate/src/runtimes/prisma/prisma.ts
  whiz.yaml
Due: deno-fmt, deno-lint

attempt to solve the website build error
  website/src/theme/DocItem/Paginator/index.js
Due: none

restore all website changes
  .ghjk/lock.json
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/MiniQL/index.tsx
  website/src/theme/DocItem/Paginator/index.js
Due: es-lint

feat(docs): add draft comparison table
  website/docs/concepts/architecture/index.mdx
  website/docs/concepts/comparisons/index.mdx
  website/shared/projects/first-project.mdx
Due: none

fix: rebase bugs
  .github/workflows/tests.yml
  Cargo.lock
  dev/Dockerfile
  poetry.lock
  typegate/engine/Cargo.toml
  typegate/engine/src/runtimes/wit_wire.rs
Due: none

wip: code docs
  libs/metagen/src/config.rs
  libs/metagen/src/lib.rs
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/utils.rs
Due: none

feat(metagen): `mdk_rs` finalization
  Cargo.toml
  libs/metagen/src/lib.rs
  libs/metagen/src/mdk/mdk.wit
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/mdk_rust/static/Cargo.toml
  libs/metagen/src/mdk_rust/static/gen.rs
  libs/metagen/src/mdk_rust/static/lib.rs
  libs/metagen/src/mdk_rust/static/mod.rs
  libs/metagen/src/mdk_rust/stubs.rs
  libs/metagen/src/tests/mod.rs
  libs/metagen/tests/mat_rust/gen.rs
  libs/metagen/tests/mat_rust/lib.rs
  meta-cli/src/cli/gen.rs
Due: none

refactor: `WasmRuntime.reflected`
  .gitignore
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  ghjk.ts
  libs/common/src/typegraph/runtimes/wasm.rs
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/mdk_rust/static/gen.rs
  libs/pyrt_wit_wire/main.py
  libs/pyrt_wit_wire/wit/pyrt.wit
  typegate/engine/build.rs
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/src/runtimes/python.ts
  typegate/src/runtimes/wasm.ts
  typegate/src/runtimes/wasm/reflected.ts
  typegate/src/runtimes/wasm/wire.ts
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/src/typegraph/types.ts
  typegate/tests/runtimes/wasm/wasm.ts
  typegate/tests/runtimes/wasm_reflected/rust.wasm
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.lock
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegate/tests/runtimes/wasm_reflected/rust/build.sh
  typegate/tests/runtimes/wasm_reflected/rust/src/lib.rs
  typegate/tests/runtimes/wasm_reflected/rust/wit/example.wit
  typegate/tests/runtimes/wasm_reflected/wasm_reflected.py
  typegate/tests/runtimes/wasm_reflected/wasm_reflected.ts
  typegate/tests/runtimes/wasm_reflected/wasm_reflected_test.ts
  typegate/tests/runtimes/wasm_reflected/wasm_sync_test.ts
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
  typegraph/core/src/conversion/runtimes.rs
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/runtimes/wasm.rs
  typegraph/core/src/utils/postprocess/python_rt.rs
  typegraph/core/src/utils/postprocess/wasm_rt.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/sdk/src/runtimes/wasm.ts
  typegraph/python/typegraph/runtimes/wasm.py
  website/static/specs/0.0.3.json
  whiz.yaml
  wit/wit-wire.wit
Due: deno-fmt, deno-lint

wip: refactor mdk_rs for wit_wire
  Cargo.lock
  libs/common/src/typegraph/runtimes/wasm.rs
  libs/metagen/Cargo.toml
  libs/metagen/src/lib.rs
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/mdk_rust/static/gen.rs
  libs/metagen/src/mdk_rust/stubs.rs
  libs/metagen/src/mdk_rust/types.rs
  libs/metagen/tests/mat_rust/lib.rs
  libs/metagen/tests/placeholder
  libs/metagen/tests/tg.ts
  typegate/tests/metatype.yml
  typegate/tests/runtimes/wasm_wire/wasm_wire.ts
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
  typegraph/core/src/conversion/runtimes.rs
Due: deno-fmt, deno-lint

feat: Enable batch prisma queries in the typegate runtime (#682)
  .ghjk/deno.lock
  .ghjk/lock.json
  README.md
  dev-tools/package.json
  dev-tools/ts-language-server/package.json
  dev-tools/vscode-metatype-support/package.json
  ghjk.ts
  typegate/src/runtimes/prisma/prisma.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
  typegate/tests/runtimes/typegate/typegate_prisma_test.ts
  whiz.yaml
Due: deno-fmt, deno-lint

fix: address feedback
  Cargo.toml
  libs/metagen/src/mdk_rust/mod.rs
  libs/metagen/src/mdk_rust/static/lib.rs
  libs/metagen/src/mdk_rust/static/mdk.rs
  libs/metagen/tests/mat_rust/mdk.rs
  typegate/engine/src/runtimes/prisma/engine_import.rs
  typegate/src/runtimes/mod.ts
  typegate/tests/runtimes/wasm_wire/rust.wasm
  typegate/tests/runtimes/wasm_wire/rust/build.sh
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
Due: deno-fmt, deno-lint

fix: broken container ignore
  dev/Dockerfile.dockerignore
  typegate/tests/runtimes/wasm_reflected/rust.wasm
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegate/tests/runtimes/wasm_reflected/rust/build.sh
  typegate/tests/runtimes/wasm_wire/rust.wasm
  typegate/tests/runtimes/wasm_wire/rust/Cargo.toml
  typegate/tests/runtimes/wasm_wire/rust/mdk.rs
Due: none

test: snapshot updates
  Cargo.lock
  typegate/tests/e2e/typegraph/__snapshots__/multiple_runtimes_test.ts.snap
  typegate/tests/runtimes/graphql/__snapshots__/graphql_test.ts.snap
  typegate/tests/runtimes/s3/__snapshots__/s3_test.ts.snap
  typegate/tests/runtimes/temporal/__snapshots__/temporal_test.ts.snap
  typegate/tests/utils/bindings_test.ts
  typegraph/core/src/snapshots/typegraph_core__tests__successful_serialization.snap
Due: deno-fmt, deno-lint

refactor(xtask): keep deno task
  Cargo.lock
  dev/test.ts
  libs/xtask/Cargo.toml
  libs/xtask/src/deno.rs
  libs/xtask/src/main.rs
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  whiz.yaml
Due: deno-fmt, deno-lint

chore(xtask)remove xtask/codegen
  Cargo.lock
  Cargo.toml
  dev/test.ts
  libs/xtask/Cargo.toml
  libs/xtask/src/codegen/jsonschema.rs
  libs/xtask/src/codegen/mod.rs
  libs/xtask/src/codegen/typescript.rs
  libs/xtask/src/deno.rs
  libs/xtask/src/main.rs
  whiz.yaml
Due: deno-fmt, deno-lint

fix: cleanups
  libs/metagen/src/mdk_rust/stubs.rs
  libs/metagen/src/tests/fixtures.rs
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
Due: none

refactor(libs,common): remove codegen cfg + tg id field
  libs/common/src/typegraph/mod.rs
  libs/common/src/typegraph/parameter_transform.rs
  libs/common/src/typegraph/runtimes/deno.rs
  libs/common/src/typegraph/runtimes/graphql.rs
  libs/common/src/typegraph/runtimes/http.rs
  libs/common/src/typegraph/runtimes/mod.rs
  libs/common/src/typegraph/runtimes/prisma.rs
  libs/common/src/typegraph/runtimes/python.rs
  libs/common/src/typegraph/runtimes/random.rs
  libs/common/src/typegraph/runtimes/s3.rs
  libs/common/src/typegraph/runtimes/temporal.rs
  libs/common/src/typegraph/runtimes/wasm.rs
  libs/common/src/typegraph/types.rs
  typegraph/core/src/typegraph.rs
Due: none

refactor: split wasm rt into two
  libs/common/src/typegraph/runtimes/mod.rs
  libs/common/src/typegraph/runtimes/wasm.rs
  typegate/src/runtimes/mod.ts
  typegate/src/runtimes/python.ts
  typegate/src/runtimes/wasm.ts
  typegate/src/runtimes/wasm/wire.ts
  typegate/src/runtimes/wasm_reflected.ts
  typegate/src/runtimes/wasm_wire.ts
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/src/typegraph/types.ts
  typegate/tests/runtimes/python/python_test.ts
  typegate/tests/runtimes/wasm_wire/wasm_sync_test.ts
  typegraph/core/src/conversion/runtimes.rs
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/utils/postprocess/wasm_rt.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/pnpm-lock.yaml
  typegraph/node/sdk/src/runtimes/wasm.ts
  typegraph/python/typegraph/runtimes/wasm.py
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

feat!(pyrt): `import_function` materializer support
  ghjk.ts
  libs/pyrt_wit_wire/main.py
  typegate/engine/runtime.d.ts
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/src/engine/query_engine.ts
  typegate/src/runtimes/Runtime.ts
  typegate/src/runtimes/python.ts
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/src/services/auth/protocols/oauth2.ts
  typegate/src/services/graphql_service.ts
  typegate/tests/runtimes/python/py/hello.py
  typegate/tests/runtimes/python/python.py
  typegate/tests/runtimes/python/python.ts
  typegate/tests/runtimes/python/python_test.ts
Due: deno-fmt, deno-lint

docs: inline explanations
  libs/pyrt_wit_wire/main.py
Due: none

feat(pyrt)!: `import_function` materializer support (#699)
  ghjk.ts
  libs/pyrt_wit_wire/main.py
  typegate/engine/runtime.d.ts
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/src/engine/query_engine.ts
  typegate/src/runtimes/Runtime.ts
  typegate/src/runtimes/python.ts
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/src/services/auth/protocols/oauth2.ts
  typegate/src/services/graphql_service.ts
  typegate/tests/runtimes/python/py/hello.py
  typegate/tests/runtimes/python/python.py
  typegate/tests/runtimes/python/python.ts
  typegate/tests/runtimes/python/python_test.ts
Due: deno-fmt, deno-lint

fix: update poetry lockfile
  typegraph/python/poetry.lock
Due: none

fix: CI issues
  ghjk.ts
  libs/metagen/src/mdk_rust/mod.rs
  typegate/tests/metatype.yml
Due: none

wip(Core-SDK): globs and dirs for deno-rt and python-rt
  typegraph/core/src/utils/fs_host.rs
  typegraph/core/src/utils/postprocess/deno_rt.rs
  typegraph/core/src/utils/postprocess/python_rt.rs
Due: none

fix: minor bugs
  .ghjk/lock.json
  ghjk.ts
  libs/metagen/src/mdk_rust/static/Cargo.toml
  libs/metagen/tests/mat_rust/lib.rs
  typegate/engine/build.rs
  typegate/src/typegate/artifacts/mod.ts
  typegate/tests/runtimes/wasm_wire/rust/Cargo.toml
Due: deno-fmt, deno-lint

fix: ci breakage
  .github/workflows/tests.yml
  typegate/engine/build.rs
Due: none

wip(docs): change table params and add legend
  website/docs/concepts/comparisons/index.mdx
  website/shared/install/meta-cli.mdx
Due: none

wip: try fix
  typegate/tests/runtimes/wasm_reflected/wasm_sync_test.ts
  typegate/tests/runtimes/wasm_wire/wasm_sync_test.ts
Due: deno-fmt, deno-lint

fix merge confusions
  typegate/src/typegate/artifacts/local.ts
  typegate/src/typegate/artifacts/mod.ts
  typegraph/node/sdk/src/tg_deploy.ts
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

chore(docs): add low code platforms section
  website/docs/concepts/comparisons/index.mdx
Due: none

wip(core SDK): debug print meta artifacts
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/utils/test.ts
  typegraph/core/src/utils/fs_host.rs
Due: deno-fmt, deno-lint

chore(test): prepare python_rt and deno_rt tests
  typegate/tests/runtimes/deno/deno_globs.py
  typegate/tests/runtimes/python_wasi/python_globs.ts
Due: deno-fmt, deno-lint

fix cleanups
  .vscode/settings.json
  typegate/deno.lock
  typegate/import_map.json
  typegate/src/typegate/artifacts/mod.ts
  typegate/src/typegate/mod.ts
  typegate/tests/utils/mod.ts
  typegate/tests/utils/test.ts
  typegraph/python/typegraph/graph/tg_artifact_upload.py
Due: deno-fmt, deno-lint

add ghjk test task
  .ghjk/lock.json
  ghjk.ts
Due: none
