Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$

feat(cli,sdk): better error messages (#689)
  .ghjk/lock.json
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  examples/deploy/wasi/rust.wasm
  examples/deploy/wasm/rust.wasm
  libs/common/src/graphql.rs
  typegate/engine/src/runtimes/wasm/conversion.rs
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/python/typegraph/graph/tg_deploy.py
Due: none

fix: bump pnpm
  .ghjk/lock.json
  Cargo.lock
  dev/lock.yml
  ghjk.ts
Due: none

docs: improve `/guides/external-functions` (#677)
  .git-branches.toml
  .gitignore
  examples/metatype.yaml
  examples/typegraphs/authentication.py
  examples/typegraphs/authentication.ts
  examples/typegraphs/cors.py
  examples/typegraphs/cors.ts
  examples/typegraphs/example_rest.py
  examples/typegraphs/example_rest.ts
  examples/typegraphs/files-upload.py
  examples/typegraphs/files-upload.ts
  examples/typegraphs/func-ctx.py
  examples/typegraphs/func-ctx.ts
  examples/typegraphs/func-gql.py
  examples/typegraphs/func-gql.ts
  examples/typegraphs/math.py
  examples/typegraphs/math.ts
  examples/typegraphs/package.json
  examples/typegraphs/pnpm-lock.yaml
  examples/typegraphs/policies.py
  examples/typegraphs/policies.ts
  examples/typegraphs/scripts/createVote.ts
  examples/typegraphs/scripts/fib.ts
  ghjk.ts
  libs/metagen/src/mdk_rust/mod.rs
  meta-cli/src/cli/gen.rs
  typegraph/node/sdk/src/types.ts
  website/docs/guides/external-functions/ctx.graphql
  website/docs/guides/external-functions/gql.graphql
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/files-upload/index.mdx
  website/docs/guides/rest/index.mdx
  website/docs/guides/securing-requests/authentication.graphql
  website/docs/guides/securing-requests/index.mdx
  website/docs/guides/securing-requests/policies.graphql
  website/docs/reference/ecosystem/index.mdx
  website/shared/cors/index.mdx
  website/shared/s3/files.graphql
  website/shared/s3/index.mdx
  whiz.yaml
Due: none

feat: use pnpm workspace for meta-lsp
  meta-lsp/pnpm-lock.yaml
  meta-lsp/pnpm-workspace.yaml
  meta-lsp/ts-language-server/pnpm-lock.yaml
Due: none

chore(test): save modified test
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

fix(ci): set a global env var for NPM_CONFIG_REGISTRY
  .github/workflows/tests.yml
Due: none

fix: website and headline (#691)
  .ghjk/deno.lock
  .ghjk/lock.json
  .github/pull_request_template.md
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  ghjk.ts
  meta-cli/Cargo.toml
  meta-lsp/pnpm-lock.yaml
  meta-lsp/pnpm-workspace.yaml
  meta-lsp/ts-language-server/pnpm-lock.yaml
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  website/docusaurus.config.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/css/custom.scss
  website/tailwind.config.js
  website/tsconfig.json
Due: none

fix: npm registry config
  .github/workflows/tests.yml
Due: none

fix(gh-tests): Fix local npm registry config (#692)
  .github/workflows/tests.yml
Due: none

feat(cli): timeout loader process
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/loader/mod.rs
Due: none

chore(test): restructure deno runtime tests
  meta-cli/src/codegen/deno.rs
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/worker.ts
  typegate/src/typegate/artifacts/local.ts
  typegate/src/typegate/artifacts/mod.ts
  typegate/src/typegate/mod.ts
  typegate/tests/runtimes/deno/deno.py
  typegate/tests/runtimes/deno/deno_dep.py
  typegate/tests/runtimes/deno/deno_reload.py
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

update pnpm-lock
  website/pnpm-lock.yaml
Due: none

fix merge confusions
  dev-tools/package.json
  dev-tools/ts-language-server/package.json
  dev-tools/vscode-metatype-support/package.json
  meta-lsp/pnpm-lock.yaml
  meta-lsp/ts-language-server/pnpm-lock.yaml
Due: none

feat(cli): enable set timeout from env + docs
  meta-cli/src/typegraph/loader/mod.rs
  website/docs/reference/meta-cli/available-commands.mdx
Due: none

feat(website): remove unnecessary awaits + fix random + add title to importing-external-modules
  examples/typegraphs/faas-runner.ts
  examples/typegraphs/iam-provider.ts
  examples/typegraphs/index.ts
  examples/typegraphs/jwt.ts
  examples/typegraphs/math.ts
  examples/typegraphs/microservice-orchestration.ts
  examples/typegraphs/oauth2.ts
  examples/typegraphs/policies.ts
  examples/typegraphs/prisma-runtime.ts
  examples/typegraphs/prisma.ts
  examples/typegraphs/programmable-api-gateway.ts
  examples/typegraphs/quick-start-project.ts
  examples/typegraphs/random-field.py
  examples/typegraphs/random-field.ts
  examples/typegraphs/rate.ts
  examples/typegraphs/reduce.ts
  examples/typegraphs/rest.ts
  examples/typegraphs/roadmap-policies.ts
  examples/typegraphs/roadmap-random.ts
  examples/typegraphs/triggers.ts
  website/docs/guides/import-external-modules/index.mdx
  website/docs/reference/runtimes/random/index.mdx
Due: none

fix(typegraphs): fix typegraph comparison
  examples/typegraphs/injections.ts
  examples/typegraphs/random-field.py
  examples/typegraphs/random-field.ts
  examples/typegraphs/temporal.ts
Due: none

docs: improve `docs/reference/types` (#685)
  .ghjk/lock.json
  examples/typegraphs/faas-runner.ts
  examples/typegraphs/iam-provider.ts
  examples/typegraphs/index.ts
  examples/typegraphs/injections.py
  examples/typegraphs/injections.ts
  examples/typegraphs/jwt.ts
  examples/typegraphs/math.ts
  examples/typegraphs/microservice-orchestration.ts
  examples/typegraphs/oauth2.ts
  examples/typegraphs/policies.ts
  examples/typegraphs/prisma-runtime.ts
  examples/typegraphs/prisma.ts
  examples/typegraphs/programmable-api-gateway.ts
  examples/typegraphs/quick-start-project.ts
  examples/typegraphs/random-field.py
  examples/typegraphs/random-field.ts
  examples/typegraphs/rate.ts
  examples/typegraphs/reduce.ts
  examples/typegraphs/rest.ts
  examples/typegraphs/roadmap-policies.ts
  examples/typegraphs/roadmap-random.ts
  examples/typegraphs/temporal.ts
  examples/typegraphs/triggers.ts
  website/docs/concepts/features-overview/index.mdx
  website/docs/guides/import-external-modules/index.mdx
  website/docs/reference/runtimes/random/index.mdx
  website/docs/reference/types/importers/index.mdx.disabled
  website/docs/reference/types/index.mdx
  website/docs/reference/types/injections.mdx
  website/docs/reference/types/reducers.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/shared/install/typegate.mdx
  website/src/components/ChoicePicker/index.tsx
  website/src/components/SDKTabs/index.tsx
  website/src/states/sdk.ts
  website/static/specs/0.0.3.json
Due: es-lint

fix(gate): fix deno import caching previous module with same name
  .ghjk/lock.json
  typegate/src/runtimes/deno/worker.ts
  typegate/src/typegate/artifacts/local.ts
  typegate/src/typegate/artifacts/mod.ts
  typegate/src/typegate/artifacts/shared.ts
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

feat(cli): timeout loader process (#693)
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/loader/mod.rs
  website/docs/reference/meta-cli/available-commands.mdx
Due: none

update ghjk dev task
  .ghjk/deno.lock
  ghjk.ts
Due: none

fix: do not override log level when no verbosity flag is present
  meta-cli/src/main.rs
Due: none

fix: Do not override log level when no verbosity flag is present (#694)
  meta-cli/src/main.rs
Due: none

chore(gate): bump wasmtime to 20.0.0
  Cargo.lock
  typegate/engine/Cargo.toml
  typegate/engine/src/runtimes/wasm/conversion.rs
Due: none

chore(sdk): bump wasmtime-bindgen to 0.24.0
  Cargo.lock
  typegraph/core/Cargo.toml
  typegraph/core/src/lib.rs
  typegraph/core/wit/typegraph.wit
Due: none

chore(sdk,gate): bump wasmtime to 20.0.0 and wit-bindgen to 0.24.0 (#695)
  Cargo.lock
  typegate/engine/Cargo.toml
  typegate/engine/src/runtimes/wasm/conversion.rs
  typegraph/core/Cargo.toml
  typegraph/core/src/lib.rs
  typegraph/core/wit/typegraph.wit
Due: none

feat: change headline
  .ghjk/lock.json
  Cargo.lock
  dev/lock.yml
  meta-cli/Cargo.toml
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  website/docusaurus.config.js
  website/src/pages/index.tsx
Due: es-lint

fix(cli): remove extra quotation from path variable in denoArtifact
  meta-cli/src/codegen/deno.rs
  typegraph/core/src/conversion/runtimes.rs
  typegraph/core/src/utils/postprocess/deno_rt.rs
Due: none

fix(test): update tg snapshots and tests using denoruntime with module import
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/internal/internal.py
  typegate/tests/internal/internal_test.ts
  typegate/tests/schema_validation/circular.py
  typegate/tests/schema_validation/circular_test.ts
  typegate/tests/type_nodes/either_node.py
  typegate/tests/type_nodes/either_test.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_node_attr.py
  typegate/tests/type_nodes/union_node_attr_test.ts
  typegate/tests/type_nodes/union_node_quantifier.py
  typegate/tests/type_nodes/union_node_quantifier_test.ts
  typegate/tests/type_nodes/union_test.ts
  typegraph/node/pnpm-lock.yaml
Due: deno-fmt, deno-lint

refactor(SDK): refactor artifact upload inside tg_deploy TS SDK
  typegraph/node/sdk/src/tg_deploy.ts
Due: none

wip(docs): add table and artifact upload protocol arch
  .ghjk/lock.json
  website/docs/concepts/architecture/index.mdx
  website/docs/concepts/comparisons/index.mdx
Due: none

chore(ci): add deno_test.ts to code coverage
  .github/workflows/tests.yml
Due: none

fix(CI): npm package caching issue
  .github/workflows/tests.yml
Due: none

wip(SDK core): support globs deno-runtime
  Cargo.lock
  typegraph/core/Cargo.toml
  typegraph/core/src/utils/fs_host.rs
  typegraph/core/src/utils/postprocess/deno_rt.rs
Due: none

chore(CI): revert CI to main
  .github/workflows/tests.yml
  typegate/tests/runtimes/deno/deno_dep.mjs
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

feat: Upload `DenoRuntime` artifacts and deps (#674)
  .ghjk/lock.json
  libs/common/src/typegraph/runtimes/deno.rs
  meta-cli/src/codegen/deno.rs
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/deno/worker.ts
  typegate/src/typegate/artifacts/local.ts
  typegate/src/typegate/artifacts/mod.ts
  typegate/src/typegate/artifacts/shared.ts
  typegate/src/typegate/mod.ts
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/internal/internal.py
  typegate/tests/internal/internal_test.ts
  typegate/tests/runtimes/deno/deno.py
  typegate/tests/runtimes/deno/deno_dep.mjs
  typegate/tests/runtimes/deno/deno_dep.py
  typegate/tests/runtimes/deno/deno_reload.py
  typegate/tests/runtimes/deno/deno_test.ts
  typegate/tests/runtimes/deno/deno_typescript.ts
  typegate/tests/schema_validation/circular.py
  typegate/tests/schema_validation/circular_test.ts
  typegate/tests/type_nodes/either_node.py
  typegate/tests/type_nodes/either_test.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_node_attr.py
  typegate/tests/type_nodes/union_node_attr_test.ts
  typegate/tests/type_nodes/union_node_quantifier.py
  typegate/tests/type_nodes/union_node_quantifier_test.ts
  typegate/tests/type_nodes/union_test.ts
  typegraph/core/src/conversion/runtimes.rs
  typegraph/core/src/global_store.rs
  typegraph/core/src/runtimes/deno.rs
  typegraph/core/src/runtimes/mod.rs
  typegraph/core/src/utils/fs_host.rs
  typegraph/core/src/utils/postprocess/deno_rt.rs
  typegraph/core/src/utils/postprocess/mod.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/pnpm-lock.yaml
  typegraph/node/sdk/src/runtimes/deno.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/python/typegraph/runtimes/deno.py
Due: deno-fmt, deno-lint

refactor: rename all wasmedge ref. to wasm
  examples/deploy/deploy.mjs
  typegate/src/runtimes/wasm.ts
Due: deno-fmt, deno-lint

refactor(gate): wasi 0.2 pyrt
  .ghjk/lock.json
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  deno.jsonc.disabled
  deno.lock
  ghjk.ts
  libs/pyrt_component/main.py
  libs/pyrt_component/pyproject.toml
  libs/pyrt_component/pyrt/__init__.py
  libs/pyrt_component/pyrt/exports/__init__.py
  libs/pyrt_component/pyrt/exports/mat_wire.py
  libs/pyrt_component/pyrt/imports/__init__.py
  libs/pyrt_component/pyrt/imports/shared.py
  libs/pyrt_component/pyrt/imports/typegate_wire.py
  libs/pyrt_component/pyrt/types.py
  libs/pyrt_component/wit/pyrt.wit
  ruff.toml
  typegate/engine/00_runtime.js
  typegate/engine/Cargo.toml
  typegate/engine/bindings.ts
  typegate/engine/runtime.d.ts
  typegate/engine/runtime.js
  typegate/engine/src/ext.rs
  typegate/engine/src/lib.rs
  typegate/engine/src/runtimes.rs
  typegate/engine/src/runtimes/python.rs
  typegate/engine/src/runtimes/python/python_bindings.rs
  typegate/engine/src/runtimes/python/wasi_vm.rs
  typegate/engine/src/runtimes/wasm.rs
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/src/runtimes/Runtime.ts
  typegate/src/runtimes/prisma/hooks/run_migrations.ts
  typegate/src/runtimes/python_wasi/python_vm.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
  typegate/src/runtimes/python_wasi/wit_wire.ts
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/python_wasi/python_wasi.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

refactor: rename to `pyrt_wit_wire`
  .ghjk/.gitignore
  .ghjk/lock.json
  .pre-commit-config.yaml
  Cargo.toml
  dev/Dockerfile
  dev/cross.Dockerfile
  dev/lock.yml
  ghjk.ts
  installer.sh
  libs/pyrt_wit_wire/main.py
  libs/pyrt_wit_wire/pyproject.toml
  libs/pyrt_wit_wire/pyrt/__init__.py
  libs/pyrt_wit_wire/pyrt/exports/__init__.py
  libs/pyrt_wit_wire/pyrt/exports/mat_wire.py
  libs/pyrt_wit_wire/pyrt/imports/__init__.py
  libs/pyrt_wit_wire/pyrt/imports/shared.py
  libs/pyrt_wit_wire/pyrt/imports/typegate_wire.py
  libs/pyrt_wit_wire/pyrt/types.py
  libs/pyrt_wit_wire/wit/pyrt.wit
  ruff.toml
  typegate/engine/src/runtimes/wit_wire.rs
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegraph/python/pyproject.toml
  website/docs/reference/runtimes/deno/index.mdx
  website/docs/reference/runtimes/python/index.mdx
  website/docs/reference/runtimes/s3/index.mdx
  website/docs/reference/typegate/index.mdx
  website/docs/reference/typegate/synchronization/index.mdx
  website/docs/reference/types/parameter-transformations.mdx
  website/docs/reference/types/reducers.mdx
  whiz.yaml
Due: none

fix: pre-commit issue
  .ghjk/lock.json
  .pre-commit-config.yaml
  deno.jsonc.disabled
  deno.lock
  ghjk.ts
  libs/pyrt_wit_wire/main.py
  typegate/engine/runtime.js
  typegate/src/runtimes/python_wasi/python_wasi.ts
Due: deno-fmt, deno-lint
