Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

chore: prepare release 0.1.6-dev.0
  dev/lock.yml
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

allow find for unique/id only
  typegate/tests/prisma/prisma_edgecases.py
  typegate/tests/prisma/prisma_edgecases_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: deno-fmt, deno-lint

handle proxy
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none

add bug notice
  typegate/tests/prisma/prisma_edgecases.py
Due: none

Fix initial migration
  libs/common/src/archive.rs
  libs/common/src/typegraph.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/deno.lock
  typegate/src/runtimes/prisma.ts
  typegate/src/types/typegraph.ts
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

allow null value for arrayof(opt str|int|struct)
  typegate/src/planner/args.ts
  typegate/tests/type_nodes/array_of_optional.py
  typegate/tests/type_nodes/array_of_optional_test.ts
Due: deno-fmt, deno-lint

Fail migration if migration files are not up-to-date
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/runtimes/prisma.ts
Due: deno-fmt, deno-lint

move logic at array level
  typegate/src/planner/args.ts
Due: deno-fmt, deno-lint

Check git repo globally
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/runtimes/prisma.ts
Due: deno-fmt, deno-lint

(gate/native) Log errors before sending to Deno
  Cargo.lock
  typegate/deno.lock
  typegate/native/Cargo.toml
  typegate/native/src/lib.rs
  typegate/native/src/runtimes/prisma/migration.rs
Due: none

Fix pre-commit
  Cargo.lock
  typegate/deno.lock
Due: none

Improved CLI DX (bis2) (#277)
  Cargo.lock
  libs/common/src/archive.rs
  libs/common/src/typegraph.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/deno.lock
  typegate/native/Cargo.toml
  typegate/native/src/lib.rs
  typegate/native/src/runtimes/prisma/migration.rs
  typegate/src/runtimes/prisma.ts
  typegate/src/types/typegraph.ts
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

feat: typos fix and pipeline change
  .github/workflows/publish-website.yml
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  examples/templates/new/compose.yml
  libs/macros/Cargo.toml
  typegate/src/config.ts
  website/docs/reference/changelog.mdx
  website/docs/reference/typegate/prisma-migration/mutations.md
  website/docs/reference/typegate/prisma-migration/objects.md
  website/docs/reference/typegate/prisma-migration/queries.md
  website/docs/reference/typegate/prisma-migration/scalars.md
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegate/typegate/objects.md
  website/docs/reference/typegate/typegate/queries.md
  website/docs/reference/typegate/typegate/scalars.md
  website/metatype.yaml
  website/use-cases/programmable-api-gateway/index.mdx
Due: deno-fmt, deno-lint

chore: type
  Cargo.lock
  dev/lock.yml
  libs/macros/Cargo.toml
  meta-cli/Cargo.toml
  website/docs/reference/typegate/prisma-migration/objects.md
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegate/typegate/objects.md
  website/metatype.yaml
Due: none

fix: typo fix and pipeline change (#278)
  .github/workflows/publish-website.yml
  .github/workflows/tests.yml
  Cargo.lock
  examples/templates/new/compose.yml
  meta-cli/Cargo.toml
  typegate/src/config.ts
  website/docs/reference/changelog.mdx
  website/docs/reference/typegate/prisma-migration/mutations.md
  website/docs/reference/typegate/prisma-migration/objects.md
  website/docs/reference/typegate/prisma-migration/queries.md
  website/docs/reference/typegate/prisma-migration/scalars.md
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegate/typegate/objects.md
  website/docs/reference/typegate/typegate/queries.md
  website/docs/reference/typegate/typegate/scalars.md
  website/metatype.yaml
  website/use-cases/programmable-api-gateway/index.mdx
Due: deno-fmt, deno-lint

feat: add find_first
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

MET-154: (gate) prisma runtime find does not support empty string (#276)
  typegate/src/typegraph/visitor.ts
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegate/tests/prisma/prisma_edgecases.py
  typegate/tests/prisma/prisma_edgecases_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: deno-fmt, deno-lint

feat: add better explanation
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
  dev/Dockerfile
  dev/lock.yml
  website/docs/reference/changelog.mdx
  website/docusaurus.config.js
  website/src/pages/index.tsx
  website/static/images/query-engine.png
Due: es-lint

feat: add better explanation (#279)
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
  dev/Dockerfile
  dev/lock.yml
  website/docs/reference/changelog.mdx
  website/docusaurus.config.js
  website/src/pages/index.tsx
  website/static/images/query-engine.png
Due: es-lint

feat: jwt regex + new build target + upgrade banner
  .github/workflows/release.yml
  Cargo.lock
  README.md
  libs/common/src/lib.rs
  meta-cli/Cargo.toml
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/doctor.rs
  meta-cli/src/cli/upgrade.rs
  meta-cli/src/global_config.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader/discovery.rs
  typegate/native/src/lib.rs
  typegate/tests/policies/policies_jwt.py
  typegate/tests/policies/policies_test.ts
  typegraph/typegraph/policies.py
  website/src/pages/index.graphql
  website/src/pages/index.py
  website/src/pages/index.tsx
Due: deno-fmt, deno-lint, es-lint

fix: typo
  website/src/pages/index.graphql
Due: none

MET-34: enable array of optional's (#271)
  typegate/src/planner/args.ts
  typegate/src/typecheck.ts
  typegate/src/typegraph.ts
  typegate/tests/type_nodes/array_of_optional.py
  typegate/tests/type_nodes/array_of_optional_test.ts
Due: deno-fmt, deno-lint

fix: ci
  dev/mod.ts
  typegate/deno.json
  typegate/deno.lock
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
Due: deno-fmt, deno-lint

fix: ci
  typegate/deno.json
  typegate/deno.lock
Due: none

feat: jwt regex + new build target + upgrade banner (#280)
  .github/workflows/release.yml
  Cargo.lock
  README.md
  dev/mod.ts
  libs/common/src/lib.rs
  meta-cli/Cargo.toml
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/doctor.rs
  meta-cli/src/cli/upgrade.rs
  meta-cli/src/global_config.rs
  meta-cli/src/main.rs
  meta-cli/src/typegraph/loader/discovery.rs
  typegate/deno.json
  typegate/deno.lock
  typegate/native/src/lib.rs
  typegate/tests/policies/policies_jwt.py
  typegate/tests/policies/policies_test.ts
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegraph/typegraph/policies.py
  website/src/pages/index.graphql
  website/src/pages/index.py
  website/src/pages/index.tsx
Due: deno-fmt, deno-lint, es-lint

wip
  typegraph/typegraph/importers/sandbox.py
  typegraph/typegraph/types.py
Due: none

rename to custom
  typegraph/typegraph/importers/sandbox.py
  typegraph/typegraph/types.py
Due: none

fix: ci
  .github/workflows/tests.yml
Due: none

fix: ci
  .github/workflows/release.yml
  .github/workflows/tests.yml
  typegraph/python/tests/runtimes/prisma/test_schema.py
Due: none

feat: add black
  typegraph/python/poetry.lock
  typegraph/python/pyproject.toml
Due: none

Refactoring (types)
  libs/common/src/typegraph/mod.rs
  libs/common/src/typegraph/types.rs
  meta-cli/src/codegen/deno.rs
  typegate/src/types/typegraph.ts
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

Typegraph format for injection switches
  libs/common/src/typegraph.rs
  typegate/src/planner/args.ts
  typegate/src/typecheck.ts
  typegate/src/types/typegraph.ts
  typegraph/typegraph/injection.py
  typegraph/typegraph/types.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

Add e2e test
  libs/common/src/typegraph/validator.rs
  meta-cli/tests/e2e.rs
  meta-cli/tests/e2e/snapshots/e2e__e2e__validator__invalid_injections.snap
  meta-cli/tests/e2e/typegraphs/validator.py
  meta-cli/tests/e2e/validator.rs
  typegraph/typegraph/types.py
Due: none

Pre-compute injection value
  typegate/src/planner/args.ts
Due: deno-fmt, deno-lint

Implement typegraph visitor
  libs/common/src/typegraph/mod.rs
  libs/common/src/typegraph/visitor.rs
Due: none

Static injection validator
  libs/common/src/typegraph/types.rs
  libs/common/src/typegraph/validator.rs
  libs/common/src/typegraph/visitor.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/tests/injection/injection.py
Due: none

Implement injection by effect
  libs/common/src/typegraph.rs
  typegate/src/engine.ts
  typegate/src/planner/args.ts
  typegate/src/planner/mod.ts
  typegate/src/runtimes/utils/graphql_inline_vars.ts
  typegate/src/types.ts
  typegate/src/types/typegraph.ts
  typegate/tests/injection/injection.py
  typegate/tests/injection/injection_test.ts
  typegraph/typegraph/graph/nodes.py
  typegraph/typegraph/injection.py
  typegraph/typegraph/types.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

Fix
  libs/common/src/typegraph/types.rs
Due: none

Update snapshot
  .pre-commit-config.yaml
  meta-cli/tests/e2e/snapshots/e2e__e2e__validator__invalid_injections.snap
  meta-cli/tests/e2e/validator.rs
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
