Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$

fix: cross compilation issues
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

type aware transformer compiler
  libs/common/src/typegraph/parameter_transform.rs
  typegate/src/engine/planner/args.ts
  typegate/src/engine/planner/parameter_transformer.ts
  typegate/src/typegraph/types.ts
  typegraph/core/src/conversion/parameter_transform.rs
  typegraph/core/src/lib.rs
  typegraph/core/src/params/apply.rs
  typegraph/core/src/typedef/func.rs
  typegraph/core/src/utils/mod.rs
  typegraph/core/wit/typegraph.wit
  typegraph/python/typegraph/t.py
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

more tests/fixes
  typegate/src/engine/planner/parameter_transformer.ts
  typegate/tests/params/apply.py
  typegate/tests/params/apply_test.ts
  typegraph/core/src/conversion/parameter_transform.rs
  typegraph/core/src/params/apply.rs
  typegraph/python/typegraph/t.py
Due: deno-fmt, deno-lint

test in-list injection
  typegate/tests/params/apply.py
  typegate/tests/params/apply_test.ts
  typegraph/python/typegraph/t.py
Due: deno-fmt, deno-lint

fix(typegate): fix `tmp` dir issue, bump to 0.3.4 (#583)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  dev-tools/package.json
  dev-tools/ts-language-server/package.json
  dev-tools/vscode-metatype-support/package.json
  dev/Dockerfile
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/node/package.json
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  examples/typegraphs/files-upload.ts
  examples/typegraphs/math.ts
  libs/common/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  pyproject.toml
  typegate/engine/src/runtimes/prisma/migration.rs
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

chore(release): prepare for 0.3.5-0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  dev-tools/package.json
  dev-tools/ts-language-server/package.json
  dev-tools/vscode-metatype-support/package.json
  dev/lock.yml
  examples/templates/deno/compose.yml
  examples/templates/node/compose.yml
  examples/templates/python/compose.yml
  examples/templates/python/pyproject.toml
  libs/common/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  pyproject.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: none

feat: improve sdk switcher
  .vscode/settings.json
  poetry.lock
  website/docs/concepts/features-overview/index.mdx
  website/docs/index.mdx
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/ChoicePicker/index.tsx
  website/src/components/CompareLandscape.tsx
  website/src/components/MiniQL/graphiql.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/SDKTabs/index.tsx
  website/src/pages/index.tsx
  website/src/states/sdk.ts
Due: es-lint

address comments (security)
  typegate/src/engine/planner/parameter_transformer.ts
Due: deno-fmt, deno-lint

fix(test): outdated target version
  Cargo.lock
  dev/lock.yml
  typegate/tests/e2e/self_deploy/self_deploy_test.ts
Due: deno-fmt, deno-lint

fix(examples): outdated version
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/python/typegraph/graph/tg_deploy.py
Due: none

inline validators
  typegate/src/engine/planner/parameter_transformer.ts
  typegate/src/engine/typecheck/inline_validators/boolean.ts
  typegate/src/engine/typecheck/inline_validators/common.ts
  typegate/src/engine/typecheck/inline_validators/constraints.ts
  typegate/src/engine/typecheck/inline_validators/file.ts
  typegate/src/engine/typecheck/inline_validators/list.ts
  typegate/src/engine/typecheck/inline_validators/mod.ts
  typegate/src/engine/typecheck/inline_validators/number.ts
  typegate/src/engine/typecheck/inline_validators/object.ts
  typegate/src/engine/typecheck/inline_validators/string.ts
Due: deno-fmt, deno-lint

refactor(cli): remove transpile postproc
  meta-cli/src/typegraph/loader/mod.rs
  meta-cli/src/typegraph/postprocess.rs
Due: none

visitor context
  libs/common/src/typegraph/validator.rs
  libs/common/src/typegraph/visitor.rs
Due: none

inheritance validator
  Cargo.lock
  libs/common/src/typegraph/types.rs
  libs/common/src/typegraph/validator.rs
  libs/common/src/typegraph/validator/input.rs
  libs/common/src/typegraph/validator/types.rs
  libs/common/src/typegraph/validator/value.rs
  typegate/src/engine/planner/parameter_transformer.ts
Due: deno-fmt, deno-lint

refactor(test/gate): fix website_test, postproc at runtime init => postproc before push
  typegate/src/postprocess.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/runtimes/typegate.ts
  typegate/tests/e2e/typegraph/__snapshots__/typegraph_test.ts.snap
  typegate/tests/e2e/website/website_test.ts
Due: deno-fmt, deno-lint

docs(CONTRIBUTING.md): add local Local typegraph setup with Nodejs
  CONTRIBUTING.md
Due: none

fix(test): reuse previous output and prettify
  typegate/tests/e2e/website/website_test.ts
Due: deno-fmt, deno-lint

fix(ci): bad cpu type in mac os tests
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  dev/lock.yml
Due: none

fix validators
  libs/common/src/typegraph/validator.rs
  libs/common/src/typegraph/validator/common.rs
  libs/common/src/typegraph/validator/input.rs
  libs/common/src/typegraph/validator/mod.rs
  libs/common/src/typegraph/validator/types.rs
  libs/common/src/typegraph/visitor.rs
  typegate/deno.lock
  typegate/tests/e2e/typegraph/__snapshots__/validator_test.ts.snap
Due: none

test from_parent validation
  libs/common/src/typegraph/validator/input.rs
  libs/common/src/typegraph/validator/types.rs
  typegate/tests/e2e/typegraph/__snapshots__/validator_test.ts.snap
  typegate/tests/e2e/typegraph/validator.py
Due: none

some doc comments
  typegate/src/engine/planner/parameter_transformer.ts
Due: deno-fmt, deno-lint

fix(python): address comment, remove print
  typegraph/python/typegraph/graph/tg_deploy.py
  typegraph/python/typegraph/wit.py
Due: none

fix(test): use get_version()
  dev/lock.yml
  typegate/tests/e2e/self_deploy/self_deploy_test.ts
Due: deno-fmt, deno-lint

fix(ci): 🤞
  .github/workflows/tests.yml
Due: none

fix(ci): replace true with os 🤞
  .github/workflows/tests.yml
Due: none

TypeScript client SDK for apply
  typegraph/node/sdk/src/runtimes/deno.ts
  typegraph/node/sdk/src/runtimes/graphql.ts
  typegraph/node/sdk/src/runtimes/http.ts
  typegraph/node/sdk/src/runtimes/python.ts
  typegraph/node/sdk/src/runtimes/wasmedge.ts
  typegraph/node/sdk/src/typegraph.ts
  typegraph/node/sdk/src/types.ts
Due: none

refactor(cli/sdk): move all preps to sdk (wip)
  meta-cli/src/cli/codegen.rs
  meta-cli/src/deploy/actors/loader.rs
  meta-cli/src/typegraph/loader/mod.rs
  meta-cli/src/typegraph/postprocess.rs
  typegraph/node/sdk/src/typegraph.ts
  typegraph/python/typegraph/graph/typegraph.py
Due: none

docs: Add doc for parameter transformation
  website/docs/reference/types/parameter-transformation.mdx
Due: none

upgrade pnpm
  .ghjk/lock.json
  CHANGELOG.md
  Cargo.lock
  dev/lock.yml
  ghjk.ts
Due: none

more tests
  typegate/tests/params/apply.py
  typegate/tests/params/apply_test.ts
Due: deno-fmt, deno-lint

fix tests
  examples/typegraphs/authentication.py
  examples/typegraphs/authentication.ts
  examples/typegraphs/basic.py
  examples/typegraphs/basic.ts
  examples/typegraphs/execute.py
  examples/typegraphs/execute.ts
  examples/typegraphs/jwt.py
  examples/typegraphs/jwt.ts
  examples/typegraphs/oauth2.py
  examples/typegraphs/oauth2.ts
  libs/common/src/typegraph/validator/input.rs
  typegraph/core/src/runtimes/prisma/type_generation/out_type.rs
  typegraph/core/src/runtimes/prisma/type_generation/with_nested_count.rs
  typegraph/core/src/runtimes/prisma/type_utils.rs
Due: none

docs: update docs
  website/docs/reference/types/index.mdx
  website/docs/reference/types/parameter-transformations.mdx
  website/docs/tutorials/metatype-basics/index.mdx
Due: none

disable docker test on arm64
  .github/workflows/tests.yml
Due: none

feat: Add support for non unique fields in Where
  typegate/tests/runtimes/prisma/prisma_test.ts
  typegraph/core/src/runtimes/prisma/type_generation/mod.rs
  typegraph/core/src/runtimes/prisma/type_generation/query_unique_where_expr.rs
  typegraph/core/src/runtimes/prisma/type_generation/query_where_expr.rs
Due: deno-fmt, deno-lint

feat(sdk): testing framework integration 2 (#579)
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  dev/lock.yml
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  libs/common/src/archive.rs
  typegate/tests/e2e/self_deploy/scripts/main.ts
  typegate/tests/e2e/self_deploy/self_deploy.mjs
  typegate/tests/e2e/self_deploy/self_deploy_test.ts
  typegate/tests/metatype.yml
  typegraph/core/src/global_store.rs
  typegraph/core/src/typegraph.rs
  typegraph/core/src/utils/fs_host.rs
  typegraph/core/src/utils/mod.rs
  typegraph/core/src/utils/postprocess/mod.rs
  typegraph/core/src/utils/postprocess/prisma_rt.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/sdk/src/host/host.ts
  typegraph/node/sdk/src/tg_deploy.ts
  typegraph/node/sdk/src/typegraph.ts
  typegraph/python/typegraph/graph/tg_deploy.py
  typegraph/python/typegraph/graph/typegraph.py
  typegraph/python/typegraph/host/host.py
  typegraph/python/typegraph/utils.py
  typegraph/python/typegraph/wit.py
Due: deno-fmt, deno-lint

fix tests
  libs/common/src/typegraph/validator/types.rs
  typegate/tests/injection/injection.py
  typegate/tests/injection/injection.ts
  typegate/tests/injection/injection_test.ts
  typegate/tests/introspection/__snapshots__/introspection_test.ts.snap
  typegate/tests/introspection/__snapshots__/union_either_test.ts.snap
  typegate/tests/introspection/introspection_test.ts
  typegraph/core/src/lib.rs
  typegraph/core/src/runtimes/prisma/type_generation/out_type.rs
  typegraph/core/src/runtimes/prisma/type_generation/with_nested_count.rs
  typegraph/core/src/runtimes/prisma/type_utils.rs
  typegraph/core/src/types/map_children.rs
  typegraph/core/src/types/mod.rs
  typegraph/core/src/utils/mod.rs
  typegraph/core/wit/typegraph.wit
  typegraph/node/sdk/src/runtimes/deno.ts
  typegraph/node/sdk/src/types.ts
  typegraph/python/typegraph/runtimes/deno.py
  typegraph/python/typegraph/t.py
Due: deno-fmt, deno-lint

fix visitor
  libs/common/src/typegraph/validator/mod.rs
  libs/common/src/typegraph/visitor.rs
  typegate/tests/e2e/typegraph/__snapshots__/validator_test.ts.snap
Due: none

fix pre-commit
  CHANGELOG.md
Due: none

feat: from_random injection
  libs/common/src/typegraph/types.rs
  libs/common/src/typegraph/validator.rs
  typegate/deno.lock
  typegate/src/engine/planner/args.ts
  typegate/src/engine/typecheck/common.ts
  typegate/src/runtimes/random.ts
  typegate/src/typegraph/mod.ts
  typegate/src/typegraph/types.ts
  typegate/tests/random/injection/random_injection.py
  typegate/tests/random/injection/random_injection.ts
  typegate/tests/random/injection/random_injection_test.ts
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/node/sdk/src/typegraph.ts
  typegraph/node/sdk/src/types.ts
  typegraph/node/sdk/src/utils/injection_utils.ts
  typegraph/node/sdk/src/utils/type_utils.ts
  typegraph/python/typegraph/injection.py
  typegraph/python/typegraph/t.py
Due: deno-fmt, deno-lint
