Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

Test nested unions
  typegate/src/engine.ts
  typegate/src/engine/computation_engine.ts
  typegate/src/typegraph.ts
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

Fix merge confusions
  typegate/tests/type_nodes/__snapshots__/array_of_optional_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/either_test.ts.snap
Due: none

Fix push typegraph with prefix
  libs/common/src/typegraph/mod.rs
  typegate/src/register.ts
Due: deno-fmt, deno-lint

fix regex pattern, add explicit nullable support
  typegraph/python/typegraph/importers/openapi.py
  typegraph/python/typegraph/utils/jsonschema.py
Due: none

Reload config file on change
  meta-cli/src/cli/deploy.rs
Due: none

Fix: Always show push success indicator
  meta-cli/src/cli/deploy.rs
Due: none

Fix tests
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

patch anyOf, oneOf and unknown schema
  typegraph/python/typegraph/importers/openapi.py
  typegraph/python/typegraph/utils/jsonschema.py
Due: none

Update whiz.yaml
  whiz.yaml
Due: none

Fix tests
  typegate/tests/typecheck/__snapshots__/input_validator_test.ts.snap
  typegate/tests/vars/vars_test.ts
Due: deno-fmt, deno-lint

Fix tests
  typegate/tests/type_nodes/__snapshots__/array_of_optional_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/either_test.ts.snap
  typegate/tests/typecheck/__snapshots__/input_validator_test.ts.snap
  typegate/tests/typecheck/__snapshots__/typecheck_test.ts.snap
Due: none

Bug fixes (#307)
  libs/common/src/typegraph/mod.rs
  meta-cli/src/cli/deploy.rs
  typegate/src/register.ts
  typegate/tests/utils.ts
  whiz.yaml
Due: deno-fmt, deno-lint

chore: prepare release 0.1.8
  Cargo.lock
  dev/lock.yml
  dev/mod.ts
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegate/tests/utils.ts
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/rust/Cargo.toml
  website/src/components/ChoicePicker/index.tsx
  website/src/components/MiniQL/index.tsx
Due: deno-fmt, deno-lint, es-lint

chore: prepare release 0.1.8 (#308)
  Cargo.lock
  dev/lock.yml
  dev/mod.ts
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegate/tests/utils.ts
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/rust/Cargo.toml
  website/src/components/ChoicePicker/index.tsx
  website/src/components/MiniQL/index.tsx
Due: deno-fmt, deno-lint, es-lint

chore: prepare release 0.1.9-dev.0
  dev/lock.yml
  examples/templates/new/compose.yml
  examples/templates/new/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegate/tests/runtimes/wasmedge/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
  typegraph/rust/Cargo.toml
Due: none

autogenerate name from method+path
  examples/typegraphs/devto/devto.py
  examples/typegraphs/devto/devto.pyi
  typegraph/python/typegraph/importers/openapi.py
Due: none

fix google discovery
  typegraph/python/typegraph/importers/google_discovery.py
Due: none

use Box _safe_attr()
  typegraph/python/typegraph/importers/base/importer.py
Due: none

add support union/either
  typegraph/python/typegraph/importers/base/typify.py
  typegraph/python/typegraph/utils/jsonschema.py
Due: none

fix nullable, deprecated
  typegraph/python/typegraph/importers/openapi.py
  typegraph/python/typegraph/utils/jsonschema.py
Due: none

feat: fine-grained licensing
  .pre-commit-config.yaml
  Cargo.lock
  LICENSE-ELv2.md
  LICENSE-MPL-2.0.md
  LICENSE.md
  dev/lock.yml
  meta-cli/Cargo.toml
  typegraph/python/pyproject.toml
  website/docs/reference/changelog.mdx
  website/docusaurus.config.js
  website/src/pages/index.tsx
Due: es-lint

feat: fixed tmp dir creation and logging
  dev/Dockerfile
  dev/mod.ts
  dev/test.ts
  examples/demo/metatype.yml
  typegate/native/src/lib.rs
  typegate/src/config.ts
  typegate/src/main.ts
  typegate/src/replicated_map.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
  typegate/src/system_typegraphs.ts
  typegate/tests/runtimes/deno/deno_test.ts
  website/metatype.yaml
  website/src/pages/index.tsx
Due: deno-fmt, deno-lint, es-lint

feat: simplify launch and env
  dev/test.ts
  typegate/.env.ci
  typegate/native/src/lib.rs
  typegate/src/main.ts
  typegate/src/runtimes/python_wasi/python_wasm_messenger.ts
  typegate/src/typegate.ts
  typegate/src/typegraph.ts
  typegate/tests/crypto/crypto_test.ts
  typegate/tests/env.ts
  typegate/tests/utils.ts
  typegate/tests/utils/q.ts
  website/docs/guides/contributing.md
  whiz.yaml
Due: deno-fmt, deno-lint

fix: tests
  typegate/tests/runtimes/deno/deno_test.ts
Due: deno-fmt, deno-lint

add support url params
  examples/typegraphs/devto/devto.py
  examples/typegraphs/devto/devto.pyi
  typegate/tests/simple/class_syntax.py
  typegraph/python/typegraph/importers/base/importer.py
  typegraph/python/typegraph/importers/openapi.py
  typegraph/python/typegraph/utils/sanitizers.py
Due: none

fix tests
  typegraph/python/tests/__snapshots__/importers/openapi_importer_codegen.txt
  typegraph/python/tests/__snapshots__/importers/openapi_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/google_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/google_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/graphql_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/graphql_importer_type_hint_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/openapi_importer_codegen.txt
  typegraph/python/tests/importers/tests/__snapshots__/importers/openapi_importer_type_hint_codegen.txt
Due: none

fix unsupported operand
  typegraph/python/typegraph/utils/sanitizers.py
Due: none

add missing condition
  typegate/tests/importers/openapi_original.py
  typegraph/python/typegraph/importers/openapi.py
Due: none

fix: secret cannot override env vars
  typegate/src/typegraph.ts
Due: deno-fmt, deno-lint

fix: license file
  .pre-commit-config.yaml
  dev/Dockerfile
  dev/lock.yml
  typegraph/core/Cargo.toml
  typegraph/python/LICENSE.md
  typegraph/rust/Cargo.toml
Due: none

fix: license file
  .github/workflows/tests.yml
  LICENSE.md
  README.md
  typegraph/deno/LICENSE.md
Due: none

fix: tests
  .github/workflows/tests.yml
  dev/envs/compose.base.yml
  dev/lock.yml
  meta-cli/Cargo.toml
  typegraph/python/pyproject.toml
  website/docusaurus.config.js
Due: none

feat: meta dev/deploy can choose the targets
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  typegate/tests/e2e/cli_deploy_test.ts
Due: deno-fmt, deno-lint

fix: pr title
  .github/pr-title-checker-config.json
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
