Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs && cd ../dev && deno fmt'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native && cd ../dev && deno lint'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
  pass_filenames: false

fix alias node for field selection (graphql)
  typegate/src/engine.ts
  typegate/src/planner/mod.ts
  typegate/src/typecheck.ts
  typegate/tests/http/http_content_type_test.ts
Due: deno-fmt, deno-lint

update test
  typegate/tests/typecheck/type_alias.py
  typegate/tests/typecheck/type_alias_test.ts
Due: deno-fmt, deno-lint

fix example in docs
  website/docs/tutorials/your-first-typegraph/query.graphql
Due: none

minor fixes
  typegate/src/engine.ts
  typegate/src/planner/mod.ts
  typegate/tests/typecheck/type_alias_test.ts
Due: deno-fmt, deno-lint

Fix broken tests after merge
  typegate/tests/prisma/aggregate_test.ts
  typegate/tests/prisma/filter_test.ts
  typegate/tests/prisma/full_prisma_mapping_seed.ts
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegate/tests/prisma/group_by_test.ts
  typegate/tests/prisma/nested_count_test.ts
  typegraph/tests/__snapshots__/type_generator/nested_count.json
  typegraph/tests/__snapshots__/type_generator/order_by.json
  typegraph/tests/__snapshots__/type_generator/order_by_2.json
  typegraph/tests/runtimes/prisma/test_type_generator.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: deno-fmt, deno-lint

Use snapshot for type generator tests
  typegraph/tests/__snapshots__/type_generator/relations_input_1.json
  typegraph/tests/__snapshots__/type_generator/relations_input_2.json
  typegraph/tests/__snapshots__/type_generator/relations_where_1.json
  typegraph/tests/__snapshots__/type_generator/relations_where_2.json
  typegraph/tests/__snapshots__/type_generator/self_relation_input.json
  typegraph/tests/__snapshots__/type_generator/self_relation_where.json
  typegraph/tests/__snapshots__/type_generator/simple_input.json
  typegraph/tests/__snapshots__/type_generator/simple_where.json
  typegraph/tests/runtimes/prisma/test_type_generator.py
Due: none

Fix orderBy
  typegraph/tests/__snapshots__/type_generator/order_by.json
  typegraph/tests/__snapshots__/type_generator/order_by_2.json
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none

MET-97: (gate) typecheck does not support alias (#214)
  typegate/src/engine.ts
  typegate/src/planner/mod.ts
  typegate/src/typecheck.ts
  typegate/tests/http/http_content_type_test.ts
  typegate/tests/typecheck/type_alias.py
  typegate/tests/typecheck/type_alias_test.ts
  website/docs/tutorials/your-first-typegraph/query.graphql
Due: deno-fmt, deno-lint

Create hooks logic
  typegate/src/engine.ts
  typegate/src/graphql/graphql.ts
  typegate/src/hooks.ts
  typegate/src/register.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraph.ts
  typegate/src/typegraph/versions.ts
  typegate/tests/query_parsers/__snapshots__/query_parsers_test.ts.snap
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

Remove previous versions
  typegate/src/hooks.ts
Due: deno-fmt, deno-lint

Update CLI
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/mod.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/config.rs
  meta-cli/src/typegraph/postprocess.rs
  meta-cli/src/utils/mod.rs
Due: none

Logging in hooks
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  typegate/src/engine.ts
  typegate/src/hooks.ts
  typegate/src/register.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
Due: deno-fmt, deno-lint

Implement database migration hook for deployment
  libs/common/src/archive.rs
  libs/common/src/typegraph.rs
  libs/xtask/src/codegen/jsonschema.rs
  libs/xtask/src/codegen/typescript.rs
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/prisma.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/config.rs
  meta-cli/src/typegraph/mod.rs
  meta-cli/src/typegraph/postprocess.rs
  meta-cli/src/typegraph/utils.rs
  meta-cli/src/utils/mod.rs
  typegate/src/runtimes/prisma.ts
  typegate/src/runtimes/prisma_migration.ts
  typegate/src/type_node.ts
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegate/src/types/typegraph.ts
  typegate/tests/utils.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  website/docs/reference/changelog.mdx
  website/docs/reference/typegate/prisma-migration/mutations.md
  website/docs/reference/typegate/prisma-migration/objects.md
  website/docs/reference/typegate/typegate/objects.md
  website/docs/reference/typegate/typegate/queries.md
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

wip
  dev/test.ts
  meta-cli/src/cli/prisma.rs
  meta-cli/src/utils/graphql.rs
  typegate/native/src/runtimes/prisma/migration.rs
  typegate/native/src/runtimes/prisma/mod.rs
  typegate/src/log.ts
  typegate/src/runtimes/prisma_migration.ts
  typegate/src/runtimes/typegate.ts
  typegate/src/runtimes/utils/deno_worker.ts
  typegate/src/typegate.ts
  typegate/src/typegraphs/prisma_migration.py
  typegate/tests/cli/deploy_test.ts
  typegate/tests/internal/internal_test.ts
  typegate/tests/prisma/prisma_seed.ts
  typegate/tests/prisma/prisma_test.ts
  typegate/tests/prisma_migrate/prisma_migrate_test.ts
  typegate/tests/utils.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

Test meta deploy auto-migrations
  meta-cli/src/cli/prisma.rs
  meta-cli/src/config.rs
  meta-cli/src/typegraph/postprocess.rs
  typegate/src/runtimes/prisma_migration.ts
  typegate/tests/cli/deploy_test.ts
  typegate/tests/metatype.yml
  typegate/tests/prisma/prisma_seed.ts
  typegate/tests/prisma_migrate/prisma_migrate_test.ts
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

CLI automatic compilation for tests
  typegate/deno.json
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

Fix merge confusions
  meta-cli/src/cli/prisma.rs
  typegate/native/src/runtimes/prisma/migration.rs
Due: none

Add --no-migrations option to `meta deploy`
  meta-cli/src/cli/deploy.rs
Due: none

wip so far
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

add fcm env
  website/.env.sample
Due: none

fix generator
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/fcm.py
Due: none

skip comments
  website/docs/tutorials/import-your-api-blocks/fcm.py
Due: none

Dynamic postprocessor list
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/serialize.rs
  meta-cli/src/typegraph/mod.rs
  meta-cli/src/typegraph/postprocess.rs
Due: none

Rename test file
  typegate/tests/e2e/cli_deploy_test.ts
Due: deno-fmt, deno-lint

Address comments
  meta-cli/src/utils/graphql.rs
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

feat: add ecosystem page
  README.md
  dev/env.ts
  dev/envs/compose.adminer.yml
  dev/envs/compose.base.yml
  dev/envs/compose.elastic.yml
  dev/envs/compose.imgproxy.yml
  dev/envs/compose.prisma.yml
  dev/envs/compose.s3.yml
  website/docs/reference/ecosystem.mdx
  website/docs/sidebars.js
  website/shared/metatype-intro.mdx
  website/vale/Vocab/Metatype/accept.txt
  whiz.yaml
Due: deno-fmt, deno-lint

feat: add python wasi runtime
  typegate/deno.json
  typegate/deno.lock
  typegate/src/runtimes/deno.ts
  typegate/src/runtimes/python_wasi/memory.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/typegraph.ts
  typegate/src/types.ts
  typegate/src/utils.ts
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegraph/typegraph/runtimes/deno.py
  typegraph/typegraph/runtimes/python_wasi.py
Due: deno-fmt, deno-lint

feat: no relative import
  typegate/src/runtimes/python_wasi/memory.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/types.ts
Due: deno-fmt, deno-lint

use HTTPRuntime
  typegraph/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/fcm.py
Due: none

fix inner formatting error (baron)
  typegraph/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

fix types
  typegraph/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

fix optionals and ret type
  typegraph/typegraph/importers/google_discovery.py
  website/docs/tutorials/import-your-api-blocks/google.py
Due: none

feat: add python wasi runtime (#224)
  README.md
  dev/env.ts
  dev/envs/compose.adminer.yml
  dev/envs/compose.base.yml
  dev/envs/compose.elastic.yml
  dev/envs/compose.imgproxy.yml
  dev/envs/compose.prisma.yml
  dev/envs/compose.s3.yml
  typegate/deno.json
  typegate/deno.lock
  typegate/src/runtimes/deno.ts
  typegate/src/runtimes/python_wasi/memory.ts
  typegate/src/runtimes/python_wasi/python_wasi.ts
  typegate/src/typegraph.ts
  typegate/src/utils.ts
  typegate/tests/runtimes/python_wasi/python_wasi.py
  typegate/tests/runtimes/python_wasi/python_wasi_test.ts
  typegraph/typegraph/runtimes/deno.py
  typegraph/typegraph/runtimes/python_wasi.py
  website/docs/reference/ecosystem.mdx
  website/docs/sidebars.js
  website/shared/metatype-intro.mdx
  website/vale/Vocab/Metatype/accept.txt
  whiz.yaml
Due: deno-fmt, deno-lint

chore: docs improvement
  meta-cli/src/cli/mod.rs
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  website/docs/reference/changelog.mdx
  website/docs/reference/typegate/prisma-migration/mutations.md
  website/docs/reference/typegate/prisma-migration/objects.md
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegate/typegate/objects.md
  website/docs/reference/typegate/typegate/queries.md
  website/docs/tutorials/authentication-and-security/authentication.py
  website/docs/tutorials/authentication-and-security/cors.py
  website/docs/tutorials/authentication-and-security/index.mdx
  website/docs/tutorials/authentication-and-security/rate.py
  website/docs/tutorials/getting-started.mdx
  website/src/pages/index.tsx
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/orm-for-the-edge/index.mdx
  whiz.yaml
Due: es-lint

fix: missing files
  examples/poetry.lock
  examples/pyproject.toml
  typegraph/poetry.lock
  typegraph/pyproject.toml
Due: none

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
