Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, deno-fmt, deno-lint, es-lint

rust-fmt:
  name: Rust format
  language: system
  entry: bash -c 'cd typegate/native && cargo fmt --all && cd ../.. && cd typegraph/native && cargo fmt'
  pass_filenames: false

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,workers,src/typegraphs'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any,no-unused-vars --ignore=native'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && pnpm lint'
  pass_filenames: false

Use deterministic type identifiers
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGraphRuntime.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/test.json
  typegate/src/typegraphs/typegate.json
  typegraph/tests/materializers/prisma/test_schema.py
  typegraph/tests/test_dependency.py
  typegraph/tests/test_typegraph.py
  typegraph/tests/test_typegraphs.py
  typegraph/typegraph/graphs/builders.py
  typegraph/typegraph/graphs/typegraph.py
  typegraph/typegraph/types/typedefs.py
Due: deno-fmt, deno-lint

Upgrade deno and deno_bindgen
  typegate/native/Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGraphRuntime.ts
Due: deno-fmt, deno-lint

Upgrade deno_bindgen
  typegate/native/bindings/bindings.ts
Due: deno-fmt, deno-lint

fix main
  .gitlab-ci.yml
  website/.gitignore
  website/.vale.ini
Due: none

fix pipeline
  .pre-commit-config.yaml
  typegate/native/Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/bindings/bindings.ts
  typegraph/native/Cargo.lock
  typegraph/native/Cargo.toml
Due: deno-fmt, deno-lint

go back to deno 1.23.4
  typegate/src/runtimes/TypeGraphRuntime.ts
Due: deno-fmt, deno-lint

back to deno 1.22
  .gitlab-ci.yml
Due: none

back to deno 1.22
  .gitlab-ci.yml
  typegate/native/bindings/bindings.ts
Due: deno-fmt, deno-lint

start design
  typegate/native/bindings/bindings.ts
  website/.gitignore
  website/.vale.ini
  website/docs/concepts/overview.mdx
  website/docs/tutorials/quickstart.md
  website/docs/tutorials/quickstart.mdx
  website/docusaurus.config.js
  website/pnpm-lock.yaml
  website/src/components/Feature/index.tsx
  website/src/components/Feature/styles.module.css
  website/src/components/HomepageFeatures/index.tsx
  website/src/components/HomepageFeatures/styles.module.css
  website/src/css/custom.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/static/img/bg.svg
  website/static/img/bring-your-own-components.svg
  website/static/img/commercial-support.svg
  website/static/img/compose-api-blocks.svg
  website/static/img/design-discover.svg
  website/static/img/docusaurus.png
  website/static/img/favicon.ico
  website/static/img/iterate-quickly.svg
  website/static/img/logo.svg
  website/static/img/secure-by-default.svg
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
  website/vale/Vocab/Metatype/accept.txt
  website/vale/Vocab/Metatype/reject.txt
Due: deno-fmt, deno-lint, es-lint

fix lockfile
  website/pnpm-lock.yaml
Due: none

Get serialized typegraph from typgate runtime
  typegate/native/Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGateRuntime.ts
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/dist/typegate.py
Due: deno-fmt, deno-lint

Get serialized typegraph from typgate runtime
  typegate/native/Cargo.lock
  typegate/native/Cargo.toml
  typegate/native/bindings/bindings.ts
  typegate/src/runtimes/TypeGateRuntime.ts
  typegate/src/typegraphs/typegate.json
  typegraph/typegraph/dist/typegate.py
  typegraph/typegraph/materializers/deno.py
Due: deno-fmt, deno-lint

Update website/pnpm-lock.yaml
  website/pnpm-lock.yaml
Due: none

Update bindings.ts
  typegate/native/bindings/bindings.ts
Due: deno-fmt, deno-lint

Path conditions:
  rust-fmt: any of: ^(typegate|typegraph)/native/ and \.rs$
  deno-fmt: any of: ^typegate/ and \.(ts|mts|cts)$
  deno-lint: any of: ^typegate/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
