Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint, devtools-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev|typegraph/node)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: (any of: ^typegraph/node/sdk and \.(ts|mts|cts)$, \.tsx$ and not (node_modules)) or (any of: ^website/ and \.(ts|mts|cts)$, \.tsx$ and not (^website/typegraphs/))
  devtools-lint: any of: ^meta-lsp/ and \.(ts|mts|cts)$

fix(docs): fix demo typegraphs 2 (#756)
  .ghjk/lock.json
  examples/metatype.yaml
  examples/typegraphs/graphql.py
  examples/typegraphs/graphql.ts
  typegate/src/runtimes/prisma/prisma.ts
  typegate/tests/runtimes/graphql/__snapshots__/graphql_test.ts.snap
  typegate/tests/runtimes/graphql/graphql_test.ts
  typegate/tests/runtimes/graphql/typegraphs/deno/graphql.ts
  typegate/tests/runtimes/graphql/typegraphs/python/graphql.py
  website/docs/guides/securing-requests/authentication.graphql
  website/docs/guides/securing-requests/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/docs/tutorials/metatype-basics/reduce.graphql
Due: deno-fmt, deno-lint

fix: deno2node compilation, outdated examples
  .gitignore
  dev/deno2node.ts
  examples/deploy/deploy.mjs
  examples/deploy/deploy.py
  examples/deploy/deploy.ts
  examples/deploy/package.json
  examples/deploy/pnpm-lock.yaml
Due: deno-fmt, deno-lint

fix: node template imports
  examples/templates/node/api/example.ts
Due: none

fix: dev env
  .github/workflows/tests.yml
  .vscode/settings.json
  typegraph/deno/dev/deno2node.ts
  whiz.yaml
Due: none

chore(docs): fix tg deploy docs
  website/docs/guides/programmatic-deployment/index.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
Due: none

fix: .venv hack for ghjk
  .github/workflows/tests.yml
  dev/test.ts
  typegate/tests/metagen/typegraphs/identities/py/handlers_types.py
Due: deno-fmt, deno-lint

fix multi-level unions
  typegate/src/engine/typecheck/result.ts
  typegate/src/typegraph/mod.ts
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

chore: bump temporal_cli to 0.13.1
  .ghjk/lock.json
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  ghjk.ts
  typegate/tests/runtimes/temporal/temporal_test.ts
Due: deno-fmt, deno-lint

wip: disable `wasm-tools` debug command
  dev/test.ts
  examples/typegraphs/metagen/rs/build.sh
  typegate/tests/metagen/typegraphs/identities/rs/build.sh
  typegate/tests/runtimes/wasm_reflected/rust/build.sh
  typegate/tests/runtimes/wasm_wire/rust/build.sh
Due: deno-fmt, deno-lint

wip: wip
  .ghjk/lock.json
  dev/tasks-fetch.ts
  dev/tasks-install.ts
  dev/tasks-test.ts
Due: deno-fmt, deno-lint

fix wasm wire tests
  typegate/src/engine/planner/policies.ts
  typegate/src/runtimes/deno/deno.ts
  typegate/src/services/auth/mod.ts
  typegate/tests/runtimes/wasm_wire/wasm_wire_test.ts
  typegraph/core/src/lib.rs
  whiz.yaml
Due: deno-fmt, deno-lint

chore: faster cache (#746)
  .github/workflows/tests.yml
  website/docs/tutorials/quick-start/index.mdx
Due: none

fix: website test
  .ghjk/lock.json
  .vscode/settings.json
  examples/typegraphs/func-ctx.ts
  typegate/tests/e2e/website/website_test.ts
  typegraph/deno/dev/deno2node.ts
Due: deno-fmt, deno-lint

fix: template test
  .pre-commit-config.yaml
  examples/templates/node/tsconfig.json
  typegate/tests/e2e/templates/templates_test.ts
Due: deno-fmt, deno-lint

chore(docs): test and fix tg deploy/remove how-to
  website/docs/guides/programmatic-deployment/index.mdx
Due: none

wip: back to old fetch
  .github/workflows/tests.yml
Due: none

refactor: sccache for release pipeline
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

fix: typeCheck reports
  .github/workflows/release.yml
  typegate/tests/metagen/typegraphs/metagen.ts
  typegraph/deno/dev/deno2node.ts
  typegraph/deno/sdk/src/tg_artifact_upload.ts
  typegraph/deno/sdk/src/tg_deploy.ts
Due: deno-fmt, deno-lint

fix: template test (deno)
  examples/templates/deno/api/example.ts
  typegate/tests/e2e/templates/templates_test.ts
Due: deno-fmt, deno-lint

refactor: bump ghjk to 0.2.0
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  dev/Dockerfile
  dev/consts.ts
  dev/cross.Dockerfile
  whiz.yaml
Due: deno-fmt, deno-lint

Update tests.yml
  .github/workflows/tests.yml
Due: none

fix(docs): Fix programmatic deployment guides (#762)
  website/docs/guides/programmatic-deployment/index.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/projects/tab-first-project-ts.mdx
Due: none

chore: bump to next patch version
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/node/package.json
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

chore: bump temporal_cli to 0.13.1 (#763)
  .ghjk/lock.json
  .pre-commit-config.yaml
  ghjk.ts
  typegate/tests/runtimes/temporal/temporal_test.ts
Due: deno-fmt, deno-lint

chore: Bump `METATYPE_VERSION` to 0.4.3 (#764)
  Cargo.lock
  Cargo.toml
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/node/package.json
  examples/templates/python/pyproject.toml
  ghjk.ts
  libs/common/Cargo.toml
  libs/metagen/tests/mat_rust/Cargo.toml
  libs/pyrt_wit_wire/pyproject.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  meta-lsp/package.json
  meta-lsp/ts-language-server/package.json
  meta-lsp/vscode-metatype-support/package.json
  pyproject.toml
  typegate/import_map.json
  typegate/src/runtimes/wit_wire/mod.ts
  typegate/tests/metagen/__snapshots__/metagen_test.ts.snap
  typegate/tests/runtimes/wasm_reflected/rust/Cargo.toml
  typegraph/core/Cargo.toml
  typegraph/core/src/global_store.rs
  typegraph/node/package.json
  typegraph/node/sdk/package.json
  typegraph/python/pyproject.toml
  typegraph/python/typegraph/__init__.py
Due: deno-fmt, deno-lint

fix: missing typegraph
  CONTRIBUTING.md
  examples/typegraphs/microservice-orchestration.py
  examples/typegraphs/microservice-orchestration.ts
  website/packages/code-loader-transform.js
Due: none

fix: tests
  website/packages/code-loader-transform.js
Due: none

fix: missing typegraph
  Cargo.lock
Due: none

fix: missing typegraphs (#755)
  CONTRIBUTING.md
  Cargo.lock
  examples/typegraphs/microservice-orchestration.py
  examples/typegraphs/microservice-orchestration.ts
  website/packages/code-loader-transform.js
Due: none

feat: use code-loader for all
  .pre-commit-config.yaml
  website/.eslintrc.cjs
  website/blog/2023-06-18-programmable-glue/index.mdx
  website/docs/concepts/features-overview/index.mdx
  website/docs/guides/external-functions/index.mdx
  website/docs/guides/import-external-modules/index.mdx
  website/docs/guides/import-your-existing-apis/index.mdx.disabled
  website/docs/guides/securing-requests/index.mdx
  website/docs/reference/policies/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/reference/runtimes/http/index.mdx
  website/docs/reference/runtimes/prisma/index.mdx
  website/docs/reference/runtimes/random/index.mdx
  website/docs/reference/runtimes/temporal/index.mdx
  website/docs/reference/typegate/authentication/index.mdx
  website/docs/reference/typegate/rate-limiting/index.mdx
  website/docs/reference/types/injections.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/package.json
  website/packages/code-loader.js
  website/pnpm-lock.yaml
  website/shared/cors/index.mdx
  website/shared/projects/tab-first-project-python.mdx
  website/shared/s3/index.mdx
  website/src/pages/index.tsx
  website/use-cases/automatic-crud-validation/index.mdx
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/faas-runner/index.mdx
  website/use-cases/graphql-server/index.mdx
  website/use-cases/iam-provider/index.mdx
  website/use-cases/microservice-orchestration/index.mdx
  website/use-cases/orm-for-the-edge/index.mdx
  website/use-cases/programmable-api-gateway/index.mdx
Due: es-lint

fix: style
  .pre-commit-config.yaml
  website/docs/guides/import-external-modules/index.mdx
  website/docs/guides/import-your-existing-apis/index.mdx.disabled
  website/docs/guides/wasm-functions/index.mdx
  website/docs/reference/types/importers/index.mdx.disabled
Due: none

fix: style
  website/docs/guides/import-external-modules/index.mdx
Due: none

remove obsolete comments
  .ghjk/lock.json
  typegate/src/runtimes/deno/deno.ts
  typegate/src/services/auth/mod.ts
  typegate/src/services/auth/protocols/internal.ts
  typegraph/core/src/lib.rs
  whiz.yaml
Due: deno-fmt, deno-lint

feat: use basic template on MCLI_LOADER_CMD
  libs/metagen/src/tests/fixtures.rs
  meta-cli/src/deploy/actors/task/command.rs
  meta-cli/src/deploy/actors/task/command/typescript.rs
  typegate/tests/e2e/templates/templates_test.ts
  typegate/tests/e2e/website/website_test.ts
Due: deno-fmt, deno-lint

fix: prepare merge
  .ghjk/lock.json
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  examples/typegraphs/microservice-orchestration.ts
  ghjk.ts
  typegate/tests/e2e/website/website_test.ts
  whiz.yaml
Due: deno-fmt, deno-lint

chore: adapt typegraph build
  .ghjk/deno.lock
  .ghjk/lock.json
  dev/consts.ts
  dev/tasks-build.ts
  dev/tasks-install.ts
  dev/tasks-lock.ts
  typegate/tests/e2e/website/website_test.ts
  typegraph/deno/dev/deno2node.ts
Due: deno-fmt, deno-lint
