Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

Path conditions:
  deno-fmt: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  deno-lint: any of: ^(typegate|dev)/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$

fix(ci): mismatch in location of `$AZURE_DEVOPS_TOKEN` (#551)
  .github/workflows/release.yml
Due: none

fix vscode extension publisher name and version
  Cargo.lock
  dev-tools/metatype-devtools-0.2.5.vsix
  dev-tools/package.json
  dev-tools/ts-language-server/package.json
  dev-tools/vscode-metatype-support/package.json
  dev/lock.yml
Due: none

fix(website): deno module files
  website/docs/guides/external-functions/index.mdx
  website/typegraphs/func.py
  website/typegraphs/math.py
  website/typegraphs/scripts/fib.ts
  website/typegraphs/scripts/md2html.ts.src
Due: es-lint

fix(vscode-extension): Fix publisher name and version (#553)
  Cargo.lock
  dev-tools/metatype-devtools-0.2.5.vsix
  dev-tools/package.json
  dev-tools/ts-language-server/package.json
  dev-tools/vscode-metatype-support/package.json
  dev/lock.yml
Due: none

feat(dev): init typegraph converter tg-py2ts tool
  dev/tg-py2ts.ts
  dev/tree-view.ts
Due: deno-fmt, deno-lint

feat: Logo, README, display name, description
  dev-tools/.vscodeignore
  dev-tools/README.md
  dev-tools/logo.png
  dev-tools/package.json
Due: none

feat(vscode-ext): Logo, README, display name, description (#554)
  dev-tools/.vscodeignore
  dev-tools/README.md
  dev-tools/logo.png
  dev-tools/package.json
Due: none

feat: flattened context
  typegate/src/services/auth/mod.ts
  typegate/src/services/auth/protocols/oauth2.ts
Due: deno-fmt, deno-lint

test: update tests
  typegate/tests/auth/auth_test.ts
Due: deno-fmt, deno-lint

feat(tg-py2ts): translate typegraph body
  dev/tg-py2ts.ts
Due: deno-fmt, deno-lint

chore(website): wip translation
  dev/tg-py2ts.ts
  website/typegraphs/authentication.ts
  website/typegraphs/backend-for-frontend.ts
  website/typegraphs/basic.ts
  website/typegraphs/cors.ts
  website/typegraphs/database.ts
  website/typegraphs/package.json
  website/typegraphs/pnpm-lock.yaml
Due: deno-fmt, deno-lint, es-lint

update test runner
  dev/deps.ts
  dev/test.ts
Due: deno-fmt, deno-lint

Multi-field id support
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/runtimes/prisma/schema_generation_test.ts
  typegraph/core/src/runtimes/prisma/context.rs
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/core/src/runtimes/prisma/type_generation/query_unique_where_expr.rs
Due: deno-fmt, deno-lint

id on foreign key
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/runtimes/prisma/schema_generation_test.ts
  typegraph/core/src/runtimes/prisma/id_fields.rs
  typegraph/core/src/runtimes/prisma/mod.rs
  typegraph/core/src/runtimes/prisma/model.rs
Due: deno-fmt, deno-lint

feat: multi-field unique constraint
  libs/common/src/typegraph/runtimes/prisma.rs
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/src/typegraph/types.ts
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/runtimes/prisma/schema_generation_test.ts
  typegraph/core/src/runtimes/prisma/constraints.rs
  typegraph/core/src/runtimes/prisma/context.rs
  typegraph/core/src/runtimes/prisma/mod.rs
  typegraph/core/src/runtimes/prisma/model.rs
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

test: fix tests
  typegate/tests/runtimes/prisma/schema_generation_test.ts
Due: deno-fmt, deno-lint

test: foreign id
  typegate/tests/runtimes/prisma/full_prisma_mapping.py
  typegate/tests/runtimes/prisma/full_prisma_mapping_test.ts
Due: deno-fmt, deno-lint

feat(node): enable partial fields completion
  typegraph/node/sdk/src/typegraph.ts
  typegraph/node/sdk/tsconfig.json
  whiz.yaml
Due: none

feat(prisma): Add support multi-field ids and id on struct (#556)
  dev/deps.ts
  dev/test.ts
  libs/common/src/typegraph/runtimes/prisma.rs
  typegate/src/runtimes/prisma/hooks/generate_schema.ts
  typegate/src/typegraph/types.ts
  typegate/tests/runtimes/prisma/full_prisma_mapping.py
  typegate/tests/runtimes/prisma/full_prisma_mapping_test.ts
  typegate/tests/runtimes/prisma/schema_generation.py
  typegate/tests/runtimes/prisma/schema_generation_test.ts
  typegraph/core/src/runtimes/prisma/constraints.rs
  typegraph/core/src/runtimes/prisma/context.rs
  typegraph/core/src/runtimes/prisma/mod.rs
  typegraph/core/src/runtimes/prisma/model.rs
  typegraph/core/src/runtimes/prisma/type_generation/query_unique_where_expr.rs
  website/static/specs/0.0.3.json
Due: deno-fmt, deno-lint

fix custom profiler
  typegraph/python/typegraph/graph/params.py
Due: none

feat(node): easier per effect frontend
  typegraph/node/sdk/src/policy.ts
  typegraph/node/sdk/src/types.ts
Due: none

fix(website): react import squiggles + replace <h[0-9]> with @theme/Heading
  .pre-commit-config.yaml
  website/blog/2023-06-18-programmable-glue/index.mdx
  website/src/pages/index.tsx
  website/tsconfig.json
  website/typegraphs/backend-for-frontend.ts
  website/typegraphs/index.py
Due: es-lint

chore(website): wip translation
  dev/tg-py2ts.ts
  website/typegraphs/deno.ts
  website/typegraphs/example_rest.ts
  website/typegraphs/execute.ts
  website/typegraphs/faas-runner.ts
  website/typegraphs/files-upload.ts
  website/typegraphs/first-typegraph.ts
  website/typegraphs/func.ts
  website/typegraphs/graphql-server.ts
  website/typegraphs/graphql.ts
Due: deno-fmt, deno-lint, es-lint

feat(node): node fontend missing features (#557)
  typegraph/node/sdk/src/policy.ts
  typegraph/node/sdk/src/typegraph.ts
  typegraph/node/sdk/src/types.ts
  typegraph/node/sdk/tsconfig.json
  whiz.yaml
Due: none

fix(tg-pyt2ts): better implementation
  dev/tg-py2ts.ts
Due: deno-fmt, deno-lint

refactor(tg-py2ts): cleanups
  dev/tg-py2ts.ts
  dev/utils.ts
Due: deno-fmt, deno-lint

fix(examples): update sdk version to 0.3.2
  Cargo.lock
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/node/api/example.ts
  examples/templates/node/package.json
  examples/templates/node/tsconfig.json
Due: none

fix(test): force any type on argument
  typegate/tests/e2e/templates/templates_test.ts
Due: deno-fmt, deno-lint

feat(node): add missing static
  typegate/tests/runtimes/deno/deno_static.ts
  typegate/tests/runtimes/deno/deno_test.ts
  typegraph/node/sdk/src/runtimes/deno.ts
Due: deno-fmt, deno-lint

chore(website): translate remaining typegraphs
  dev/tg-py2ts.ts
  website/typegraphs/iam-provider.ts
  website/typegraphs/index.ts
  website/typegraphs/jwt.ts
  website/typegraphs/math.ts
  website/typegraphs/microservice-orchestration.ts
  website/typegraphs/oauth2.ts
  website/typegraphs/policies.ts
  website/typegraphs/prisma-runtime.ts
  website/typegraphs/prisma.ts
  website/typegraphs/programmable-api-gateway.ts
  website/typegraphs/random.ts
  website/typegraphs/rate.ts
  website/typegraphs/reduce.ts
  website/typegraphs/rest.ts
  website/typegraphs/roadmap-policies.ts
  website/typegraphs/triggers.ts
Due: deno-fmt, deno-lint, es-lint

feat(node): add rate
  typegraph/node/sdk/src/types.ts
Due: none

refactor(node): better syntax
  typegraph/node/sdk/src/types.ts
Due: none

fix(website): uncomment rate declaration
  website/typegraphs/rate.ts
Due: es-lint

fix(template/node): update sdk version to 0.3.2 + add `deno.static` (#558)
  Cargo.lock
  dev/lock.yml
  examples/templates/deno/api/example.ts
  examples/templates/node/api/example.ts
  examples/templates/node/package.json
  examples/templates/node/tsconfig.json
  typegate/tests/e2e/templates/templates_test.ts
  typegate/tests/runtimes/deno/deno_static.ts
  typegate/tests/runtimes/deno/deno_test.ts
  typegraph/node/sdk/src/runtimes/deno.ts
  typegraph/node/sdk/src/types.ts
Due: deno-fmt, deno-lint

feat(website): handle multiple lang
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/MiniQL/index.tsx
  website/src/components/TGExample/index.tsx
  website/typegraphs/package.json
  website/typegraphs/pnpm-lock.yaml
Due: es-lint

feat(website): display typescript version
  website/blog/2023-06-18-programmable-glue/index.mdx
  website/docs/guides/securing-requests/index.mdx
  website/docs/reference/policies/index.mdx
  website/docs/reference/runtimes/deno/index.mdx
  website/docs/reference/runtimes/graphql/index.mdx
  website/docs/reference/runtimes/prisma/index.mdx
  website/docs/reference/typegate/authentication/index.mdx
  website/docs/reference/typegate/cors/index.mdx
  website/docs/reference/typegate/rate-limiting/index.mdx
  website/docs/tutorials/building-feature-roadmap-api/index.mdx
  website/docs/tutorials/metatype-basics/index.mdx
  website/src/pages/index.tsx
  website/use-cases/automatic-crud-validation/index.mdx
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/faas-runner/index.mdx
  website/use-cases/graphql-server/index.mdx
  website/use-cases/iam-provider/index.mdx
  website/use-cases/microservice-orchestration/index.mdx
  website/use-cases/orm-for-the-edge/index.mdx
  website/use-cases/programmable-api-gateway/index.mdx
Due: es-lint

fix(website/ci): dist requirement
  .github/workflows/tests.yml
Due: none

fix(ci): missing dist
  .github/workflows/tests.yml
Due: none

Revert "fix(website/ci): dist requirement"
  .github/workflows/tests.yml
Due: none
